﻿/* Main: $about-us-css * @about-fit-on-pc * @about-fit-on-tablet * @about-fit-on-mobile

/* @about-fit-on-pc */
@media (min-width: 1199px) {
.about-fit-on-pc { 
	width: 1015px;
 } 
/* about-container */
.about-blairmimi-container {
	width: 100%;
	padding: 10px;
	background-color: #f270b7;
	border-radius: 4px;
 }
.about-text-container { 
	width: 670px;
 } 
.about-title {
	margin: 25px 0 15px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 23px;
	font-weight: bold;
 }
/* about-pic-and-text */
.about-pink-pic {
	border: 2px solid #fff;
	border-radius: 4px;
 }
 .about-pink-describe {
	width: 69%;
	margin: 28px 8px 0 0;
	color: #ffffff;
 }
/* about-body-text */
.about-body-title {
	margin: 25px 0 5px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 23px;
	font-weight: bold;
	color: #f270b7;	
 }
.about-body-description {
	font-weight: normal !important;
}
/* about-facebook */
.about-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* about-newsletter */
.about-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.about-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-weight: bold;
 }
.about-newsletter-btn { 
	margin-top: 20px; 
 }
.about-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
 }
}

/* @about-fit-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) {
.about-fit-on-tablet {
	width: 908px;
 }
.about-blairmimi-container {
	width: 100%;
	padding: 10px;
	background-color: #f270b7;
	border-radius: 4px;
 }
.about-text-container {
	width: 590px;
 }
.about-title {
	margin: 25px 0 15px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
 }
/* about-pic-and-text */
.about-pink-pic {
	border: 2px solid #fff;
	border-radius: 4px;
 }
.about-pink-describe {
	width: 65%;
	margin: 20px 7px 0 0;
	color: #ffffff;
	font-size: 13px;
 }
/* about-body-text */
.about-body-title {
	margin: 25px 0 5px 0;
	color: #f270b7;
	font-size: 23px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.about-body-description {
	font-weight: normal !important;
	font-size: 13px;
}
/* about-facebook */
.about-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* about-newsletter */
.about-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.about-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.about-newsletter-btn {
	margin: 20px 0 0 0;
 }
.about-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 13px;
 }
}

/* @about-fit-on-tablet */
@media (min-width: 768px) and (max-width: 992px) {
.about-fit-on-tablet {
	width: 687px;
 }
.about-blairmimi-container {
	width: 100%;
	padding: 10px;
	background-color: #f270b7;
	border-radius: 4px;
 }
.about-text-container {
	width: 687px;
 }
.about-title {
	margin: 25px 0 15px 0;
	font-size: 23px;
	text-align: center;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
/* about-pic-and-text */
.about-pink-pic {
	border: 2px solid #fff;
	border-radius: 4px;
 }
.about-pink-describe {
	width: 65%;
	margin: 25px 14px 0 0;
	color: #ffffff;
	font-size: 13px;
 }
/* about-body-text */
.about-body-title {
	margin: 25px 0 5px 0;
	color: #f270b7;
	font-size: 23px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
 .about-body-description {
	font-weight: normal !important;
	font-size: 13px;
}

/* about-facebook */
.about-fb-frame {
    float:left;
	width: 335px;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
 /* about-newsletter */
.about-newsletter {
    float:right;
	width: 335px;
	height: 245px;
	margin-bottom: 25px;
	padding: 50px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.about-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-size: 13px; 
 }
.about-newsletter-btn { 
	margin-top: 20px;
 }
.about-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	font-size: 13px; 
 }
}

/* @about-fit-on-mobile */
@media (min-width: 461px) and (max-width: 767px) {
.about-fit-on-mobile {
	width: 100%;
	padding: 0 10px 0 10px;
 }
.about-blairmimi-container {
	width: 100%;
	padding: 10px;
	background-color: #f270b7;
	border-radius: 4px;
 }
.about-text-container { 
	width: 100%; 
 } 
.about-title {
	margin: 0 0 15px 10px;
	text-align: center;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
/* about-pic-and-text */
.about-pink-pic-container {
	width: 25%;
	
 }
.about-pink-pic {
	width: 100%;
	border: 2px solid #fff;
	border-radius: 4px;
 }
.about-pink-describe {
	width: 70%;
	margin: 10px 7px 0 0;
	color: #ffffff;
	font-size: 13px;
 }
/* about-body-text */
.about-body-title {
	margin: 25px 0 5px 0;
	color: #f270b7;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.about-body-description {
	font-weight: normal !important;
	font-size: 13px;
 }  
/* about-facebook */
.about-fb-frame {
	width: 100%;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* about-newsletter */
.about-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.about-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.about-newsletter-btn { 
	margin: 20px 0 0 0;
 }
.about-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 }
}

/* @about-fit-on-mobile */
@media (min-width: 1px) and (max-width: 460px) {
.about-fit-on-mobile {
	width: 100%;
	padding: 0 10px 0 10px;
 }
.about-blairmimi-container {
	width: 100%;
	padding: 10px;
	background-color: #f270b7;
	border-radius: 4px;
 }
.about-text-container { 
	width: 100%;
 }
 
.about-title {
	margin: 0 0 15px 0;
	text-align: center;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
 /* about-pic-and-text */
.about-pink-pic-container { 
	width: 25%;
 }
.about-pink-pic {
	width: 100%;
	border: 2px solid #fff;
	border-radius: 4px;
 }
.about-pink-describe {
	width: 70%;
	margin: 0;
	color: #ffffff;
	font-size: 13px;
 }
/* about-body-text */
.about-body-title {
	margin: 25px 0 5px 0;
	color: #f270b7;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.about-body-description {
    font-weight: normal !important;
	font-size: 13px;
 }
/* about-facebook */
.about-fb-frame {
	width: 100%;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* about-newsletter */
.about-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.about-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.about-newsletter-btn { 
	margin: 20px 0 0 0; 
 }
.about-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 }
}
 /* End Main: about-us-css */