﻿/* Main: $affiliate-css 
         @affiliate-fit-on-pc-1199px
         @affiliate-fit-on-tablet-993-to-1198px
         @affiliate-fit-on-tablet-768px-to-992px
         @affiliate-fit-on-mobile-461px-to-767px
         @affiliate-fit-on-mobile-1px-to-460px
*/
 
 
 /* Main: $affiliate-css */
/* @affiliate-fit-on-pc-1199px */
@media (min-width: 1199px) {
.affiliate-fit-on-pc {
	width: 1015px;
}
/* affiliate-container */
.affiliate-text-container {
	width: 670px;
} 
/* affiliate-text-container */
.affiliate-steps {
	margin: 25px 0 25px 0;
	border-radius: 4px;
 }
.affiliate-title {
	padding-bottom: 10px;
	color: #f270b7;
	text-align: center;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 23px;
	font-weight: bold;
 }
.affiliate-describe {
	text-align: center;
	font-weight: normal !important;
 }
/* affiliate-facebook */
.affiliate-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* affiliate-newsletter */
.affiliate-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.affiliate-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-weight: bold;
 }
.affiliate-newsletter-btn { 
	margin-top: 20px; 
 }
.affiliate-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
 }
}

/* @affiliate-fit-on-tablet-993-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
.affiliate-fit-on-tablet {
	width: 908px;
}
 
/* how-container */
.affiliate-text-container {
	width: 589px;
}
 
/* affiliate-text-container */
.affiliate-steps {
	margin: 25px 0 25px 0;
	border-radius: 4px;
 }
.affiliate-title {
	padding-bottom: 10px;
	color: #f270b7;
	text-align: center;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.affiliate-describe {
	text-align: center;
	font-weight: normal !important;
	font-size: 13px;
 }
/* affiliate-facebook */
.affiliate-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* affiliate-newsletter */
.affiliate-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.affiliate-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.affiliate-newsletter-btn {
	margin: 20px 0 0 0;
 }
.affiliate-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 13px;
 }
}
/* @affiliate-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
.affiliate-fit-on-tablet {width: 690px;}
 
/* how-container */
.affiliate-text-container {width: 690px;}
 
/* affiliate-text-container */
.affiliate-steps {
	margin: 25px 0 25px 0;
	border-radius: 4px;
 }
 
.affiliate-title {
	padding-bottom: 10px;
	color: #f270b7;
	text-align: center;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
 
.affiliate-describe {
	text-align: center;
	font-weight: normal !important;
	font-size: 13px;
 }
 
/* affiliate-facebook */
.affiliate-fb-frame {
    float:left;
	width: 335px;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
 /* affiliate-newsletter */
.affiliate-newsletter {
    float:right;
	width: 335px;
	height: 245px;
	margin-bottom: 25px;
	padding: 50px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.affiliate-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-size: 13px; 
 }
.affiliate-newsletter-btn { 
	margin-top: 20px;
 }
.affiliate-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	font-size: 13px; 
 }
}
/* @affiliate-fit-on-mobile-461px-to-767px */
@media (min-width: 461px) and (max-width: 767px) {
.affiliate-fit-on-mobile {
	width: 100%;
	padding: 0 10px 0 10px;
 }
/* how-container */
.affiliate-text-container {
	width: 100%;
 }
/* affiliate-text-container */
.affiliate-steps {
	margin: 0 0 25px 0;
	border-radius: 4px;
 }
.affiliate-title {
	padding-bottom: 10px;
	color: #f270b7;
	text-align: center;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.affiliate-describe {
	text-align: center;
	font-weight: normal !important;
	font-size: 13px;
 }
/* affiliate-facebook */
.affiliate-fb-frame {
	width: 100%;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* affiliate-newsletter */
.affiliate-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.affiliate-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.affiliate-newsletter-btn { 
	margin: 20px 0 0 0;
 }
.affiliate-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 }
}
/* @affiliate-fit-on-mobile-1px-to-460px */
@media (min-width: 1px) and (max-width: 460px) {
.affiliate-fit-on-mobile {
	width: 100%;
	padding: 0 10px 0 10px;
 }
/* how-container */
.affiliate-text-container {
	width: 100%;
 }
 
/* affiliate-text-container */
.affiliate-steps {
	margin: 0 0 25px 0;
	border-radius: 4px;
 }
.affiliate-title {
	padding-bottom: 10px;
	color: #f270b7;
	text-align: center;
	font-size: 20px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.affiliate-describe {
	text-align: center;
	  font-weight: normal !important;
	font-size: 13px;
 }
/* affiliate-facebook */
.affiliate-fb-frame {
	width: 100%;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* affiliate-newsletter */
.affiliate-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.affiliate-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.affiliate-newsletter-btn { 
	margin: 20px 0 0 0; 
 }
.affiliate-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 }
}
/* End Main: $affiliate-css */