﻿/* Main: $blankyou-css 
         @blankyou-details-fit-on-pc-1199px
         @blankyou-details-fit-on-tablet-993px-to-1198px
         @blankyou-details-fit-on-tablet-768px-to-992px
         @blankyou-details-fit-on-mobile-461px-to-767px
         @blankyou-details-fit-on-mobile-361px-to-460px    
		 @blankyou-details-fit-on-mobile-1px-to-360px
*/
 
/* Main: $blankyou-css */
/* @blankyou-details-fit-on-pc-1199p */
@media (min-width: 1199px) {
/* blankyou-fit-on-pc */
.blankyou-details-fit-on-pc { 
    margin-left: 15px;
	width: 1045px; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* blankyou-menu-logo */
.blankyou-menu-logo {
	border-left: 1px solid #08a7ae;
	border-right: 1px solid #08a7ae;
}
.blankyou-menu-logo img {}
/* blankyou-menu-tabs */
.blankyou-menu-tabs-bg {
	width: 271px;
	height: 226px;
	padding: 7px 0 0 0;
	background-image: url('../../images/big/blankyou_menu_bg.png');
 } 
.blankyou-menu-tabs { 
	padding: 0 0 20px 90px ; 
	text-align: left; 
 } 
a.link-blankyou-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:hover { color: #ffffff !important; text-decoration:  underline !important; font-family: "MMa Gauss"; font-size: 18px; }

/* blankyou-menu-norablue-container */
.blankyou-menu-norablue-container { 
	margin: 0 0 5px 0; 
	border-left: 1px solid #08a7ae; 
	border-right: 1px solid #08a7ae; 
 }
/* blankyou-menu-norablue-title */
.blankyou-menu-norablue-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* blankyou-menu-norablue-logo*/
.blankyou-menu-norablue-logo {
	padding: 0 0 5px 0; 
 } 
.blankyou-menu-blank-logo img {} 
/* blankyou-menu-norablue-text */
.blankyou-menu-norablue-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* blankyou-menu-norablue-prod */
.blankyou-menu-norablue-prod { 
	padding: 15px 0 15px 0; 
 }
.blankyou-menu-norablue-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #7781bd; 
 }
.blankyou-menu-norablue-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.blankyou-menu-norablue-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.blankyou-menu-norablue-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-menu-norablue-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.blankyou-menu-norablue-btn {
	color: #ffffff;
	background-color: #8890c5;
	cursor: pointer;
	border: 1px solid #767dae;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-menu-norablue-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.blankyou-menu-norablue-btn-md {
	padding: 5px 7px 5px 7px; 
 }
/* blankyou-details-products */
.blankyou-details-container { 
	float: left ;
	width: 756px; 
	margin: 5px 0 35px 0; 	
 }  
/* blankyou-products-title */
.blankyou-details-title {
	width: 100%;
	float: left;
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #00aaac;
	text-align: left;
 }
/* blankyou-product-container */ 
.blankyou-details-mygallery { 
    float: left;
	width: 450px;
	margin: 20px 0 0 39px;
 }
.blankyou-details-mygallery-thumbs { 
	width: 448px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.blankyou-details-pics {
	display: inline-block;
	margin: 6px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.blankyou-details-mouseover {
    display: yes;
	float: left;
    width: 410px;
	margin: 10px 0 0 39px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #00aaac;
	text-align: left; 
 }  
.blankyou-details-mouseover-mobile {
    display: none; 
 }
/* blankyou-details-prod-price-mobile */ 
.blankyou-details-prod-price-mobile {
     display: none;
}
/* blankyou-details-prod-price */
.blankyou-details-prod-price {
	float: left;
	width: 100%;
	margin: 40px 0 0 39px;		
 } 
.blankyou-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.blankyou-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 } 
.blankyou-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin: 40px 0 0 39px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.blankyou-order-container {
	float: right;
 } 
.blankyou-details-text { 
	margin-top: 30px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;  
	text-align:left;
}
.blankyou-details-qunatity { 
	width: 212px; 

 } 
.blankyou-details-qunatity select {
	float: left;
	width: 180px; 
	margin: 15px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.blankyou-details-qunatity input {
	float: left;
	width: 200px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }

.blankyou-details-button {
	float: left;
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}

/* @norableu-details-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* blankyou-fit-on-tablet */
.blankyou-details-fit-on-tablet { 
	width: 910px; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* blankyou-menu-logo */
.blankyou-menu-logo {
	border-left: 1px solid #08a7ae;
	border-right: 1px solid #08a7ae;
}
.blankyou-menu-logo img {}
/* blankyou-menu-tabs */
.blankyou-menu-tabs-bg {
	width: 271px;
	height: 226px;
	padding: 7px 0 0 0;
	background-image: url('../../images/big/blankyou_menu_bg.png');
 } 
.blankyou-menu-tabs { 
	padding: 0 0 20px 90px ; 
	text-align: left; 
 } 
a.link-blankyou-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:hover { color: #ffffff !important; text-decoration:  underline !important; font-family: "MMa Gauss"; font-size: 18px; }

/* blankyou-menu-norablue-container */
.blankyou-menu-norablue-container { 
	margin: 0 0 5px 0; 
	border-left: 1px solid #08a7ae; 
	border-right: 1px solid #08a7ae; 
 }
/* blankyou-menu-norablue-title */
.blankyou-menu-norablue-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* blankyou-menu-norablue-logo*/
.blankyou-menu-norablue-logo {
	padding: 0 0 5px 0; 
 } 
.blankyou-menu-blank-logo img {} 
/* blankyou-menu-norablue-text */
.blankyou-menu-norablue-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* blankyou-menu-norablue-prod */
.blankyou-menu-norablue-prod { 
	padding: 15px 0 15px 0; 
 }
.blankyou-menu-norablue-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #7781bd; 
 }
.blankyou-menu-norablue-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.blankyou-menu-norablue-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.blankyou-menu-norablue-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-menu-norablue-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
/* blankyou-details-products */
.blankyou-details-container { 
	float: left ;
	width: 638px; 
	margin: 5px 0 35px 0; 	
 }  
/* blankyou-products-title */
.blankyou-details-title {
	width: 100%;
	float: left;
    margin: 20px 0 0 15px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #00aaac;
	text-align: left;
 }
/* blankyou-product-container */ 
.blankyou-details-mygallery { 
    float: left;
	width: 390px;
	margin: 20px 0 0 15px;
 }
.blankyou-details-mygallery-thumbs { 
	width: 390px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.blankyou-details-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.blankyou-details-mouseover {
    display: yes;
	float: left;
    width: 100%;
	margin: 10px 0 0 15px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #00aaac;
	text-align: left; 
 }  
.blankyou-details-mouseover-mobile {
    display: none; 
 } 
/* blankyou-details-prod-price-mobile */ 
.blankyou-details-prod-price-mobile {
     display: none;
} 
/* norableu-details-prod-price */
.blankyou-details-prod-price {
	float: left;
	margin: 40px 0 0 15px;		
 } 
.blankyou-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.blankyou-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 } 
.blankyou-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin: 40px 0 0 15px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.blankyou-order-container {
	float: right;
 } 
.blankyou-details-text { 
	margin-top: 30px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;  
	text-align:left;
}
.blankyou-details-qunatity select {
	float: left;
	width: 180px; 
	margin: 15px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.blankyou-details-qunatity input {
	float: left;
	width: 200px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }

.blankyou-details-button {
	float: left;
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @norableu-details-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* blankyou-fit-on-tablet */
.blankyou-details-fit-on-tablet { 
	width: 690px; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* blankyou-details-products */
.blankyou-details-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }  
/* blankyou-products-title */
.blankyou-details-title {
	width: 100%;
	float: left;
	font-family: "Open Sans";
	font-size: 20px;
	color: #00aaac;
	text-align: left;
 }
/* blankyou-product-container */ 
.blankyou-details-mygallery { 
    float: left;
	width: 410px;
	margin-top: 20px;;
 }
.blankyou-details-mygallery-thumbs { 
	width: 410px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.blankyou-details-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.blankyou-details-mouseover {
    display: yes;
	float: left;
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #00aaac;
	text-align: left; 
 }  
.blankyou-details-mouseover-mobile {
    display: none; 
 } 
/* blankyou-details-prod-price-mobile */ 
.blankyou-details-prod-price-mobile {
     display: none;
} 
/* norableu-details-prod-price */
.blankyou-details-prod-price {
	float: left;
	margin-top: 40px;		
 } 
.blankyou-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.blankyou-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 } 
.blankyou-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.blankyou-order-container {
	float: right;
 } 
.blankyou-details-text { 
	margin-top: 30px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;  
	text-align:left;
}
.blankyou-details-qunatity select {
	float: left;
	width: 180px; 
	margin: 15px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.blankyou-details-qunatity input {
	float: left;
	width: 200px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }

.blankyou-details-button {
	float: left;
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @blankyou-details-fit-on-mobile-461px-to-767px */
@media (min-width: 461px) and (max-width: 767px)  {
/* blankyou-fit-on-tablet */
.blankyou-details-fit-on-tablet { 
	width: 100%; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	display: none;
 }
/* blankyou-details-products */
.blankyou-details-container { 
	width: 100%;	
 }  
/* blankyou-products-title */
.blankyou-details-title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #00aaac;
 }
/* blankyou-details-container */ 
.blankyou-details-mygallery {
	width: 100%; 
 }
.blankyou-details-mygallery-thumbs { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.blankyou-details-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.blankyou-details-mouseover {
    display: none;
 }  
.blankyou-details-mouseover-mobile {
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #00aaac;
 } 
/* blankyou-details-prod-price-mobile */ 
.blankyou-details-prod-price-mobile {
    width: 100%;		
	margin-top: 19px;
}  
/* norableu-details-prod-price */
.blankyou-details-prod-price {
	display: none;
 } 
.blankyou-details-our-price {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.blankyou-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 } 
.blankyou-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.blankyou-order-container {
	width: 100%;
 } 
.blankyou-details-text { 
	margin-top: 20px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;  
}
.blankyou-details-qunatity { 
	width: 212px; 

 } 
.blankyou-details-qunatity select {
	width: 200px; 
	margin: 15px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.blankyou-details-qunatity input {
	width: 200px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }

.blankyou-details-button {
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @blankyou-details-fit-on-mobile-361px-to-460px */
@media (min-width: 361px) and (max-width: 460px) {
/* blankyou-fit-on-tablet */
.blankyou-details-fit-on-tablet { 
	width: 100%; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	display: none;
 }
/* blankyou-details-products */
.blankyou-details-container { 
	width: 100%;	
 }  
/* blankyou-products-title */
.blankyou-details-title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #00aaac;
 }
/* blankyou-details-container */ 
.blankyou-details-mygallery {
	width: 100%; 
 }
.blankyou-details-mygallery-thumbs { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.blankyou-details-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.blankyou-details-mouseover {
    display: none;
 }  
.blankyou-details-mouseover-mobile {
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #00aaac;
 } 
/* blankyou-details-prod-price-mobile */ 
.blankyou-details-prod-price-mobile {
    width: 100%;		
	margin-top: 19px;
}  
/* norableu-details-prod-price */
.blankyou-details-prod-price {
	display: none;
 } 
.blankyou-details-our-price {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.blankyou-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 } 
.blankyou-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.blankyou-order-container {
	width: 100%;
 } 
.blankyou-details-text { 
	margin-top: 20px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;  
}
.blankyou-details-qunatity { 
	width: 212px; 

 } 
.blankyou-details-qunatity select {
	width: 200px; 
	margin: 15px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.blankyou-details-qunatity input {
	width: 200px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }

.blankyou-details-button {
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @blankyou-details-fit-on-mobile-1px-to-360px */
@media (min-width: 1px) and (max-width: 360px) {
/* blankyou-fit-on-tablet */
.blankyou-details-fit-on-tablet { 
	width: 100%; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	display: none;
 }
/* blankyou-details-products */
.blankyou-details-container { 
	width: 100%;	
 }  
/* blankyou-products-title */
.blankyou-details-title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 13px;
	color: #00aaac;
 }
/* blankyou-details-container */ 
.blankyou-details-mygallery {
	width: 100%; 
 }
.blankyou-details-mygallery-thumbs { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.blankyou-details-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 42px;
	height: 42px;
 }
.blankyou-details-mouseover {
    display: none;
 }  
.blankyou-details-mouseover-mobile {
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 12px;
	color: #00aaac;
 } 
/* blankyou-details-prod-price-mobile */ 
.blankyou-details-prod-price-mobile {
    width: 100%;		
	margin-top: 19px;
}  
/* norableu-details-prod-price */
.blankyou-details-prod-price {
	display: none;
 } 
.blankyou-details-our-price {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.blankyou-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 } 
.blankyou-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.blankyou-order-container {
	width: 100%;
 } 
.blankyou-details-text { 
	margin-top: 20px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 16px;
	font-weight: bold;  
}
.blankyou-details-qunatity { 
	width: 212px; 

 } 
.blankyou-details-qunatity select {
	width: 200px; 
	margin: 15px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.blankyou-details-qunatity input {
	width: 200px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }

.blankyou-details-button {
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}