﻿/* Main: $blankyou-css 
         @blankyou-fit-on-pc-1199px
         @blankyou-fit-on-tablet-993px-to-1198px
         @blankyou-fit-on-tablet-768px-to-992px
         @blankyou-fit-on-mobile-621px-to-767px
         @blankyou-fit-on-mobile-461px-620px  
		 @blankyou-fit-on-mobile-361px-460px
		 @blankyou-fit-on-mobile-321px-360px 
		 @blankyou-fit-on-mobile-241px-320px 
		 @blankyou-fit-on-mobile-1px-240px 
		 @blankyou-fit-on-mobile-1px-767px 
*/  
 
/* Main: $blankyou-css */
/* @blankyou-fit-on-pc-1199px */
@media (min-width: 1199px) {
/* blankyou-fit-on-pc */
.blankyou-fit-on-pc { 
    margin-left: 15px;
	width: 1045px; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* blankyou-menu-logo */
.blankyou-menu-logo {
	border-left: 1px solid #08a7ae;
	border-right: 1px solid #08a7ae;
}
.blankyou-menu-logo img {}
/* blankyou-menu-tabs */
.blankyou-menu-tabs-bg {
	width: 271px;
	height: 226px;
	padding: 7px 0 0 0;
	background-image: url('../../images/big/blankyou_menu_bg.png');
 } 
.blankyou-menu-tabs { 
	padding: 0 0 20px 90px ; 
	text-align: left; 
 } 
a.link-blankyou-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:hover { color: #ffffff !important; text-decoration:  underline !important; font-family: "MMa Gauss"; font-size: 18px; }

/* blankyou-menu-norablue-container */
.blankyou-menu-norablue-container { 
	margin: 0 0 5px 0; 
	border-left: 1px solid #08a7ae; 
	border-right: 1px solid #08a7ae; 
 }
/* blankyou-menu-norablue-title */
.blankyou-menu-norablue-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* blankyou-menu-norablue-logo*/
.blankyou-menu-norablue-logo {
	padding: 0 0 5px 0; 
 } 
.blankyou-menu-blank-logo img {} 
/* blankyou-menu-norablue-text */
.blankyou-menu-norablue-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* blankyou-menu-norablue-prod */
.blankyou-menu-norablue-prod { 
	padding: 15px 0 15px 0; 
 }
.blankyou-menu-norablue-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #7781bd; 
 }
.blankyou-menu-norablue-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.blankyou-menu-norablue-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.blankyou-menu-norablue-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-menu-norablue-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.blankyou-banner {
	float: left ;
	width: 756px;
	margin-top: 5px;
 }
/* blankyou-products */
.blankyou-product-container { 
	float: left ;
	width: 756px; 
	margin: 5px 0 35px 0; 	
 } 
/* blankyou-products-title */
.blankyou-product-favorite-title {
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #00aaac;
	text-align: left;
 }
/* blankyou-product-container */ 
.blankyou-product-favorite { 
    float: left;
	margin: 25px 0 10px 40px; 
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 200px; 
	height: 180px; 
	overflow: hidden; 
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}

/* @blankyou-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* blankyou-fit-on-tablet */
.blankyou-fit-on-tablet { 
	width: 910px; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* blankyou-menu-logo */
.blankyou-menu-logo {
	border-left: 1px solid #08a7ae;
	border-right: 1px solid #08a7ae;
}
.blankyou-menu-logo img {}
/* blankyou-menu-tabs */
.blankyou-menu-tabs-bg {
	width: 271px;
	height: 226px;
	padding: 7px 0 0 0;
	background-image: url('../../images/big/blankyou_menu_bg.png');
 } 
.blankyou-menu-tabs { 
	padding: 0 0 20px 90px ; 
	text-align: left; 
 } 
a.link-blankyou-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-blankyou-menu:hover { color: #ffffff !important; text-decoration:  underline !important; font-family: "MMa Gauss"; font-size: 18px; }

/* blankyou-menu-norablue-container */
.blankyou-menu-norablue-container { 
	margin: 0 0 5px 0; 
	border-left: 1px solid #08a7ae; 
	border-right: 1px solid #08a7ae; 
 }
/* blankyou-menu-norablue-title */
.blankyou-menu-norablue-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* blankyou-menu-norablue-logo*/
.blankyou-menu-norablue-logo {
	padding: 0 0 5px 0; 
 } 
.blankyou-menu-blank-logo img {} 
/* blankyou-menu-norablue-text */
.blankyou-menu-norablue-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* blankyou-menu-norablue-prod */
.blankyou-menu-norablue-prod { 
	padding: 15px 0 15px 0; 
 }
.blankyou-menu-norablue-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #7781bd; 
 }
.blankyou-menu-norablue-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.blankyou-menu-norablue-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.blankyou-menu-norablue-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-menu-norablue-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.blankyou-banner {
	float: right;
	width: 639px;
	margin-top: 5px;
 } 
.blankyou-banner img {
	width: 645px;
 }
/* blankyou-products */
.blankyou-product-container { 
	float: right;
	width: 639px; 
	margin: 5px 0 35px 0;	
 } 
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 43px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #00aaac;
	text-align: left;
 }
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	margin: 15px 0 20px 40px; 
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 250px; 
	height: 200px; 
	overflow: hidden; 
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* blankyou-fit-on-tablet */
.blankyou-fit-on-tablet { 
	width: 690px; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
	display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
.blankyou-banner {
	width: 690px;
 } 
.blankyou-banner img {
	width: 696px;
 }
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 43px;
	margin-bottom: 5px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
	margin-top: 17px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #00aaac;
	text-align: left;
 }
.blankyou-mobile-select {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }  
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	margin: 15px 0 20px 55px; 
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 250px; 
	height: 200px; 
	overflow: hidden; 
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-mobile-1px-to-767px */
@media (min-width: 1px) and (max-width: 767px)  {

/* blankyou-fit-on-mobile */
.blankyou-fit-on-mobile { 
	width: 100%; 
 } 
/* blankyou-menu-container */ 
.blankyou-menu-container { 
    display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
.blankyou-banner {
	width: 100%;
 }
.blankyou-banner img{
	width: 101%;	
 } 
 
.blankyou-mobile-select {
	margin: 0 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }  
}
/* @blankyou-fit-on-mobile-621px-to-767px */
@media (min-width: 621px) and (max-width: 767px)  {
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 43px;
	margin-bottom: 5px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
	margin-top: 17px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #00aaac;
	text-align: left;
 }
.blankyou-mobile-select {
	margin: 0 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }   
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	width: 40%;
	margin: 10px 0 30px 7%;
 } 
.blankyou-product-img {
	float:left;
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 100%; 
	height: 180px; 
	overflow: hidden;
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-mobile-461px-620px */
@media (min-width: 461px) and (max-width: 620px)  {
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 43px;
	margin-bottom: 6px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
	margin-top: 17px;
	font-family: "Open Sans";
	font-size: 20px;
	color: #00aaac;
	text-align: left;
 }
.blankyou-mobile-select {
	margin: 0 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }   
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	width: 40%;
	margin: 10px 0 30px 7%;
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-mobile-361px-460px */
@media (min-width: 361px) and (max-width: 460px)  {
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 35px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
    margin: 19px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #00aaac;
	text-align:center;
 }
.blankyou-mobile-select {
	margin-bottom: 20px;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }   
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 100%; 
	height: 250px; 
	overflow: hidden;
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-mobile-321px-360px */
@media (min-width: 321px) and (max-width: 360px) {
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 35px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
    margin: 19px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #00aaac;
	text-align:center;
 }
.blankyou-mobile-select {
	margin-bottom: 20px;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }   
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 100%; 
	height: 200px; 
	overflow: hidden; 
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-mobile-241px-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 35px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
    margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #00aaac;
	text-align:center;
 }
.blankyou-mobile-select {
	margin-bottom: 20px;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 18px;  
 }   
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @blankyou-fit-on-mobile-1px-240px */
@media (min-width: 1px) and (max-width: 240px) {
/* blankyou-products */
.blankyou-product-container { 
	width: 100%; 
	margin: 5px 0 35px 0;	
 }
/* blankyou-products-top */
.blankyou-product-favorite-top {
	width: 100%;
	height: 35px;
} 
/* blankyou-products-title */
.blankyou-product-favorite-title {
	width: 100%;
    margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #00aaac;
	text-align:center;
 }
.blankyou-mobile-select {
	margin-bottom: 20px;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 18px;  
 }   
/* blankyou-product-container */ 
.blankyou-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;
 } 
.blankyou-product-img {
	padding: 5px;
	border: 1px solid #00aaac; 
	border-radius: 2px;	
 }
.blankyou-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.blankyou-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.blankyou-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.blankyou-btn {
	color: #ffffff;
	background-color: #00aaac;
	cursor: pointer;
	border: 1px solid #019799;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.blankyou-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.blankyou-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}