﻿/* Main: $client-profile-css 
         @client-profile-fit-on-pc-1199px
         @client-profile-fit-on-tablet-993px-to-1198px
         @client-profile-fit-on-tablet-768px-to-992px
         @client-profile-fit-on-mobile-621px-to-767px
         @client-profile-fit-on-mobile-461px-to-620px  
		 @client-profile-fit-on-mobile-361px-to-460px
		 @client-profile-fit-on-mobile-321px-to-360px 
		 @client-profile-fit-on-mobile-241px-to-320px 
		 @client-profile-fit-on-mobile-1px-to-240px   
*/       
 
/* @client-profile-fit-on-pc-1199px */
@media (min-width: 1199px) { 
/* client-profile-fit-on-pc */
.client-profile-fit-on-pc {
	width: 1015px; 
 } 
.client-profile-title {
    margin: 3% 0 10px 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
 } 
.client-profile-data-container { 
	float: left;  
	width: 650px; 
 } 
.client-profile-input { 
	float: left; 
	width: 450px;
	margin-left: 70px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 3% 0 0 0; 
	text-align: left; 
	font-size: 14px;
 }
.client-profile-button { 
	margin:0 auto; 
	padding: 10px 80px 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	float: right; 
	width: 300px; 
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 }
.client-profile-menu-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 18px;
 }
.client-profile-menu-body {
	padding: 10px 0 10px 0; 
 }
.client-profile-menu-tabs { 
	width: 98%; 
	padding: 10px; 
	background-color: #f270b7; 
	border-bottom: 1px solid #f3f3f3; 
 }
.client-profile-menu-tabs:hover { 
	width:100%; 
	padding: 10px; 
	background-color: #333333; 
 }
}

/* @client-profile-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* client-profile-fit-on-tablet */
.client-profile-fit-on-tablet {
	width: 910px; 
 } 
.client-profile-title {
    margin: 3% 0 10px 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
 } 
.client-profile-data-container { 
	float: left;  
	width: 580px;
 } 
.client-profile-input { 
	float: left; 
	width: 450px;
	margin-left: 70px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 3% 0 0 0; 
	text-align: left; 
	font-size: 14px;
 }
.client-profile-button { 
	margin:0 auto; 
	padding: 10px 80px 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	float: right; 
	width: 300px; 
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 }
.client-profile-menu-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 18px;
 }
.client-profile-menu-body {
	padding: 10px 0 10px 0; 
 }
.client-profile-menu-tabs { 
	width: 98%; 
	padding: 10px; 
	background-color: #f270b7; 
	border-bottom: 1px solid #f3f3f3; 
 }
.client-profile-menu-tabs:hover { 
	width:100%; 
	padding: 10px; 
	background-color: #333333; 
 }
}
/* @client-profile-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* client-profile-fit-on-tablet */
.client-profile-fit-on-tablet {
	width: 690px;
 } 
.client-profile-title {
    margin: 3% 0 10px 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
 } 
.client-profile-data-container { 
	float: left;  
	width: 453px;
 } 
.client-profile-input { 
	float: left; 
	width: 450px;
	margin-left: 17px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 5% 0 0 0; 
	text-align: left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 }
.client-profile-button { 
	margin:0 auto; 
	padding: 10px 20px 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	float: right; 
	width: 200px; 
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 }
.client-profile-menu-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 18px;
 }
.client-profile-menu-body {
	padding: 10px 0 10px 0; 
 }
.client-profile-menu-tabs { 
	width: 98%; 
	padding: 10px; 
	background-color: #f270b7; 
	border-bottom: 1px solid #f3f3f3; 
 }
.client-profile-menu-tabs:hover { 
	width:100%; 
	padding: 10px; 
	background-color: #333333; 
 }
}
/* @client-profile-fit-on-mobile-621px-to-767px */
@media (min-width: 621px) and (max-width: 767px) {
/* client-profile-fit-on-mobile */
.client-profile-fit-on-mobile {
	width: 100%;
 } 
.client-profile-title {
    margin: 0 0 10px 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: center;
 } 
.client-profile-data-container {
	width: 100%;
 } 
.client-profile-input {
	width: 95%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 4% 0 0 0; 
	text-align: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
 }
.client-profile-button { 
	margin: 0 auto; 
	padding: 10px 0 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	display: none;
 }
.client-panel-mobile-menu {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 } 
}

/* @index-fit-on-mobile-461px-to-620px */
@media (min-width: 421px) and (max-width: 620px) {
/* client-profile-fit-on-mobile */
.client-profile-fit-on-mobile {
	width: 100%;
 } 
.client-profile-title {
    margin: 0 0 10px 0;
	font-family: "Open Sans";
	font-size: 20px;
	text-align: center;
 } 
.client-profile-data-container {
	width: 100%;
 } 
.client-profile-input {
	width: 95%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 4% 0 0 0; 
	text-align: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
 }
.client-profile-button { 
	margin: 0 auto; 
	padding: 10px 0 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	display: none;
 }
.client-panel-mobile-menu {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 } 
}
/* @index-fit-on-mobile-361px-to-460px */
@media (min-width: 361px) and (max-width: 460px) {
/* client-profile-fit-on-mobile */
.client-profile-fit-on-mobile {
	width: 100%;
 } 
.client-profile-title {
    margin: 0 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	text-align: center;
 } 
.client-profile-data-container {
	width: 100%;
 } 
.client-profile-input {
	width: 95%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 4% 0 0 0; 
	text-align: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 }
.client-profile-button { 
	margin: 0 auto; 
	padding: 10px 0 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	display: none;
 }
.client-panel-mobile-menu {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 } 
}
/* @index-fit-on-mobile-321px-to-360px */
@media (min-width: 321px) and (max-width: 360px) {
/* client-profile-fit-on-mobile */
.client-profile-fit-on-mobile {
	width: 100%;
 } 
.client-profile-title {
    margin: 0 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	text-align: center;
 } 
.client-profile-data-container {
	width: 100%;
 } 
.client-profile-input {
	width: 95%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 4% 0 0 0; 
	text-align: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 }
.client-profile-button { 
	margin: 0 auto; 
	padding: 10px 0 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	display: none;
 }
.client-panel-mobile-menu {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }
}
/* @index-fit-on-mobile-241px-to-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* client-profile-fit-on-mobile */
.client-profile-fit-on-mobile {
	width: 100%;
 } 
.client-profile-title {
    margin: 0 0 10px 0;
	font-family: "Open Sans";
	font-size: 16px;
	text-align: center;
 } 
.client-profile-data-container {
	width: 100%;
 } 
.client-profile-input {
	width: 95%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 4% 0 0 0; 
	text-align: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 }
.client-profile-button { 
	margin: 0 auto; 
	padding: 10px 0 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	display: none;
 }
.client-panel-mobile-menu {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }
}
/* @index-fit-on-mobile-1px-to-240px */
@media (min-width: 1px) and (max-width: 240px) {
/* client-profile-fit-on-mobile */
.client-profile-fit-on-mobile {
	width: 100%;
 } 
.client-profile-title {
    margin: 0 0 10px 0;
	font-family: "Open Sans";
	font-size: 16px;
	text-align: center;
 } 
.client-profile-data-container {
	width: 100%;
 } 
.client-profile-input {
	width: 95%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
 } 
.client-profile-note {
	margin: 4% 0 0 0; 
	text-align: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 }
.client-profile-button { 
	margin: 0 auto; 
	padding: 10px 0 30px 0;  
 } 
.client-profile-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.client-profile-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.client-profile-btn-xl {
	padding: 5px 10px 5px 10px;
 }
 
.client-profile-menu-container { 
	display: none;
 }
.client-panel-mobile-menu {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;   
 }
}