﻿/* Main: $client-orders-css 
         @client-orders-fit-on-pc-1199px
         @client-orders-fit-on-tablet-993px-to-1198px
         @client-orders-fit-on-tablet-768px-to-992px
         @client-orders-fit-on-mobile-621px-to-767px
         @client-orders-fit-on-mobile-461px-to-620px  
		 @client-orders-fit-on-mobile-361px-to-460px
		 @client-orders-fit-on-mobile-321px-to-360px 
		 @client-orders-fit-on-mobile-241px-to-320px 
		 @client-orders-fit-on-mobile-1px-to-240px   
*/       
 
/* @client-orders-fit-on-pc-1199px */
@media (min-width: 1199px) { 
/* client-profile-fit-on-pc */
.client-orders-fit-on-pc {
	width: 1015px;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 3% 0 5% 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
}

/* @client-profile-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* client-profile-fit-on-tablet */
.client-orders-fit-on-tablet {
	width: 910px;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 3% 0 5% 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
}
/* @client-profile-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* client-profile-fit-on-tablet */
.client-orders-fit-on-tablet {
	width: 690px;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 3% 0 5% 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
}
/* @client-profile-fit-on-mobile-621px-to-767px */
@media (min-width: 621px) and (max-width: 767px) {
/* client-profile-fit-on-mobile */
.client-orders-fit-on-mobile {
	width: 100%;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 0 0 5% 0;
	font-family: "Open Sans";
	font-size: 24px;
	text-align: center;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
.dataTables_length {
	float: left !important;
	width: 30%;
	padding-top: 10px;
	text-align: left !important;
 }
.dataTables_filter {
	float: right !important;
	width: 50%;
	text-align: right !important;
 }
}
/* @index-fit-on-mobile-461px-to-620px */
@media (min-width: 421px) and (max-width: 620px) {
/* client-profile-fit-on-mobile */
.client-orders-fit-on-mobile {
	width: 100%;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 0 0 5% 0;
	font-family: "Open Sans";
	font-size: 18px;
	text-align: center;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
.dataTables_length {
	float: left !important;
	width: 35%;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: left !important;
 }
.dataTables_filter {
	float: right !important;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: right !important;
 }
}
/* @index-fit-on-mobile-361px-to-460px */
@media (min-width: 361px) and (max-width: 460px) {
/* client-profile-fit-on-mobile */
.client-orders-fit-on-mobile {
	width: 100%;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 0 0 5% 0;
	font-family: "Open Sans";
	font-size: 18px;
	text-align: center;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
.dataTables_length {
	float: left !important;
	width: 35%;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: left !important;
 }
.dataTables_filter {
	float: right !important;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: right !important;
 }
.hidden-items {
	display: none;
 }
}
/* @index-fit-on-mobile-321px-to-360px */
@media (min-width: 321px) and (max-width: 360px) {
/* client-profile-fit-on-mobile */
.client-orders-fit-on-mobile {
	width: 100%;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 0 0 5% 0;
	font-family: "Open Sans";
	font-size: 18px;
	text-align: center;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	text-align: center;
 }
.display {
	padding: 10px 0 0 0;
 }
.dataTables_length {
	float: left !important;
	width: 35%;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: left !important;
 }
.dataTables_filter {
	float: right !important;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: right !important;
 }
.hidden-items {
	display: none;
 }
}
/* @index-fit-on-mobile-241px-to-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* client-profile-fit-on-mobile */
.client-orders-fit-on-mobile {
	width: 100%;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 0 0 5% 0;
	font-family: "Open Sans";
	font-size: 16px;
	text-align: center;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	text-align: center;
 }
input {
	width: 90%;	
 } 
.display {
	padding: 10px 0 0 0;
 }
.dataTables_length {
	float: left !important;
	width: 35%;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: left !important;
 }
.dataTables_filter {
	float: right !important;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: right !important;
 }
.hidden-items {
	display: none;
 }
.hidden-shipped {
	display: none;
 }
}
/* @index-fit-on-mobile-1px-to-240px */
@media (min-width: 1px) and (max-width: 240px) {
/* client-profile-fit-on-mobile */
.client-orders-fit-on-mobile {
	width: 100%;
	margin-bottom: 6%;
 } 
.client-orders-title {
    margin: 0 0 5% 0;
	font-family: "Open Sans";
	font-size: 16px;
	text-align: center;
 } 
.client-order-thead {
	background-color:#999;
 }
th,
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	text-align: center;
 }
input {
	width: 90%;	
 }  
.display {
	padding: 10px 0 0 0;
 }
.dataTables_length {
	float: left !important;
	width: 35%;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: left !important;
 }
.dataTables_filter {
	float: right !important;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	text-align: right !important;
 }
.hidden-items {
	display: none;
 }
.hidden-shipped {
	display: none;
 } 
}