﻿/* Main: $contact-us-css 
         @contact-fit-on-pc-1199px  
         @contact-fit-on-tablet-993px-to-1198px
         @contact-fit-on-tablet-768px-to-992px
         @contact-fit-on-mobile-461px-to-767px 
         @contact-fit-on-mobile-1px-to-460px
*/  


/* @contact-fit-on-pc-1199px */
@media (min-width: 1199px) {
.contact-fit-on-pc { 
	width: 1015px; 
}
/* contact-container */
.contact-text-container { 
	width: 670px; 
	}
/* contact-title-text */
.contact-title {
	margin: 25px 0 30px 0;
	font-size: 23px;	
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.contact-describe {
	margin: 15px 0 40px 0;
	font-weight: normal !important;
}
/* contact-form */
.contact-name-email {
	width: 450px;
	margin: 0 0 32px 0;
 }
.contact-message {
	width: 670px;
	margin: 0 0 32px 0;
 }
.contact-captcha {
	margin-bottom: 5px;
 }
.contact-input-captcha {
	height: 25px;
	width: 140px;
	margin: 0 0 32px 2px;
 }
/* contact-buttons */
.contact-btn-container {
	margin-bottom: 30px;
	text-align: right;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
 }
/* contact-facebook */
.contact-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* contact-newsletter */
.contact-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.contact-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-weight: bold;
 }
.contact-newsletter-btn { 
	margin-top: 20px; 
 }
.contact-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
 }
}

/* @contact-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
.contact-fit-on-tablet { 
	width: 908px; 
}
/* contact-container */
.contact-text-container { 
	width: 520px; 
}
/* contact-title-text */
.contact-title {
	margin: 25px 0 30px 0;
	font-size: 20px;	
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.contact-describe {
	margin: 15px 0 40px 0;
	font-weight: normal !important;
	font-size: 13px;
}
/* contact-form */
.contact-name-email {
	width: 450px;
	margin: 0 0 32px 0;
 }
.contact-message {
	width: 520px;
	margin: 0 0 32px 0;
 }
.contact-captcha {
	margin-bottom: 5px;
 }
.contact-input-captcha {
	height: 25px;
	width: 140px;
	margin: 0 0 32px 2px;
 }
/* contact-buttons */
.contact-btn-container {
	margin-bottom: 30px;
	text-align: right;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
 }
/* contact-facebook */
.contact-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* contact-newsletter */
.contact-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.contact-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-weight: bold;
 }
.contact-newsletter-btn { 
	margin-top: 20px; 
 }
.contact-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
 }
}

/* @contact-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
.contact-fit-on-tablet { 
	width: 690px; 
 }
/* contact-container */
.contact-text-container { 
	width: 100%; 
}
/* contact-title-text */
.contact-title {
	margin: 25px 0 30px 0;
	font-size: 20px;	
	font-family: "Dancing Script", "Times New Roman", Times, serif;
 }
.contact-describe {
	margin: 15px 0 40px 0;
	font-weight: normal !important;
	font-size: 13px;
 } 
/* contact-form */
.contact-name-email { 
	width: 350px; 
	margin: 0 0 30px 0; 
 }  
.contact-message { 
	width: 100%; 
	margin: 0 0 30px 0; 
 }   
.contact-captcha {
	margin-bottom: 5px;
 }
.contact-input-captcha {
	height: 25px;
	width: 140px;
	margin: 0 0 32px 2px;
 }
/* contact-buttons */
.contact-btn-container {
	margin-bottom: 30px;
	text-align: center;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
 }
/* contact-facebook */
.contact-fb-frame {
    float:left;
	width: 335px;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
 /* contact-newsletter */
.contact-newsletter {
    float:right;
	width: 335px;
	height: 245px;
	margin-bottom: 25px;
	padding: 50px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.contact-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-size: 13px; 
 }
.contact-newsletter-btn { 
	margin-top: 20px;
 }
.contact-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	font-size: 13px; 
 }
}

/* @contact-fit-on-mobile-461px-to-767px */
@media (min-width: 461px) and (max-width: 767px) {
.contact-fit-on-mobile { 
	width: 100%; 
	padding: 0 10px 0 10px; 
 }
/* contact-container */
.contact-text-container { 
	width: 100%; 
}
/* contact-title-text */
.contact-title {
	margin-bottom: 30px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;	
 }
.contact-describe {
	margin: 15px 0 40px 0;
	font-weight: normal !important;
	font-size: 13px;
 } 
/* contact-form */
.contact-name-email { 
	width: 350px; 
	margin: 0 0 30px 0; 
 }  
.contact-message { 
	width: 100%; 
	margin: 0 0 30px 0; 
 }  
.contact-captcha { 
	margin: 0 0 5px 0; 
}  
.contact-input-captcha {
	height: 25px;
	width: 140px;
	margin: 0 0 32px 2px;
 }
/* contact-buttons */
.contact-btn-container { 
	width: 100%; 
	text-align: center; 
	padding: 10px 15px; 
	background-color: #f5f5f5; 
	border-top: 1px solid #dddddd; 
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px; 
 }
/* contact-facebook */
.contact-fb-frame {
	width: 100%;
	height: 245px;
	margin: 30px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* contact-newsletter */
.contact-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.contact-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.contact-newsletter-btn { 
	margin: 20px 0 0 0;
 }
.contact-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 }
}

/* @contact-fit-on-mobile-1px-to-460px */
@media (min-width: 1px) and (max-width: 460px) {
.contact-fit-on-mobile { 
	width: 100%; 
	padding: 0 10px 0 10px; 
 }
/* contact-container */
.contact-text-container { 
	width: 100%; 
 }
/* contact-title-text */
.contact-title {
	margin-bottom: 30px;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;	
 }
.contact-describe {
	margin: 15px 0 40px 0;
	font-weight: normal !important;
	font-size: 13px;
 } 
/* contact-form */
.contact-name-email { 
	width: 100%; 
	margin: 0 0 30px 0; 
 }  
.contact-message { 
	width: 100%; 
	margin: 0 0 30px 0; 
 }  
.contact-captcha { 
	margin: 0 0 5px 0; 
 }  
.contact-input-captcha {  
	height: 25px; 
	width: 140px; 
	margin: 0 0 32px 2px; 
 }
/* contact-buttons */
.contact-btn-container { 
	width: 100%; 
	text-align: center; 
	padding: 10px 15px; 
	background-color: #f5f5f5; 
	border-top: 1px solid #dddddd; 
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px; 
 }
/* contact-facebook */
.contact-fb-frame {
	width: 100%;
	height: 245px;
	margin: 30px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* contact-newsletter */
.contact-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.contact-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.contact-newsletter-btn { 
	margin: 20px 0 0 0;
 }
.contact-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 }
}
/* End Main: contact-us-css */    