﻿/* Main: $privacy/tou/faq-css 
         @accordion-toggle 
         @ptaf-menu
         @fit-on-pc-1199px 
         @fit-on-tablet-993px-to-1198px
         @fit-on-tablet-768px-to-992px
         @fit-on-mobile-1px-to-767px
*/


/* @accordion-toggle */
.accordion-toggle {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-style: italic;
	color: #f270b7 !important;
	font-size: 14px;
	font-weight: bold;
	background-color: #f8f8f8;
	display: block;
	line-height: 22px;
	padding: 9px 35px 9px 20px;
	position: relative;
	border: 1px solid #fff;
	border-radius: 4px;
 }
.accordion-toggle:after {
	top: 3px;
	right: 15px;
	color: #f270b7;
	content: "\f146";
	display: block;
	font-family: FontAwesome;
	font-size: 10px;
	line-height: 36px;
	position: absolute;
	font-style: normal !important;
 }
.accordion-toggle.collapsed {
	color: #777;
 }
.accordion-toggle.collapsed:after {
	content: "\f0fe";
	font-style: normal !important;
 }

/* @ptaf-menu */
.ptaf-menu { 
	padding: 7px 10px 8px 10px !important; 
 }

/* @fit-on-pc-1199px */
@media (min-width: 1199px) { 
.fit-on-pc {
	width: 1015px;
 }
.ptf-body {
	padding: 0 0 5px 0;
 }
.ptf-title {
	margin: 25px 0 35px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 23px;
	text-align: center;	
 }
.faq-tou-prv-text {
	font-weight: normal !important;
 }  
}

/* @fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) { 
.fit-on-tablet { 
	width: 908px;
 } 
.ptf-body {
	padding: 0 0 5px 0;
 }
.ptf-title {
	margin: 25px 0 35px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: center;
 }
.faq-tou-prv-text {
	font-weight: normal !important;
	font-size: 13px;
 }  
}

/* @fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) { 
.fit-on-tablet { 
	width: 692px; 
} 
.ptf-body {
	padding: 0 0 5px 0;
 }
.ptf-title {
	margin: 25px 0 35px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: center;
 }
.faq-tou-prv-text {
	font-weight: normal !important;
	font-size: 13px;
 }  
}
/* @fit-on-mobile-1px-to-767px */
@media (min-width: 1px) and (max-width: 767px) { 
.ptf-title {
	margin: 25px 0 35px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: center;
 }
.faq-tou-prv-text {
	font-weight: normal !important;
	font-size: 13px;
 } 
.ptf-container { 
	padding: 0 10px 0 10px; 
 } 
}
/* End Main: $privacy/tou/faq-css */
