﻿/* Main: $index-css 
         @index-fit-on-pc-1199px
         @index-fit-on-tablet-993px-to-1198px
         @index-fit-on-tablet-768px-to-992px
         @index-fit-on-mobile-621px-to-767px
         @index-fit-on-mobile-461px-620px  
		 @index-fit-on-mobile-361px-460px
		 @index-fit-on-mobile-321px-360px 
		 @index-fit-on-mobile-241px-320px 
		 @index-fit-on-mobile-1px-240px   
*/       
 

/* Main: $index-css */
/* @index-product */ 
.bulmov { 
	position: absolute; 
	top: -12px; 
	left: -12px; 
	display: inline-block; 
	width: 42px; 
	height: 42px; 
	background: url('../../images/bird_button.png');
	background-image: url('../../images/bird_button.png'); 
	background-size: 42px; 
	background-repeat: no-repeat;  
	text-align: center; 
	line-height: 40px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-weight: normal; 
	color: #FFF; 
 }
/* media-pc */
@media (min-width: 1199px) { 
/* index-fit-on-pc */
.index-fit-on-pc {
	width: 1140px; 
 } 
.index-title {
    margin: 5% 0 0 62px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 } 
.index-product { 
	position: relative;  
	margin: 25px 0 0 65px; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 280px; 
	height: 240px; 
 } 
.index-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 14px;
	overflow: hidden;
 } 
}
/* media-tablet */
@media (min-width: 993px) and (max-width: 1198px) { 
.product { position: relative; width: 290px; margin: 15px 0 0 18px; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img { width: 100%; height:250px; } 
.product-description { height: 60px; text-align:center; overflow: hidden; font-size: 14px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
}
/* media-tablet */
@media (min-width: 768px) and (max-width: 992px) { 
.product { position: relative; width: 290px; margin: 15px 0 0 46px; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img { width: 100%; height:250px; } 
.product-description { height: 60px; text-align:center; overflow: hidden; font-size: 14px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; } 
}
/* media-mobile */
@media (min-width: 461px) and (max-width: 767px) { 
.product { position:relative; width: 45%; margin: 15px 0 0 3%; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img { width: 100%; height: 180px; } 
.product-description { height: 100px;  text-align:center; overflow: hidden; font-size: 14px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; } 
}
/* media-mobile */
@media (min-width: 361px) and (max-width: 460px) { 
.product { position:relative; width: 79%; margin: 15px 0 0 10%; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img { width: 100%; height: 250px; } 
.product-description { height: 80px; text-align:center; overflow: hidden; font-size: 14px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; } 
}
/* media-mobile */
@media (min-width: 321px) and (max-width: 360px) { 
.product { position:relative; width: 92%; margin: 15px 0 0 4%; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img { width: 100%; height: 200px; } 
.product-description { height: 60px; text-align:center; overflow: hidden; font-size: 13px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; } 
}
/* media-mobile */
@media (min-width: 241px) and (max-width: 320px) { 
.product { position:relative; width: 92%; margin: 15px 0 0 3%; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img  { width: 100%; height:180px; } 
.product-description { height: 70px; text-align:center; overflow: hidden; font-size: 12px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; } 
}
/* media-mobile */
@media (min-width: 1px) and (max-width: 240px) { 
.product { position:relative; width: 96%; margin: 15px 0 0 2%; padding: 10px; border: 2px solid #f1f1f1; border-radius: 4px; } 
.product-img img { width: 100%; height:120px; } 
.product-description { height: 55px; text-align:center; overflow: hidden; font-size: 12px; font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; } 
} 
/* all-resolution-price */
.product-price { padding: 5px; margin-bottom: 10px; background-color: #f4f4f4; border: 1px solid #ccc; border-radius: 4px; color: #333; text-align: center; font-size: 14px; font-family: Arimo, sans-serif !important; } 
.btn-details { padding: 4px 10px 4px 10px; border:1px solid #dedede; border-radius: 4px; color: #333333; font-size: 12px; } 
.btn-details:hover { padding: 4px 10px 4px 10px; border:1px solid #dedede; border-radius: 4px; background-color: #dedede; color: #333333; font-size: 12px; }
/* End Main: $index-css */
