﻿/* Main: $footer-css 
 @footer-fit-on-pc-1199px 
 @footer-fit-on-tablet-993px-to-1198px
 @footer-fit-on-tablet-768px-to-992px
 @footer-fit-on-mobile-461px-to-767px
 @footer-fit-on-mobile-321px-to-460px
 @footer-fit-on-mobile-241px-to-320px
 @footer-fit-on-mobile-1px-to-240px

/* Main: $footer-css */
.footer { width:100%; background-color:#333333; }
/* @footer-fit-on-pc-1199px */
@media (min-width: 1199px) { 
/* footer-container-pc */
.footer-fit-on-pc { width: 1015px; height: 220px; padding-top: 4%; }
/* footer-body-pc */
.getaways { text-align: left; } 
.blog_story { text-align: left; padding-top: 12px; margin-left: 90px; } 
.footer-menu_1 { text-align: left; padding-top: 12px; margin-right: 20px; margin-left: 80px; } 
.footer-menu_2 { text-align: left; padding-top: 12px; } 
.footer-social { text-align: left; padding-top: 15px; margin-left: 93px; }
.footer-social-icons { padding-left: 20px; }
}

/* @footer-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) { 
/* footer-container-tablet */
.footer-fit-on-tablet { width: 922px; height: 220px; padding-top: 6%; }
/* footer-body-tablet */
.getaways { text-align: left; } 
.blog_story { text-align: left; padding-top: 12px; margin-left: 40px; } 
.footer-menu_1 { text-align: left; padding-top: 12px; margin-right: 20px; margin-left: 40px; } 
.footer-menu_2 { text-align: left; padding-top: 12px; } 
.footer-social { text-align: left; padding-top: 15px; margin-left: 90px; }
.footer-social-icons { padding-left: 20px; }
}

/* @footer-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* footer-container-tablet */ 
.footer-fit-on-tablet { width: 690px; height: 220px; padding-top: 4%; }
/* footer-body-tablet */
.getaways { text-align: left; } 
.blog_story { text-align: left; margin-left: 105px; } 
.footer-menu_1 { text-align: left; margin-right: 20px; margin-left: 105px; } 
.footer-menu_2 { text-align: left; } 
.footer-social { text-align: left; padding-top: 7%; margin-left: 50px; }
.footer-social-icons { padding-left: 20px; }
}

/* @footer-fit-on-mobile-461px-to-767px */
@media (min-width: 461px) and (max-width: 767px) { 
/* footer-container-mobile */ 
.footer-fit-on-mobile { width: 70%; height: 280px; padding-top: 2%; }
/* footer-body-mobile */
.getaways { text-align: left; margin-left: 30%; } 
.blog_story { text-align: left; padding-top: 12px; margin-left: 30%; } 
.footer-menu_1 { text-align: left; padding-top: 12px; margin-right: 20px; margin-left: 30%; } 
.footer-menu_2 { text-align: left; padding-top: 12px; } 
.footer-social { text-align: left; padding-top: 15px; margin-left: 24%; }
.footer-social-icons { padding-left: 10px; }
}

/* @footer-fit-on-mobile-321px-to-460px */
@media (min-width: 321px) and (max-width: 460px) {
/* footer-container-mobile */ 
.footer-fit-on-mobile { width: 100%; height: 270px; padding-top: 2%; }
/* footer-body-mobile */
.getaways { text-align: left; margin-left: 27%; } 
.blog_story { text-align: left; padding-top: 12px; margin-left: 23%; } 
.footer-menu_1 { text-align: left; padding-top: 12px; margin-right: 20px; margin-left: 23%; } 
.footer-menu_2 { text-align: left; padding-top: 12px; } 
.footer-social { text-align: left; padding-top: 15px; margin-left: 18%; }
.footer-social-icons { padding-left: 10px; }
}

/* @footer-fit-on-mobile-241px-to-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* footer-container-mobile */ 
.footer-fit-on-mobile { width: 100%; height: 270px; padding-top: 2%;  }
/* footer-body-mobile */
.getaways { text-align: left; margin-left: 24%; } 
.blog_story { text-align: left; padding-top: 12px; margin-left: 20%; } 
.footer-menu_1 { text-align: left; padding-top: 12px; margin-right: 20px; margin-left: 20%; } 
.footer-menu_2 { text-align: left; padding-top: 12px; } 
.footer-social { text-align: left; padding-top: 15px; margin-left: 18%; }
}

/* @footer-fit-on-mobile-1px-to-240px */
@media (min-width: 1px) and (max-width: 240px) {
/* footer-container-mobile */ 
.footer-fit-on-mobile { width: 100%; height: 270px; padding-top: 2%; }
/* footer-body-mobile */
.getaways { text-align: left; margin-left: 14%; } 
.blog_story { text-align: left; padding-top: 12px; margin-left: 10%; } 
.footer-menu_1 { text-align: left; padding-top: 12px; margin-left: 10%; margin-right: 7px; } 
.footer-menu_2 { text-align: left; padding-top: 12px; } 
.footer-social { text-align: left; padding-top: 15px; margin-left: 6%; }
}
/* End Main: $footer-css */
