﻿/* Main: $how-it-works-css 
          @how-fit-on-pc-1199px
          @how-fit-on-tablet-993px-to-1198px 
          @how-fit-on-tablet-768px-to-992px
          @how-fit-on-mobile-461px-to-767px
          @how-fit-on-mobile-1px-to-460px
*/


/* @how-fit-on-pc-1199px */
@media (min-width: 1199px) {
.how-fit-on-pc { 
	width: 1015px; 
 }
/* how-container */
.how-container { 
	width: 670px; 
 }
/* how-title */
.how-title { 
	margin: 25px 0 35px 0;
	font-family: "Dancing Script", "Times New Roman", Times, serif;   
	font-size: 23px;  
 }
/* how-step */
.how-step-main { 
    height: 180px;
    margin-bottom: 15px;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	padding: 25px;
 }  
.how-step-icon { 
	position: relative; 
	display: inline-block; 
 }  
.how-step-icon-txt { 
	position: relative; 
	top: -34px;  
	display:inline-block; 
 }   
.how-step-txt-title { 
	position: relative; 
	top: 7px; 
	right: 95px; 
	display:inline-block; 
	font-weight: bold; 
	font-size: 18px;
 } 
.how-step-txt { 
	width: 85%;
	position: relative; 
	top: -45px; 
	left: 100px; 
	display:inline-block; 
	font-weight: normal !important;
 } 
/* how-facebook */
.how-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* how-newsletter */
.how-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.how-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-weight: bold;
 }
.how-newsletter-btn { 
	margin-top: 20px; 
 }
.how-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
 }
}

/* @how-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
.how-fit-on-tablet { 
	width: 908px; 
 }
/* how-container */
.how-container { 
	width: 589px; 
 }
/* how-title */
.how-title { 
	margin: 25px 0 35px 0; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	font-size: 20px;  	  
 }
/* how-step */
.how-step-main { 
	height: 180px;
    margin-bottom: 15px;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	padding: 25px;
 
 }  
.how-step-icon { 
	position: relative; 
	display:inline-block; 
 }  
.how-step-icon-txt { 
	position: relative; 
	top:-34px; 
	display:inline-block; 
 }   
.how-step-txt-title { 
	position: relative; 
	top: 7px; 
	right: 95px; 
	display:inline-block; 
	font-weight: bold; 
	font-size: 18px;
 } 
.how-step-txt {
	width: 80%;
	position: relative; 
	top:-45px; 
	left: 100px; 
	display:inline-block; 
	font-weight: normal !important;
	font-size: 13px;
 } 
/* how-facebook */
.how-fb-frame {
	width: 300px;
	height: 245px;
	margin: 34px 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* how-newsletter */
.how-newsletter {
	width: 300px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.how-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-weight: bold;
 }
.how-newsletter-btn { 
	margin-top: 20px; 
 }
.how-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 1.5;
 }
}

/* @how-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
.how-fit-on-tablet { 
	width: 690px; 
 }
/* how-container */
.how-container { 
	width: 690px; 
 }
 /* how-title */
.how-title { 
	margin: 25px 0 35px 0; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;  
	font-size: 20px; 
	text-align: center;
 }
/* how-step */
.how-step-main { 
	height: 180px;
    margin-bottom: 15px;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	padding: 25px;
 }  
.how-step-icon { 
	position: relative; 
	display:inline-block; 
 }  
.how-step-icon-txt { 
	position: relative; 
	top:-34px; 
	display:inline-block; 
 }   
.how-step-txt-title { 
	position: relative; 
	top: 7px; 
	right: 95px; 
	display:inline-block; 
	font-weight: bold; 
	font-size: 18px;
 } 
.how-step-txt {
	width: 80%;
	position: relative; 
	top:-45px; 
	left: 100px; 
	display:inline-block; 
	font-weight: normal !important;
	font-size: 13px;
 } 
/* how-facebook */
.how-fb-frame {
    float:left;
	width: 335px;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
 /* how-newsletter */
.how-newsletter {
    float:right;
	width: 335px;
	height: 245px;
	margin-bottom: 25px;
	padding: 50px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.how-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
    font-size: 13px; 
 }
.how-newsletter-btn { 
	margin-top: 20px;
 }
.how-newsletter-input {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	font-size: 13px; 
 }
}

/* @how-fit-on-mobile-461px-to-767px */
@media (min-width: 461px) and (max-width: 767px) {
.how-fit-on-mobile { 
	width: 100%; 
	padding: 0 10px 0 10px; 
 }
/* how-container */
.how-container { 
	width: 100%; 
 }
 /* how-title */
.how-title { 
	margin: 25px 0 35px 0; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;  
	font-size: 20px; 
	text-align: center;
 }
/* how-step */
.how-step-main { 
	height: 180px;
    margin-bottom: 15px;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	padding: 25px;
 }  
.how-step-icon { 
	position: relative; 
	display:inline-block; 
 }  
.how-step-icon-txt { 
	position: relative; 
	top:-34px; 
	display:inline-block; 
 }   
.how-step-txt-title { 
	position: relative; 
	top: 7px; 
	right: 95px; 
	display:inline-block; 
	font-weight: bold; 
	font-size: 18px;
 } 
.how-step-txt {
	width: 80%;
	position: relative; 
	top:-45px; 
	left: 100px; 
	display:inline-block; 
	font-weight: normal !important;
	font-size: 13px;
 } 
/* how-facebook */
.how-fb-frame {
	width: 100%;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* how-newsletter */
.how-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.how-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.how-newsletter-btn { 
	margin: 20px 0 0 0; 
 }
.how-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 } 
}
/* @how-fit-on-mobile-1px-to-460px */
@media (min-width: 1px) and (max-width: 460px) {
.how-fit-on-mobile { 
	width: 100%; 
	padding: 0 10px 0 10px; 
 }
/* how-container */
.how-container { 
	width: 100%; 
 }
 /* how-title */
.how-title { 
	margin: 25px 0 35px 0; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;  
	font-size: 20px; 
	text-align: center;
 }
/* how-step */
.how-step-main { 
	height: 180px;
    margin-bottom: 15px;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	padding: 25px;
 }  
.how-step-icon { 
    width: 20%;
	position: relative; 
	display:inline-block; 
 }  
.how-step-icon img {
	 width: 99%;  
 } 
.how-step-icon-txt { 

    width: 27%;
	position: relative; 
	top: -15%; 
	right: 3%;
	display:inline-block; 
 }  
.how-step-icon-txt img {
	width: 80%;    
 } 
.how-step-txt-title { 

    width: 49%;
	position: relative; 
	top: -14%; 
	right: 8%; 
	display:inline-block; 
	font-weight: bold; 
	font-size: 18px;
 } 
.how-step-txt {
	width: 90%;
	position: relative;
	top: -25%; 
	left: 20%; 
	display:inline-block; 
	font-weight: normal !important;
	font-size: 13px;
 } 
/* how-facebook */
.how-fb-frame {
	width: 100%;
	height: 245px;
	margin: 0 0 20px 0;
	padding: 0 5px 0 5px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
/* how-newsletter */
.how-newsletter {
	width: 100%;
	margin-bottom: 25px;
	padding: 20px 10px 20px 10px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
 }
.how-newsletter-text {
	margin: 0 10px 20px 10px;
	padding: 5px 10px 5px 10px;
	background-color: #fef7f9;
	border: 1px solid #f9f9f9;
	border-radius: 4px;
	font-size: 13px;
 }
.how-newsletter-btn { 
	margin: 20px 0 0 0; 
 }
.how-newsletter-input {
	width: 85%;
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
 } 
}
/* End Main: $how-it-works-css */