﻿/* Main: $index-css 
         @index-fit-on-pc-1199px
         @index-fit-on-tablet-993px-to-1198px
         @index-fit-on-tablet-768px-to-992px
         @index-fit-on-mobile-621px-to-767px
         @index-fit-on-mobile-461px-to-620px  
		 @index-fit-on-mobile-361px-to-460px
		 @index-fit-on-mobile-321px-to-360px 
		 @index-fit-on-mobile-241px-to-320px 
		 @index-fit-on-mobile-1px-to-240px   
*/       
 
.bulmov { 
	position: absolute; 
	top: -12px; 
	left: -12px; 
	display: inline-block; 
	width: 42px; 
	height: 42px; 
	background: url('../../images/bird_button.png');
	background-image: url('../../images/bird_button.png'); 
	background-size: 42px; 
	background-repeat: no-repeat;  
	text-align: center; 
	line-height: 40px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-weight: normal; 
	color: #FFF; 
 }
/* @index-fit-on-pc-1199px */
@media (min-width: 1199px) { 
/* index-fit-on-pc */
.index-fit-on-pc {
	width: 1140px; 
 } 
.index-product-title {
    margin: 5% 0 30px 62px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 } 
.index-product { 
	position: relative;  
	margin: 0 0 30px 65px; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 280px; 
	height: 240px; 
 } 
.index-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 14px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @index-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* index-fit-on-tablet */
.index-fit-on-tablet {
	width: 940px; 
 } 
.index-product-title {
    margin: 5% 0 30px 42px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 } 
.index-product { 
	position: relative;  
	margin: 0 0 30px 48px; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 240px; 
	height: 200px; 
 } 
.index-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 14px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @index-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* index-fit-on-tablet */
.index-fit-on-tablet {
	width: 720px; 
 } 
.index-product-title {
    margin: 5% 0 30px 42px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 } 
.index-product { 
	position: relative;  
	margin: 0 0 30px 44px; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 280px; 
	height: 240px;  
 } 
.index-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 14px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @index-fit-on-mobile-621px-to-767px */
@media (min-width: 621px) and (max-width: 767px) {
/* index-fit-on-mobile */
.index-fit-on-pc {
	width: 100%; 
 } 
.index-product-title {
    margin: 30px 0 25px 0;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
 } 
.index-product { 
 	position: relative;
    float: left;
	width: 40%;
	margin: 10px 0 30px 7%; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 100%; 
	height: 180px; 
	overflow: hidden;  
 } 
.index-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 14px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @index-fit-on-mobile-461px-to-620px */
@media (min-width: 421px) and (max-width: 620px) {
/* index-fit-on-mobile */
.index-fit-on-mobile {
	width: 100%; 
 } 
.index-product-title {
    margin: 17px 0 21px 0;
	font-family: "Open Sans";
	font-size: 20px;
	color: #f657b4;
	text-align: left;
 } 
.index-product { 
 	position: relative;
	width: 40%; 
    float: left;
	margin: 10px 0 30px 7%; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden; 
 } 
.index-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @index-fit-on-mobile-361px-to-460px */
@media (min-width: 361px) and (max-width: 460px) {
/* index-fit-on-mobile */
.index-fit-on-mobile {
	width: 100%; 
 } 
.index-product-title {
    margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;
 } 
.index-product { 
 	position: relative;
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%;
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 100%; 
	height: 250px; 
	overflow: hidden; 
 } 
.index-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @index-fit-on-mobile-321px-to-360px */
@media (min-width: 321px) and (max-width: 360px) {
/* index-fit-on-mobile */
.index-fit-on-mobile {
	width: 100%; 
 } 
.index-product-title {
    margin: 20px 0 10px 3%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;
 } 
.index-product { 
 	position: relative;
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%;
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 100%; 
	height: 200px; 
	overflow: hidden;
 } 
.index-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 7px 5px 7px;
 } 
}
/* @index-fit-on-mobile-241px-to-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* index-fit-on-mobile */
.index-fit-on-mobile {
	width: 100%; 
 } 
.index-product-title {
    margin: 5% 0 2% 3%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;
 } 
.index-product { 
 	position: relative;
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%; 
 } 
.index-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;
 }
.index-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.index-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.index-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.index-product-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.index-product-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.index-product-btn-xl {
	padding: 5px 7px 5px 7px;
 } 
}