﻿/* Main: $pinkestore-css 
         @norableu-details-fit-on-pc-1199px
         @norableu-details-fit-on-tablet-993px-to-1198px
         @norableu-details-fit-on-tablet-768px-to-992px
         @norableu-details-fit-on-mobile-461px-to-767px
         @norableu-details-fit-on-mobile-361px-to-460px    
		 @norableu-details-fit-on-mobile-1px-to-360px
*/ 
 
/* Main: $norableu-css */
/* @norableu-details-fit-on-pc-1199p */
@media (min-width: 1199px) {
/* norableu-details-fit-on-pc */
.norableu-details-fit-on-pc { 
    margin-left: 15px;
	width: 1045px; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* norableu-menu-logo */
.norableu-menu-logo {}
.norableu-menu-logo img {}
/* norableu-menu-tabs */
.norableu-menu-tabs-bg {
	width: 271px;
	height: 259px;
	background-image:url('../../images/big/norabelu_menu_bg.png');
 } 
.norableu-menu-tabs { 
	padding: 5.2px 0 5.2px 85px ; 
	border-bottom: 1px solid #ccc; 
	text-align: left; 
 } 
.norableu-menu-tabs:hover {
    background-color:#ffffff; 
    opacity:0.6;
 }
a.link-norableu-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:hover { color: #333333 !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
/* norableu-menu-blank-container */
.norableu-menu-blank-container { 
	margin: 5px 0 5px 0; 
	border-left: 1px solid #7582bf; 
	border-right: 1px solid #7582bf; 
 }
/* norableu-menu-blank-title */
.norableu-menu-blank-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* norableu-menu-blank-logo */
.norableu-menu-blank-logo {
	padding: 0 0 5px 0; 
 } 
.norableu-menu-blank-logo img {} 
/* norableu-menu-blank-text */
.norableu-menu-blank-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* norableu-menu-blank-prod */
.norableu-menu-blank-prod { 
	padding: 15px 0 15px 0; 
 }
.norableu-menu-blank-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #33b6b8; 
 }
.norableu-menu-blank-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.norableu-menu-blank-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.norableu-menu-blank-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-menu-blank-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
/* norableu-product-container */
.norableu-details-container { 
	float: left ;
	width: 756px; 
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-title */
.norableu-details-title {
	width: 100%;
	float: left;
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #7781bd;
	text-align: left;
 }
/* norableu-details-mygallery */ 
.norableu-details-mygallery { 
    float: left;
	width: 450px;
	margin: 20px 0 0 39px;
 }
.norableu-details-mygallery-thumb { 
	width: 448px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.norableu-details-thumb-pics {
	display: inline-block;
	margin: 6px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.norableu-details-mouseover {
    display: yes;
	float: left;
    width: 410px;
	margin: 10px 0 0 39px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #7481bf;
	text-align: left; 
 }  
.norableu-details-mouseover-mobile {
    display: none; 
 }

/* blankyou-details-prod-price-mobile */ 
.norableu-details-prod-price-mobile {
     display: none;
}  

/* norableu-details-prod-price */
.norableu-details-prod-price {
	float: left;
	width: 100%;
	margin: 40px 0 0 39px;		
 } 
.norableu-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.norableu-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 } 
.norableu-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin: 40px 0 0 39px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.norableu-order-container {
	float: right;
 }
 .norableu-signature-details { 
 	margin: 30px 0 10px 0;
 }
.norableu-details-step-nr_1 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-nr_2 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
} 
.norableu-details-step-nr_3 {
	display: inline-block; 
	width: 26px;
	margin-top: 34px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}  
.norableu-details-step-text { 
	display: inline-block;
	width: 80%;
	margin: 13px 5px 0 0; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 13px;
	font-weight: bold;  
	text-align:left;
}
.norableu-details-qunatity select {
	width: 120px; 
	margin: 10px 0px 15px 5px; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.norableu-details-qunatity input {
	width: 212px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }
a.link-nora:link { color: #7781bd; text-decoration: none; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:active { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:visited { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:hover { color: #333333; text-decoration: underline; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }

.norableu-details-button {
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
/* norableu-modal-container */
.norableu-modal-container { 
	overflow: hidden !important; 
	width: 500px; 
	margin: 30px auto;  
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
 }
/* norableu-modal-header */
.norableu-modal-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
 } 
.norableu-modal-title { 
	margin: 0;
	text-align: left;
 }
/* norableu-modal-body */
.norableu-modal-body { 
	padding: 20px 0 20px 0;
 }
.norableu-modal-input {
	margin: 0 auto;
	width: 350px;
	font-size: 14px;
 } 
.norableu-modal-button {
	margin: 0 auto;
	width: 81px;
 }
}

/* @norableu-details-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* norableu-details-fit-on-tablet */
.norableu-details-fit-on-tablet { 
	width: 910px; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* norableu-menu-logo */
.norableu-menu-logo {}
.norableu-menu-logo img {}
/* norableu-menu-tabs */
.norableu-menu-tabs-bg {
	width: 271px;
	height: 259px;
	background-image:url('../../images/big/norabelu_menu_bg.png');
 } 
.norableu-menu-tabs { 
	padding: 5.2px 0 5.2px 85px ; 
	border-bottom: 1px solid #ccc; 
	text-align: left; 
 } 
.norableu-menu-tabs:hover {
    background-color:#ffffff; 
    opacity:0.6;
 }
a.link-norableu-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:hover { color: #333333 !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
/* norableu-menu-blank-container */
.norableu-menu-blank-container { 
	margin: 5px 0 5px 0; 
	border-left: 1px solid #7582bf; 
	border-right: 1px solid #7582bf; 
 }
/* norableu-menu-blank-title */
.norableu-menu-blank-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* norableu-menu-blank-logo */
.norableu-menu-blank-logo {
	padding: 0 0 5px 0; 
 } 
.norableu-menu-blank-logo img {} 
/* norableu-menu-blank-text */
.norableu-menu-blank-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* norableu-menu-blank-prod */
.norableu-menu-blank-prod { 
	padding: 15px 0 15px 0; 
 }
.norableu-menu-blank-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #33b6b8; 
 }
.norableu-menu-blank-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.norableu-menu-blank-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.norableu-menu-blank-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-menu-blank-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
/* norableu-details-products */
.norableu-details-container { 
	float: left ;
	width: 638px; 
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-title */
.norableu-details-title {
	width: 100%;
	float: left;
    margin: 20px 0 0 15px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #7781bd;
	text-align: left;
 }
/* norableu-product-container */ 
.norableu-details-mygallery { 
    float: left;
	width: 390px;
	margin: 20px 0 0 15px;
 }
.norableu-details-mygallery-thumb { 
	width: 390px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.norableu-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.norableu-details-mouseover {
    display: yes;
	float: left;
    width: 100%;
	margin: 10px 0 0 15px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #7481bf;
	text-align: left; 
 }  
.norableu-details-mouseover-mobile {
    display: none; 
 } 
/* blankyou-details-prod-price-mobile */ 
.norableu-details-prod-price-mobile {
     display: none;
}  
/* norableu-details-prod-price */
.norableu-details-prod-price {
	float: left;
	margin: 40px 0 0 15px;		
 } 
.norableu-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.norableu-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 } 
.norableu-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin: 40px 0 0 15px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.norableu-order-container {
	float: right;
 }
 .norableu-signature-details { 
 	margin: 20px 0 10px 0;
 }
.norableu-details-step-nr_1 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-nr_2 {
	display: inline-block; 
	width: 26px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
} 
.norableu-details-step-nr_3 {
	display: inline-block; 
	width: 26px;
	margin-top: 30px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}  
.norableu-details-step-text { 
	display: inline-block;
	width: 80%;
	margin: 13px 5px 0 0; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 13px;
	font-weight: bold;  
	text-align:left;
}
.norableu-details-qunatity select {
	width: 120px; 
	margin: 10px 0px 5px 5px; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px;
 } 
.norableu-details-qunatity input {
	width: 212px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }
a.link-nora:link { color: #7781bd; text-decoration: none; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:active { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:visited { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:hover { color: #333333; text-decoration: underline; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }

.norableu-details-button {
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
/* norableu-modal-container */
.norableu-modal-container { 
	overflow: hidden !important; 
	width: 500px; 
	margin: 30px auto;  
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
 }
/* norableu-modal-header */
.norableu-modal-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
 } 
.norableu-modal-title { 
	margin: 0;
	text-align: left;
 }
/* norableu-modal-body */
.norableu-modal-body { 
	padding: 20px 0 20px 0;
 }
.norableu-modal-input {
	margin: 0 auto;
	width: 350px;
	font-size: 14px;
 } 
.norableu-modal-button {
	margin: 0 auto;
	width: 81px;
 }
}
/* @norableu-details-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* norableu-fit-on-tablet */
.norableu-details-fit-on-tablet { 
	width: 690px; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container {
	display: none; 
	float: left;  
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* norableu-products */
.norableu-details-container { 
	width: 100%; 
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-title */
.norableu-details-title {
	width: 100%;
	float: left;
	font-family: "Open Sans";
	font-size: 20px;
	color: #7781bd;
	text-align: left;
 }
/* norableu-product-container */ 
.norableu-details-mygallery { 
    float: left;
	width: 410px;
	margin-top: 20px;
 }
.norableu-details-mygallery-thumb { 
	width: 410px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.norableu-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.norableu-details-mouseover {
    display: yes;
	float: left;
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #7481bf;
	text-align: left; 
 }  
.norableu-details-mouseover-mobile {
    display: none; 
 } 
/* blankyou-details-prod-price-mobile */ 
.norableu-details-prod-price-mobile {
     display: none;
}  
/* norableu-details-prod-price */
.norableu-details-prod-price {
	float: left;
	margin-top: 40px;		
 } 
.norableu-details-our-price {
	borde:1px solid red;
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.norableu-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 } 
.norableu-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.norableu-order-container {
	width: 185px;
	float: right;
 }
 .norableu-signature-details { 
 	margin: 15px 0 10px 0;
 }
.norableu-details-step-nr_1 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-nr_2 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
} 
.norableu-details-step-nr_3 {
	display: inline-block; 
	width: 26px;
	margin-top: 34px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-text { 
	display: inline-block;
	width: 79%;
	margin: 13px 7px 0 0; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 13px;
	font-weight: bold;  
	text-align:left;
}
.norableu-details-qunatity select {
	width: 120px; 
	margin: 10px 0px 15px 5px; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 } 
.norableu-details-qunatity input {
	width: 212px; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }
a.link-nora:link { color: #7781bd; text-decoration: none; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:active { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:visited { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:hover { color: #333333; text-decoration: underline; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }

.norableu-details-button {
    margin-top: 5px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
/* norableu-modal-container */
.norableu-modal-container { 
	overflow: hidden !important; 
	width: 500px; 
	margin: 30px auto;  
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
 }
/* norableu-modal-header */
.norableu-modal-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
 } 
.norableu-modal-title { 
	margin: 0;
	text-align: left;
 }
/* norableu-modal-body */
.norableu-modal-body { 
	padding: 20px 0 20px 0;
 }
.norableu-modal-input {
	margin: 0 auto;
	width: 350px;
	font-size: 14px;
 } 
.norableu-modal-button {
	margin: 0 auto;
	width: 81px;
 }
}
/* @norableu-details-fit-on-mobile-461px-to-767px*/
@media (min-width: 461px) and (max-width: 767px)  {
/* norableu-details-fit-on-mobile */
.norableu-details-fit-on-mobile { 
	width: 100%; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container {
	display: none; 
 }
/* norableu-products */
.norableu-details-container { 
	width: 100%; 
	margin: 0 0 35px 0; 	
 } 
/* norableu-products-title */
.norableu-details-title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #7781bd;
 }
/* norableu-product-container */ 
.norableu-details-mygallery { 
  	width: 100%;
 }
.norableu-details-mygallery-thumb { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.norableu-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.norableu-order-container {
	width: 100%;
 }
 .norableu-signature-details { 
 	margin: 15px 0 10px 0;
 }
.norableu-details-mouseover {
    display: none;
 }  
.norableu-details-mouseover-mobile {
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #7481bf;
 } 
.norableu-details-step-nr_1 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-nr_2 {
	display: inline-block; 
	width: 26px;
	margin-top: 5px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
} 
.norableu-details-step-nr_3 {
	display: inline-block; 
	width: 26px;
	margin-top: 20px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}  
.norableu-details-step-text { 
	display: inline-block;
	margin-top: 13px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 13px;
	font-weight: bold;  
}
.norableu-details-qunatity select {
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 } 
.norableu-details-qunatity input {
	width: 100%; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }
a.link-nora:link { color: #7781bd; text-decoration: none; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:active { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:visited { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:hover { color: #333333; text-decoration: underline; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }

.norableu-details-button {
    margin-top: 15px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 } 
/* norableu-modal-container */
.norableu-modal-container { 
	overflow: hidden !important; 
	width: 90%; 
	margin: 30px auto;  
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
 }
/* norableu-modal-header */
.norableu-modal-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
 } 
.norableu-modal-title { 
	margin: 0;
	text-align: left;
 }
/* norableu-modal-body */
.norableu-modal-body { 
	padding: 20px 0 20px 0;
 }
.norableu-modal-input {
	margin: 0 auto;
	width: 80%;
	font-size: 14px;
 } 
.norableu-modal-button {
	margin: 0 auto;
	width: 81px;
 }
/* blankyou-details-prod-price-mobile */ 
.norableu-details-prod-price-mobile {
    width: 100%;		
	margin: 19px 0 10px 0;
 }  
/* norableu-details-prod-price */
.norableu-details-prod-price {
   display: none;		
 } 
.norableu-details-our-price {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 } 
.norableu-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 } 
.norableu-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  

}
/* @norableu-details-fit-on-mobile-361px-to-460px */
@media (min-width: 361px) and (max-width: 460px) {
/* norableu-fit-on-mobile */
.norableu-fit-on-mobile { 
	width: 100%; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container {
	display: none; 
 }
/* norableu-products */
.norableu-details-container { 
	width: 100%; 
	margin: 0 0 35px 0; 	
 } 
/* norableu-products-title */
.norableu-details-title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #7781bd;
 }
/* norableu-product-container */ 
.norableu-details-mygallery { 
  	width: 100%;
 }
.norableu-details-mygallery-thumb { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.norableu-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 48px;
	height: 48px;
 }
.norableu-details-mouseover {
    display: none;
 }  
.norableu-details-mouseover-mobile {
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #7481bf;
 } 
.norableu-details-step-nr_1 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-nr_2 {
	display: inline-block; 
	width: 26px;
	margin-top: 5px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
} 
.norableu-details-step-nr_3 {
	display: inline-block; 
	width: 26px;
	margin-top: 20px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}  
.norableu-details-step-text { 
	display: inline-block;
	margin-top: 13px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 13px;
	font-weight: bold;  
}
.norableu-details-qunatity { 
	width: 100%; 
 } 
.norableu-details-qunatity select {
	width: 29%;
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 } 
.norableu-details-qunatity input {
	width: 100%; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }
a.link-nora:link { color: #7781bd; text-decoration: none; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:active { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:visited { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:hover { color: #333333; text-decoration: underline; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }

.norableu-details-button {
    margin-top: 15px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
/* norableu-modal-container */
.norableu-modal-container { 
	overflow: hidden !important; 
	width: 90%; 
	margin: 30px auto;  
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
 }
/* norableu-modal-header */
.norableu-modal-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
 } 
.norableu-modal-title { 
	margin: 0;
	text-align: left;
 }
/* norableu-modal-body */
.norableu-modal-body { 
	padding: 20px 0 20px 0;
 }
.norableu-modal-input {
	margin: 0 auto;
	width: 80%;
	font-size: 14px;
 } 
.norableu-modal-button {
	margin: 0 auto;
	width: 81px;
 }
/* blankyou-details-prod-price-mobile */ 
.norableu-details-prod-price-mobile {
    width: 100%;		
	margin: 19px 0 10px 0;
 }  
/* norableu-details-prod-price */
.norableu-details-prod-price {
   display: none;		
 } 
.norableu-details-our-price {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.norableu-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 } 
.norableu-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.norableu-order-container {
	width: 100%;
 }
 .norableu-signature-details { 
 	margin: 15px 0 10px 0;
 }
}
/* @norableu-details-fit-on-mobile-1px-to-360px */
@media (min-width: 1px) and (max-width: 360px) {
/* norableu-fit-on-mobile */
.norableu-fit-on-mobile { 
	width: 100%; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container {
	display: none; 
 }
/* norableu-products */
.norableu-details-container { 
	width: 100%; 
	margin: 0 0 35px 0; 	
 } 
/* norableu-products-title */
.norableu-details-title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 13px;
	color: #7781bd;
 }
/* norableu-product-container */ 
.norableu-details-mygallery { 
  	width: 100%;
 }
.norableu-details-mygallery-thumb { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.norableu-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.norableu-details-mouseover {
    display: none;
 }  
.norableu-details-mouseover-mobile {
    width: 100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #7481bf;
 } 
.norableu-details-step-nr_1 {
	display: inline-block; 
	width: 26px;
	margin-top: 10px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}
.norableu-details-step-nr_2 {
	display: inline-block; 
	width: 26px;
	margin-top: 5px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
} 
.norableu-details-step-nr_3 {
	display: inline-block; 
	width: 26px;
	margin-top: 20px; 
	padding: 2px; 
	background-color: #aba195; 
	border:1px solid #aba195; 
	border-radius: 20px;  
	text-align: center !important; 
	color:#ffffff; 
}  
.norableu-details-step-text { 
	display: inline-block;
	margin-top: 13px; 
	font-family: 'Droid Sans', sans-serif !important;
	font-size: 13px;
	font-weight: bold;  
}
.norableu-details-qunatity { 
	width: 100%; 
 } 
.norableu-details-qunatity select {
	width: 38%;
	margin: 10px 0 15px 4px; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 } 
.norableu-details-qunatity input {
	width: 100%; 
	margin: 10px 0 15px 0; 
	padding: 5px;  
	border: 1px solid #cccccc; 
	border-radius: 4px; 
 }
a.link-nora:link { color: #7781bd; text-decoration: none; font-family: "Open Sans", sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:active { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:visited { color: #7781bd; text-decoration: none; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }
a.link-nora:hover { color: #333333; text-decoration: underline; font-family: "Open Sans" , sans-serif; font-size: 13px; font-weight:bold; }

.norableu-details-button {
    margin-top: 15px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
/* norableu-modal-container */
.norableu-modal-container { 
	overflow: hidden !important; 
	width: 90%;   
	margin: 30px auto;  
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
 }
/* norableu-modal-header */
.norableu-modal-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5; 
	min-height: 16.42857143px; 
 } 
.norableu-modal-title { 
	margin: 0;
	text-align: left;
 }
/* norableu-modal-body */
.norableu-modal-body { 
	padding: 20px 0 20px 0;
 }
.norableu-modal-input {
	margin: 0 auto;
	width: 80%;
	font-size: 14px;
 } 
.norableu-modal-button {
	margin: 0 auto;
	width: 81px;
 }
/* blankyou-details-prod-price-mobile */ 
.norableu-details-prod-price-mobile {
    width: 100%;		
	margin: 19px 0 10px 0;
 }  
/* norableu-details-prod-price */
.norableu-details-prod-price {
   display: none;		
 }  
.norableu-details-our-price {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;	
 } 
.norableu-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 } 
.norableu-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 40px 0 40px 0;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 }  
.norableu-order-container {
	width: 100%;
 }
 .norableu-signature-details { 
 	margin: 15px 0 10px 0;
 }
}