﻿/* Main: $norableu-css 
         @norableu-fit-on-pc-1199px
         @norableu-fit-on-tablet-993px-to-1198px
         @norableu-fit-on-tablet-768px-to-992px
         @norableu-fit-on-mobile-621px-to-767px
         @norableu-fit-on-mobile-461px-620px  
		 @norableu-fit-on-mobile-361px-460px
		 @norableu-fit-on-mobile-321px-360px 
		 @norableu-fit-on-mobile-241px-320px 
		 @norableu-fit-on-mobile-1px-240px 
		 @norableu-fit-on-mobile-1px-767px  
*/    
 
/* Main: $norableu-css */
/* @norableu-fit-on-pc-1199px */
@media (min-width: 1199px) {
/* norableu-fit-on-pc */
.norableu-fit-on-pc { 
    margin-left: 15px;
	width: 1045px; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* norableu-menu-logo */
.norableu-menu-logo {}
.norableu-menu-logo img {}
/* norableu-menu-tabs */
.norableu-menu-tabs-bg {
	width: 271px;
	height: 259px;
	background-image:url('../../images/big/norabelu_menu_bg.png');
 } 
.norableu-menu-tabs { 
	padding: 5.2px 0 5.2px 85px ; 
	border-bottom: 1px solid #ccc; 
	text-align: left; 
 } 
.norableu-menu-tabs:hover {
    background-color:#ffffff; 
    opacity:0.6;
 }
a.link-norableu-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:hover { color: #333333 !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
/* norableu-menu-blank-container */
.norableu-menu-blank-container { 
	margin: 5px 0 5px 0; 
	border-left: 1px solid #7582bf; 
	border-right: 1px solid #7582bf; 
 }
/* norableu-menu-blank-title */
.norableu-menu-blank-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* norableu-menu-blank-logo */
.norableu-menu-blank-logo {
	padding: 0 0 5px 0; 
 } 
.norableu-menu-blank-logo img {} 
/* norableu-menu-blank-text */
.norableu-menu-blank-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* norableu-menu-blank-prod */
.norableu-menu-blank-prod { 
	padding: 15px 0 15px 0; 
 }
.norableu-menu-blank-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #33b6b8; 
 }
.norableu-menu-blank-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.norableu-menu-blank-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.norableu-menu-blank-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-menu-blank-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.norableu-banner {
	float: left ;
	width: 756px;
	margin-top: 5px;
 }
/* norableu-products */
.norableu-product-container { 
	float: left ;
	width: 756px; 
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 66px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin: 17px 0 0 36px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	display: inline-block; 
	margin-top: 3px;	
 }
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	margin: 15px 0 20px 40px;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 40px; 
	height: 40px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat; 
	}
.norableu-product-img img { 
	width: 200px; 
	height: 180px; 
	overflow: hidden; 
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}

/* @norableu-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* norableu-fit-on-pc */
.norableu-fit-on-tablet { 
	width: 910px; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
/* norableu-menu-logo */
.norableu-menu-logo {}
.norableu-menu-logo img {}
/* norableu-menu-tabs */
.norableu-menu-tabs-bg {
	width: 271px;
	height: 259px;
	background-image:url('../../images/big/norabelu_menu_bg.png');
 } 
.norableu-menu-tabs { 
	padding: 5.2px 0 5.2px 85px ; 
	border-bottom: 1px solid #ccc; 
	text-align: left; 
 } 
.norableu-menu-tabs:hover {
    background-color:#ffffff; 
    opacity:0.6;
 }
a.link-norableu-menu:link { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:active { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:visited { color: #ffffff !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
a.link-norableu-menu:hover { color: #333333 !important; text-decoration: none !important; font-family: "MMa Gauss"; font-size: 18px; }
/* norableu-menu-blank-container */
.norableu-menu-blank-container { 
	margin: 5px 0 5px 0; 
	border-left: 1px solid #7582bf; 
	border-right: 1px solid #7582bf; 
 }
/* norableu-menu-blank-title */
.norableu-menu-blank-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* norableu-menu-blank-logo */
.norableu-menu-blank-logo {
	padding: 0 0 5px 0; 
 } 
.norableu-menu-blank-logo img {} 
/* norableu-menu-blank-text */
.norableu-menu-blank-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* norableu-menu-blank-prod */
.norableu-menu-blank-prod { 
	padding: 15px 0 15px 0; 
 }
.norableu-menu-blank-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #33b6b8; 
 }
.norableu-menu-blank-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.norableu-menu-blank-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.norableu-menu-blank-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-menu-blank-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.norableu-banner {
	float: right;
	width: 639px;
	margin-top: 5px;
 } 
.norableu-banner-size {
	width: 645px;
 }
/* norableu-products */
.norableu-product-container { 
	float: right;
	width: 639px; 
	margin: 5px 0 35px 0;	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 63px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	display: inline-block; 
	margin-top: 3px;	
 }
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	margin: 15px 0 20px 40px;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 40px; 
	height: 40px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat; 
	}
.norableu-product-img img { 
	width: 250px; 
	height: 200px; 
	overflow: hidden;
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}

/* @norableu-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* norableu-fit-on-tablet */
.norableu-fit-on-tablet { 
	width: 690px; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container {
	display: none; 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0;
 }
.norableu-banner {
	width: 690px;
 } 
.norableu-banner-size {
	width: 696px;
 }
/* norableu-products */
.norableu-product-container { 
	width: 639px;
	margin: 5px 0 35px 0;	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 43px;
	margin-bottom: 17px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin-top: 12px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #7781bd;
 }
.norableu-mobile-select {
	margin: 20px 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px; 
 } 
/* norableu-products-thumbs */
.norableu-signature-favorite {
	display: inline-block; 
	margin-top: 3px;	
 }
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	margin: 15px 0 20px 55px;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 40px; 
	height: 40px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat; 
	}
.norableu-product-img img { 
	width: 250px; 
	height: 200px; 
	overflow: hidden;
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}

/* @norableu-fit-on-mobile-1px-767px */
@media (min-width: 1px) and (max-width: 767px)  {
/* norableu-fit-on-mobile */
.norableu-fit-on-mobile { 
	width: 100%; 
 } 
/* norableu-menu-container */ 
.norableu-menu-container { 
    display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
.norableu-banner {
	width: 100%;
 }
.norableu-banner-size {
	width: 101%;	
 } 
 
 .norableu-mobile-select {
	margin: 0 0 20px 0;
	border: 2px solid #f1f1f1; 
	border-radius: 4px; 
	font-family: "Dancing Script", "Times New Roman", Times, serif;
	text-align: left; 
	font-size: 20px;
}
/* @norableu-fit-on-mobile-621px-to-767px */
@media (min-width: 621px) and (max-width: 767px)  {
/* norableu-products */
.norableu-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 60px;
	margin-bottom: 5px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin-top: 17px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	display: inline-block; 
	margin-top: 3px;	
 }
.norableu-signature img {
    width: 25%;
 } 
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	width: 40%;
	margin: 10px 0 30px 7%;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.norableu-product-img img { 
	width: 100%; 
	height: 180px; 
	overflow: hidden;
 }  
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 40px; 
	height: 40px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat; 
 }
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}

/* @norableu-fit-on-mobile-461px-620px */
@media (min-width: 461px) and (max-width: 620px) {
/* norableu-products */
.norableu-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 66px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin-top: 17px;
	font-family: "Open Sans";
	font-size: 20px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	display: inline-block; 
	margin-top: 8px;	
 }
.norableu-signature-favorite img {
	width: 80%;
 }
.norableu-signature img {
    width: 25%;
 } 
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	width: 40%;
	margin: 10px 0 30px 7%;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 40px; 
	height: 40px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat; 
 }
.norableu-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}

/* @norableu-fit-on-mobile-361px-460px */
@media (min-width: 361px) and (max-width: 460px) {
/* norableu-products */
.norableu-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 35px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	display: inline-block; 
	margin-top: 11px;	
 }
.norableu-signature-favorite img {
	width: 60%;
 }
.norableu-signature img {
    width: 30%;
 } 
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 36px; 
	height: 36px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat;
	background-size: 36px; 
 }
.norableu-product-img img { 
	width: 100%; 
	height: 250px; 
	overflow: hidden;
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}

/* @norableu-fit-on-mobile-321px-360px */
@media (min-width: 321px) and (max-width: 360px) {
/* norableu-products */
.norableu-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 35px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	width: 56%;
	height: 45px;
	display: inline-block; 
	margin-top: 11px;	
 }
.norableu-signature-favorite img {
	width: 71%;
 }
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 36px; 
	height: 36px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat;
	background-size: 36px; 
 }
.norableu-product-img img { 
	width: 100%; 
	height: 200px; 
	overflow: hidden; 
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}
/* @norableu-fit-on-mobile-241px-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* norableu-products */
.norableu-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 35px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 16px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	width: 58%;
	height: 45px;
	display: inline-block; 
	margin-top: 11px;	
 }
.norableu-signature-favorite img {
	width: 71%;
 }
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 36px; 
	height: 36px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat;
	background-size: 36px; 
 }
.norableu-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}

/* @norableu-fit-on-mobile-1px-240px */
@media (min-width: 1px) and (max-width: 240px) {
/* norableu-products */
.norableu-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 } 
/* norableu-products-top */
.norableu-product-favorite-top {
	width: 100%;
	height: 35px;
}
/* norableu-products-title */
.norableu-product-favorite-title {
	float: left;
	display: inline-block;
	margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 16px;
	color: #7781bd;
 }
/* norableu-products-thumbs */
.norableu-signature-favorite {
	width: 58%;
	height: 45px;
	display: inline-block; 
	margin-top: 11px;	
 }
.norableu-signature-favorite img {
	width: 71%;
 }
/* norableu-product-container */ 
.norableu-product-favorite { 
	position: relative;
    float: left;
	width: 80%;
	margin: 10px 0 30px 10%;  
 } 
.norableu-product-img {
	padding: 5px;
	border: 1px solid #7481bf; 
	border-radius: 2px;	
 }
.bulsig { 
	position: absolute; 
	top: -15px; 
	left: -10px; 
	display: inline-block; 
	width: 36px; 
	height: 36px; 
	background-image:url('../../images/icons/norableu_small_sig.png');
	background-repeat: no-repeat;
	background-size: 36px; 
 }
.norableu-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.norableu-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.norableu-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.norableu-btn {
	color: #ffffff;
	background-color: #7481bf;
	cursor: pointer;
	border: 1px solid #6a76b0;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;	
 }
.norableu-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.norableu-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}