﻿/* Main: $pinkestore-css 
         @pinkestore-fit-on-pc-1199px
         @pinkestore-fit-on-tablet-993px-to-1198px
         @pinkestore-fit-on-tablet-768px-to-992px
         @pinkestore-fit-on-mobile-621px-to-767px
         @pinkestore-fit-on-mobile-461px-to-620px  
		 @pinkestore-fit-on-mobile-361px-to-460px
		 @pinkestore-fit-on-mobile-321px-to-360px 
		 @pinkestore-fit-on-mobile-241px-to-320px 
		 @pinkestore-fit-on-mobile-1px-to-240px   
*/       
 
 
/* Main: $pinkestore-css */
/* @pinkestore-fit-on-pc-1199px */
@media (min-width: 1199px) {
/* pinkestore-fit-on-pc */
.pinkestore-fit-on-pc {
    margin-left: 15px;
	width: 1045px; 
 } 
/* pinkestore-menu-container */ 
.pinkestore-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
/* pinkestore-menu-logo */
.pinkestore-menu-logo {}
.pinkestore-menu-logo img {}
/* pinkestore-menu-norablue-container */
.pinkestore-menu-norablue-container { 
	margin: 5px 0 5px 0;
	border-left: 1px solid #808080; 
	border-right: 1px solid #808080; 
 }
/* pinkestore-menu-norablue-title */
.pinkestore-menu-norablue-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* pinkestore-menu-norablue-logo */
.pinkestore-menu-norablue-logo { 
	padding: 0 0 10px 0; 
 } 
.pinkestore-menu-norablue-logo img {}
/* pinkestore-menu-norablue-text */
.pinkestore-menu-norablue-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* pinkestore-menu-norablue-prod */
.pinkestore-menu-norablue-prod { 
	padding: 15px 0 15px 0; 
 } 
.pinkestore-menu-norablue-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #7781bd; 
 }
.pinkestore-menu-norablue-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.pinkestore-menu-norablue-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-menu-norablue-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-menu-norablue-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-menu-norablue-btn {
	color: #ffffff;
	background-color: #8890c5;
	cursor: pointer;
	border: 1px solid #767dae;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.pinkestore-menu-norablue-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.pinkestore-menu-norablue-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.pinkestore-banner {
	float: left ;
	width: 756px;
	margin-top: 5px;
 }
.pinkestore-banner-size { } 

/* pinkestore-products */
.pinkestore-product-container { 
	float: left ;
	width: 756px; 
	margin: 5px 0 35px 0; 	
 } 
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product { 
    float: left;
	margin: 25px 0 10px 40px;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 200px; 
	height: 180px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 10px 5px 10px;
}
}


/* @pinkestore-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* pinkestore-fit-on-tablet */
.pinkestore-fit-on-tablet {
	width: 910px; 
 } 
/* pinkestore-menu-container */ 
.pinkestore-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
/* pinkestore-menu-logo */
.pinkestore-menu-logo {}
.pinkestore-menu-logo img {}
/* pinkestore-menu-norablue-container */
.pinkestore-menu-norablue-container { 
	margin: 5px 0 5px 0;
	border-left: 1px solid #808080; 
	border-right: 1px solid #808080; 
 }
/* pinkestore-menu-norablue-title */
.pinkestore-menu-norablue-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* pinkestore-menu-norablue-logo */
.pinkestore-menu-norablue-logo { 
	padding: 0 0 10px 0; 
 } 
.pinkestore-menu-norablue-logo img {}
/* pinkestore-menu-norablue-text */
.pinkestore-menu-norablue-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* pinkestore-menu-norablue-prod */
.pinkestore-menu-norablue-prod { 
	padding: 15px 0 15px 0; 
 } 
.pinkestore-menu-norablue-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #7781bd; 
 }
.pinkestore-menu-norablue-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.pinkestore-menu-norablue-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-menu-norablue-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-menu-norablue-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-menu-norablue-btn {
	color: #ffffff;
	background-color: #8890c5;
	cursor: pointer;
	border: 1px solid #767dae;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.pinkestore-menu-norablue-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.pinkestore-menu-norablue-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.pinkestore-banner {
	float: right;
	width: 639px;
	margin-top: 5px;
 }
.pinkestore-banner-size {
	width: 645px;	
 } 
/* pinkestore-products */
.pinkestore-product-container { 
	float: right;
	width: 639px; 
	margin: 5px 0 35px 0; 	
 } 
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product { 
    float: left;
	margin: 24px 0 10px 40px;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 250px; 
	height: 200px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 10px 5px 10px;
} 
}

/* @pinkestore-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* pinkestore-fit-on-tablet */
.pinkestore-fit-on-tablet {
	width: 690px; 
 } 
/* pinkestore-menu-container */ 
.pinkestore-menu-container { 
    display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
.pinkestore-banner {
	width: 690px;
	margin-top: 5px;
 }
.pinkestore-banner-size {
	width: 696px;	
 } 
/* pinkestore-products */
.pinkestore-product-container { 
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
	width:100%;
	margin: 17px 0 19px 0;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product { 
	float:left;
	margin: 10px 0 25px 7%;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 250px; 
	height: 200px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;

	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 10px 5px 10px;
} 
}

/* @pinkestore-fit-on-mobile */
@media (min-width: 1px) and (max-width: 767px)  {
/* pinkestore-fit-on-mobile */
.pinkestore-fit-on-mobile { 
	width: 100%; 
 } 
/* pinkestore-menu-container */ 
.pinkestore-menu-container { 
    display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
.pinkestore-banner {
	width: 100%;
 }
.pinkestore-banner-size {
	width: 101%;	
 } 
}

/* @pinkestore-fit-on-mobile-621px-to-767px */
@media (min-width: 621px) and (max-width: 767px) {
/* pinkestore-products */
.pinkestore-product-container {
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 17px 0 14px 0;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product {
	float: left;
	width: 40%;
	margin: 10px 0 30px 6%;
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 100%; 
	height: 180px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 200px; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 13px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;

	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 7px 5px 7px;
} 
}
/* @pinkestore-fit-on-mobile-461px-to-620px */
@media (min-width: 461px) and (max-width: 620px)  { 
/* pinkestore-products */
.pinkestore-product-container {
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 17px 0 21px 0;
	font-family: "Open Sans";
	font-size: 20px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product {
	width: 40%; 
    float: left;
	margin: 10px 0 30px 7%;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 10px 5px 10px;
 } 
}
/* @pinkestore-fit-on-mobile-361px-to-460px */
@media (min-width: 361px) and (max-width: 460px)  {
/* pinkestore-products */
.pinkestore-product-container {
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 18px 0 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;

 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product {
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 100%; 
	height: 250px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;

	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 10px 5px 10px;
 }
}
/* @pinkestore-fit-on-mobile-321px-to-360px */
@media (min-width: 321px) and (max-width: 360px) {
/* pinkestore-products */
.pinkestore-product-container {
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 20px 0 10px 3%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product {
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 100%; 
	height: 200px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;

	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}
/* @pinkestore-fit-on-mobile-241px-to-320px */
@media (min-width: 241px) and (max-width: 320px) {
/* pinkestore-products */
.pinkestore-product-container {
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 5% 0 2% 3%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product {
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden;
 } 
.pinkestore-product-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;

	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}
/* @pinkestore-fit-on-mobile-1px-to-240px */
@media (min-width: 1px) and (max-width: 240px) {
/* pinkestore-products */
.pinkestore-product-container {
	width: 100%;
	margin: 5px 0 35px 0; 	
 }   
/* pinkestore-products-title */
.pinkestore-product-title {
    margin: 20px 0 10px 3%;
	font-family: "Open Sans";
	font-size: 18px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
/* norableu-product-container */ 
.pinkestore-product {
	width: 80%; 
    float: left;
	margin: 10px 0 30px 10%;  
 } 
.pinkestore-product-img {
	padding: 5px;
	border: 1px solid #f171b7; 
	border-radius: 2px;	
 } 
.pinkestore-product-img img { 
	width: 100%; 
	height: 150px; 
	overflow: hidden; 
 } 
.pinkestore-product-description { 
	width: 100%; 
	height: 52px; 
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 23px;
	text-align: center; 
	font-size: 12px;
	overflow: hidden;
 } 
.pinkestore-product-price {  	 
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-product-button {
    margin-top: 16px; 
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.pinkestore-btn:hover {
	color: #ffffff;

	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.pinkestore-btn-xl {
	padding: 5px 7px 5px 7px;
 }
}
/* Main: END $pinkestore-css */ 