﻿/* Main: $pinkestore-css 
         @pinkestore-details-fit-on-pc-1199px
         @pinkestore-details-fit-on-tablet-993px-to-1198px
         @pinkestore-details-fit-on-tablet-768px-to-992px
         @pinkestore-details-fit-on-mobile-461px-to-767px
         @pinkestore-details-fit-on-mobile-361px-to-460px    
		 @pinkestore-details-fit-on-mobile-1px-to-360px
*/
 
/* Main: $pinkestore-css-details */
/* @pinkestore-fit-on-pc-1199px */
@media (min-width: 1199px) {
/* pinkestore-details-fit-on-pc */
.pinkestore-details-fit-on-pc {
    margin-left: 15px;
	width: 1045px; 
 } 
/* pinkestore-details-menu-container */ 
.pinkestore-details-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
/* pinkestore-menu-logo */
.pinkestore-details-menu-logo {}
.pinkestore-details-menu-logo img {}
/* pinkestore-menu-norablue-container */
.pinkestore-details-menu-blank-container { 
	margin: 5px 0 5px 0;
	border-left: 1px solid #808080; 
	border-right: 1px solid #808080; 
 }
/* pinkestore-menu-norablue-title */
.pinkestore-details-menu-blank-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* pinkestore-menu-norablue-logo */
.pinkestore-details-menu-blank-logo { 
	padding: 0 0 10px 0; 
 } 
.pinkestore-details-menu-blank-logo img {}
/* pinkestore-menu-norablue-text */
.pinkestore-details-menu-blank-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* pinkestore-detail-menu-norablue-prod */
.pinkestore-details-menu-blank-prod { 
	padding: 15px 0 15px 0; 
 } 
.pinkestore-details-menu-blank-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #33b6b8; 
 }
.pinkestore-details-menu-blank-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.pinkestore-details-menu-blank-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-details-menu-blank-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-details-menu-blank-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-pinkestore-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
 
.pinkestore-details-menu-despline { 
	margin: 5px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
 
/* pinkestore-related-deals-title */
.pinkestore-related-deals-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss";
	color: #f171b7; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* pinkestore-detail-menu-related-prod */
.pinkestore-details-menu-related-prod { 
	padding: 15px 0 15px 0; 
 } 
.pinkestore-details-menu-related-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #f171b7; 
 }
.pinkestore-details-menu-related-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.pinkestore-details-menu-related-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-details-menu-related-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-details-menu-related-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-pinkestore-related-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-related-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.menu-pinkestore-fb-frame {
	width: 270px;
	height: 245px;
	margin: 5px 0 20px 0;
	padding: 0 5px 0 5px;
	border: none !important;
 }
/* pinkestore-details-products */
.pinkestore-details-container { 
	float: left ;
	position: relative;
	width: 756px; 
	margin: 5px 0 35px 0; 	
 } 
/* pinkestore-products-title */
.pinkestore-details-title {
    margin: 20px 0 0 38px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-details-product-by {
    margin: 0 0 0 38px;
	font-family: "Open Sans";
	font-size: 16px;
	color: #333333;
	text-align: left;	
 }
 /* pinkestore-details-mygallery */
.pinkestore-details-mygallery { 
    float: left;
	width: 450px;
	margin: 20px 0 0 39px;
 }
.pinkestore-details-mygallery-thumb { 
	width: 448px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.pinkestore-details-thumb-pics {
	display: inline-block;
	margin: 6px;
 }
.MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.pinkestore-details-mouseover {
    display: yes;
	float: left;
    width: 410px;
	margin: 10px 0 0 39px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #f657b4;
	text-align: left; 
 }  
.pinkestore-details-mouseover-mobile {
    display: none; 
 }  
/* pinkestore-details-prod-price */
.pinkestore-details-prod-price {
	float: left;
	margin: 40px 0 0 39px;		
 }
.pinkestore-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
	color: #f270b7;	
 }
.pinkestore-details-original-price {
	float: left;
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-our-discount {
	float: left;
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 }
.pinkestore-details-price-desp {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
    height: 35px;
    display: inline-block;	
    border: 1px solid #888888;	
 }
.pinkestore-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin: 40px 0 0 39px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 } 
.pinkestore-details-right-side-mobile {
	display: none;	
}
.pinkestore-details-right-side {
	float: right;
	position: relative;
	width: 240px;
	top: 40px;
}
.pinkestore-details-timeleft {
	float: left;
	position: relative;
	width: 85%;
	padding: 5px 25px 5px 25px;
	top: 10px;
	left: 10px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-timeleft-order {
	float: left;
	position: relative;
	top: 30px;
	left: 30px;
 }
.pinkestore-details-timeleft-back-store {
	float: left;
	position: relative;
	top: 30px;
	left: 40px;
 }
.menu-pinkestore-related-btn-back-store {
	color: #333333;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn-back-store:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.pinkestore-details-timeleft-save {
	float: left;
	position: relative;
	top: 80px;
	right: 80px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
 }
.pinkestore-details-timeleft-save-pinke {
	float: right;
	position: relative;
	top: 85px;
	right: 45px;	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #f657b4;
	font-weight: bold;
	font-style: italic;
 }  
.pinkestore-details-fb-despline { 
	float: left;
	width: 100%;
	margin: 50px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* prod-details-facebook-comments */
.pinkestore-details-fb-comments-despline { 
	float: left;
	position: relative;
	width: 760px;
	bottom: -58px;
	margin: 50px 5px 0 5px;
 }

.social-buttons { 
	float: left;
	position: relative;
    bottom: -55px;
	margin: 30px 0 0 42px; 
 } 
.fb-like { 
	float:left;
	display: inline-block;  
	height: 20px; 
	overflow: hidden; 
 } 
.a2a_kit { 
	float:left; 
	display: inline-block; 
	margin: -1px 0 0 20px; 
 } 
.google_plus { 
	float: left; 
	display: inline-block; 
	width: 60px; 
	height: 20px; 
	margin-left: 31px; 
 } 
.twitter_button { 
	float: left; 
	display: inline-block; 
	width: 80px; 
	height: 20px; 
	margin-left: 8px; 
 }
.fb-comments {
	float: left;
	width: 720px !important;
	position: relative;
	bottom: -57px;
	margin: 20px 0 30px 39px;
 } 
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
}

/* @pinkestore-details-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
/* pinkestore-details-fit-on-tablet */
.pinkestore-details-fit-on-tablet {
	width: 910px; 
 } 
/* pinkestore-details-menu-container */ 
.pinkestore-details-menu-container { 
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
/* pinkestore-menu-logo */
.pinkestore-details-menu-logo {}
.pinkestore-details-menu-logo img {}
/* pinkestore-menu-norablue-container */
.pinkestore-details-menu-blank-container { 
	margin: 5px 0 5px 0;
	border-left: 1px solid #808080; 
	border-right: 1px solid #808080; 
 }
/* pinkestore-menu-norablue-title */
.pinkestore-details-menu-blank-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss"; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
/* pinkestore-menu-norablue-logo */
.pinkestore-details-menu-blank-logo { 
	padding: 0 0 10px 0; 
 } 
.pinkestore-details-menu-blank-logo img {}
/* pinkestore-menu-norablue-text */
.pinkestore-details-menu-blank-text { 
	margin-left: 3px; 
	padding: 0 15px 0 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	text-align: left;
	color: #333333;
 }
/* pinkestore-detail-menu-norablue-prod */
.pinkestore-details-menu-blank-prod { 
	padding: 15px 0 15px 0; 
 } 
.pinkestore-details-menu-blank-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #33b6b8; 
 }
.pinkestore-details-menu-blank-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.pinkestore-details-menu-blank-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-details-menu-blank-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-details-menu-blank-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-pinkestore-blank-btn {
	color: #ffffff;
	background-color: #33b6b8;
	cursor: pointer;
	border: 1px solid #2ea3a5;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-blank-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-blank-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.pinkestore-details-menu-despline { 
	margin: 5px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* pinkestore-related-deals-title */
.pinkestore-related-deals-title { 
	padding: 15px 0 0 15px;
	font-family:"MMa Gauss";
	color: #f171b7; 
	font-weight: normal !important; 
	font-size: 18px; 
	text-align: left; 
 }
 
/* pinkestore-detail-menu-related-prod */
.pinkestore-details-menu-related-prod { 
	padding: 15px 0 15px 0; 
 } 
.pinkestore-details-menu-related-prod-image { 
	width: 147px;
	height: 132px;
 	border: 1px solid #f171b7; 
 }
.pinkestore-details-menu-related-prod-image img { 
	width: 145px; 
	height: 130px; 
 }
.pinkestore-details-menu-related-prod-description {
    width: 145px;
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px;
	line-height: 18px; 
	text-align: center;
	color: #333333;    	
 } 
.pinkestore-details-menu-related-prod-price {
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif !important; 
	color: #333333;
	font-weight: bold;
	text-align: center; 
	font-size: 14px; 
 } 
.pinkestore-details-menu-related-prod-button {
	padding-top: 10px;
	font-family: 'Droid Sans', sans-serif !important; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center;
	color: #333333;    	
 } 
.menu-pinkestore-related-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-related-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.menu-pinkestore-fb-frame {
	width: 270px;
	height: 245px;
	margin: 5px 0 20px 0;
	padding: 0 5px 0 5px;
	border: none !important;
 }
/* pinkestore-details-container */
.pinkestore-details-container { 
	float: left ;
	position: relative;
	width: 638px; 
	margin: 5px 0 35px 0; 	
 } 
/* pinkestore-products-title */
.pinkestore-details-title {
    margin: 20px 0 0 15px;
	font-family: "Open Sans";
	font-size: 20px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-details-product-by {
    margin: 0 0 0 15px;
	font-family: "Open Sans";
	font-size: 14px;
	color: #333333;
	text-align: left;	
 }
.pinkestore-details-mygallery { 
    float: left;
	width: 390px;
	margin: 20px 0 0 15px;
 }
.pinkestore-details-mygallery-thumb { 
	width: 390px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.pinkestore-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
 .MagicZoomImg {
	width: 48px;
	height: 48px;
 }
.pinkestore-details-mouseover {
    display: yes;
	float: left;
    width: 410px;
	margin: 10px 0 0 15px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #f657b4;
	text-align: left; 
 }  
.pinkestore-details-mouseover-mobile {
    display: none; 
 }   
/* pinkestore-details-prod-price */
.pinkestore-details-prod-price {
	float: left;
	margin: 40px 0 0 15px;		
 }
.pinkestore-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
	color: #f270b7;	
 }
.pinkestore-details-original-price {
	float: left;
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
}
.pinkestore-details-our-discount {
	float: left;
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 }
.pinkestore-details-price-desp {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
    height: 35px;
    display: inline-block;	
    border: 1px solid #888888;	
 }
.pinkestore-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin: 40px 0 0 15px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 } 
.pinkestore-details-right-side-mobile {
	display: none;	
 } 
.pinkestore-details-right-side {
	float: right;
	position: relative;
	width: 220px;
	top: 40px;
 }
.pinkestore-details-timeleft {
	float: left;
	position: relative;
	width: 95%;
	padding: 5px 25px 5px 25px;
	top: 10px;
	left: 10px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-timeleft-order {
	float: left;
	position: relative;
	top: 30px;
	left: 35px;
 }
.pinkestore-details-timeleft-back-store {
	float: left;
	position: relative;
	top: 30px;
	left: 43px;
 }
.menu-pinkestore-related-btn-back-store {
	color: #333333;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn-back-store:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
 
.pinkestore-details-timeleft-save {
	float: left;
	position: relative;
	top: 60px;
	left: 70px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
 }
.pinkestore-details-timeleft-save-pinke {
	float: right;
	position: relative;
	top: 70px;
	right: 30px;	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #f657b4;
	font-weight: bold;
	font-style: italic;
 }
  
.pinkestore-details-fb-despline { 
	float: left;
	width: 100%;
	margin: 50px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* prod-details-facebook-comments */
.social-buttons { 
	float: left;
	position: relative;
    bottom: -55px;
	margin: 30px 0 0 15px; 
 } 
.fb-like { 
	float:left;
	display: inline-block;  
	height: 20px; 
	overflow: hidden; 
 } 
.a2a_kit { 
	float:left; 
	display: inline-block; 
	height: 20px; 
	margin-left: 10px; 
 } 
.google_plus { 
	float: left; 
	display: inline-block; 
	width: 60px; 
	height: 20px; 
	margin-left: 31px; 
 } 
.twitter_button { 
	float: left; 
	display: inline-block; 
	width: 80px; 
	height: 20px; 
	margin-left: 8px; 
 }
.fb-comments {
	float: left;
	position: relative;
	width: 720px !important; 
	bottom: -57px;
	margin: 20px 0 30px 15px;
 }  
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
}

/* @pinkestore-details-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) {
/* pinkestore-details-fit-on-tablet */
.pinkestore-details-fit-on-tablet {
	width: 690px; 
 } 
/* pinkestore-details-menu-container */ 
.pinkestore-details-menu-container { 
	display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
.menu-pinkestore-related-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-related-btn-md {
	padding: 5px 7px 5px 7px; 
 }
/* pinkestore-details-products */
.pinkestore-details-container { 
	float: left ;
	position: relative;
	width: 638px; 
	margin: 5px 0 35px 0; 	
 } 
/* pinkestore-products-title */
.pinkestore-details-title {
    margin-top: 20px;
	font-family: "Open Sans";
	font-size: 20px;
	color: #f657b4;
	text-align: left;
 }
.pinkestore-details-product-by {
	font-family: "Open Sans";
	font-size: 14px;
	color: #333333;
	text-align: left;	
 }
.pinkestore-details-mygallery { 
    float: left;
	width: 410px;
	margin-top: 20px;
 }
.pinkestore-details-mygallery-thumb { 
	width: 410px;
	background: #808080;
	border-top: 2px solid #606060;
 }
.pinkestore-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
 
 .MagicZoomImg {
	width: 48px;
	height: 48px;
 }
.pinkestore-details-mouseover {
    display: yes;
	float: left;
    width: 410px;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #f657b4;
	text-align: left; 
 }
.pinkestore-details-mouseover-mobile {
    display: none; 
}  
 
/* pinkestore-details-prod-price */
.pinkestore-details-prod-price {
	float: left;
	margin-top: 40px;		
 }
.pinkestore-details-our-price {
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
	color: #f270b7;	
 }
.pinkestore-details-original-price {
	float: left;
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-our-discount {
	float: left;
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-big-text {
	font-size: 24px;	
	font-weight: bold;
 }
.pinkestore-details-price-desp {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
    height: 35px;
    display: inline-block;	
    border: 1px solid #888888;	
 }
.pinkestore-details-description {
	float: left;
	width: 600px;
	overflow: hidden;
	margin-top: 40px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 } 
.pinkestore-details-right-side-mobile {
	display: none;	
 }  
.pinkestore-details-right-side {
	float: right;
	position: relative;
	width: 220px;
	top: 40px;
}
.pinkestore-details-timeleft {
	float: left;
	position: relative;
	width: 95%;
	padding: 5px 25px 5px 25px;
	top: 10px;
	left: 63px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
}
.pinkestore-details-timeleft-order {
	float: left;
	position: relative;
	top: 30px;
	left: 85px;
}
.pinkestore-details-timeleft-back-store {
	float: left;
	position: relative;
	top: 30px;
	left: 90px;
}
.menu-pinkestore-related-btn-back-store {
	color: #333333;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn-back-store:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.pinkestore-details-timeleft-save {
	float: right;
	position: relative;
	top: 60px;
	right: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
 }
.pinkestore-details-timeleft-save-pinke {
	float: left;
	position: relative;
	top: 70px;
	left: 90px;	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #f657b4;
	font-weight: bold;
	font-style: italic;
 }

.pinkestore-details-fb-despline { 
	float: left;
	width: 100%;
	margin: 50px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* prod-details-facebook-comments */
.social-buttons { 
	float: left;
	position: relative;
    bottom: -55px;
	margin-top: 30px; 
 } 
.fb-like { 
	float:left;
	display: inline-block;  
	height: 20px; 
	overflow: hidden; 
 } 
.a2a_kit { 
	float:left; 
	display: inline-block; 
	height: 20px; 
	margin-left: 10px; 
 } 
.google_plus { 
	float: left; 
	display: inline-block; 
	width: 60px; 
	height: 20px; 
	margin-left: 31px; 
 } 
.twitter_button { 
	float: left; 
	display: inline-block; 
	width: 80px; 
	height: 20px; 
	margin-left: 8px; 
 }
.fb-comments {
	float: left;
	position: relative;
	width: 720px !important; 
	bottom: -57px;
	margin: 20px 0 40px 0;
 }
  
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
}

/* @pinkestore-fit-on-mobile */
@media (min-width: 461px) and (max-width: 767px)  {
/* @pinkestore-details-fit-on-mobile-461px-to-767px */
.pinkestore-details-fit-on-mobile {
	width: 100%;
 } 
/* pinkestore-details-menu-container */ 
.pinkestore-details-menu-container { 
	display: none;
 }
.menu-pinkestore-related-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-related-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.menu-pinkestore-related-btn-back-store {
	color: #333333;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn-back-store:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }  
/* pinkestore-details-products */
.pinkestore-details-container { 
	width: 100%;  	
 } 
/* pinkestore-products-title */
.pinkestore-details-title {
	font-family: "Open Sans";
	font-size: 16px;
	color: #f657b4;
 }
.pinkestore-details-product-by {
	font-family: "Open Sans";
	font-size: 14px;
	color: #333333;	
 }
.pinkestore-details-mygallery { 
	width: 100%;
 }
.pinkestore-details-mygallery-thumb { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.pinkestore-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
 .MagicZoomImg {
	width: 54px;
	height: 54px;
 }
.pinkestore-details-mouseover {
    display: none; 
 } 
.pinkestore-details-mouseover-mobile {
	width:100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #f657b4; 
 }
/* pinkestore-details-prod-price */
.pinkestore-details-prod-price {
	width: 100%;
	margin-top: 5px;
	display: inline-block;		
 }
.pinkestore-details-our-price {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #f270b7;	
 }
.pinkestore-details-original-price {
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
 }
.pinkestore-details-our-discount {
	display: inline-block;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
 }
.pinkestore-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 }
.pinkestore-details-price-desp {
	position: relative;
	top: 10px;
	margin: 0 10px 0 10px;
    height: 30px;
    display: inline-block;	
    border: 1px solid #888888;	
 }
.pinkestore-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 40px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 } 
.pinkestore-details-right-side {
	display: none;
	width: 100%;
 }  
.pinkestore-details-right-side-mobile {
	display: yes;	
}
.pinkestore-details-timeleft-mobile {
	width: 300px;
	margin-top: 20px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-timeleft-order-mobile {
	margin-top: 20px;
	display: inline-block;
 }
.pinkestore-details-timeleft-back-store-mobile {
	margin-top: 20px;
	display: inline-block;
 }
.pinkestore-details-timeleft-save-mobile {
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
 }
.pinkestore-details-timeleft-save-pinke-mobile {
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #f657b4;
	font-weight: bold;
	font-style: italic;
 }  
.pinkestore-details-fb-despline { 
	float: left;
	width: 100%;
	margin: 50px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* prod-details-facebook-comments */
.social-buttons { 
	float: left;
	position: relative;
    bottom: -55px;
	margin-top: 30px; 
 } 
.fb-like { 
	float:left;
	display: inline-block;  
	height: 20px; 
	overflow: hidden; 
 } 
.a2a_kit { 
	float:left; 
	display: inline-block; 
	height: 20px; 
	margin-left: 10px; 
 } 
.google_plus { 
	float: left; 
	display: inline-block; 
	width: 60px; 
	height: 20px; 
	margin-left: 31px; 
 } 
.twitter_button { 
	float: left; 
	display: inline-block; 
	width: 80px; 
	height: 20px; 
	margin-left: 8px; 
 }
.fb-comments {
	float: left;
	position: relative;
	width: 100% !important; 
	bottom: -57px;
	margin: 20px 0 80px 0;
 }
  
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
}

/* @pinkestore-details-fit-on-mobile-361px-to-460px*/
@media (min-width: 361px) and (max-width: 460px)  {
/* pinkestore-details-fit-on-mobil */
.pinkestore-details-fit-on-mobile {
	width: 100%;
 } 
/* pinkestore-details-menu-container */ 
.pinkestore-details-menu-container { 
	display: none;
 }
.menu-pinkestore-related-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-related-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.menu-pinkestore-related-btn-back-store {
	color: #333333;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn-back-store:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }  
/* pinkestore-details-products */
.pinkestore-details-product-container { 
	width: 100%;  	
 } 
/* pinkestore-products-title */
.pinkestore-details-product-title {
	font-family: "Open Sans";
	font-size: 16px;
	color: #f657b4;
 }
.pinkestore-details-product-by {
	font-family: "Open Sans";
	font-size: 14px;
	color: #333333;	
 }
.pinkestore-details-mygallery { 
	width: 100%;
 }
.pinkestore-details-mygallery-thumb { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.pinkestore-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
 .MagicZoomImg {
	width: 48px;
	height: 48px;
 }
.pinkestore-details-mouseover {
    display: none; 
 } 
.pinkestore-details-mouseover-mobile {
	width:100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #f657b4; 
 }

/* pinkestore-details-prod-price */
.pinkestore-details-prod-price {
	width: 100%;
	margin-top: 5px;
	display: inline-block;		
}
.pinkestore-details-our-price {
	width: 300px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #f270b7;	
}
.pinkestore-details-original-price {
	width: 300px;
	margin-top: 20px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
}
.pinkestore-details-our-discount {
	width: 300px;
	margin-top: 20px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
 }
.pinkestore-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 }
.pinkestore-details-price-desp {
	display: none;
 }
.pinkestore-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 40px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 } 
.pinkestore-details-right-side {
	display: none;
	width: 100%;
 }  

.pinkestore-details-right-side-mobile {
	display: yes;	
 }
.pinkestore-details-timeleft-mobile {
	width: 300px;
	margin-top: 20px;
	padding: 7px 25px 7px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-timeleft-order-mobile {
	margin-top: 20px;
	display: inline-block;
 }
.pinkestore-details-timeleft-back-store-mobile {
	margin-top: 20px;
	display: inline-block;
 }
.pinkestore-details-timeleft-save-mobile {
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
 }
.pinkestore-details-timeleft-save-pinke-mobile {
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #f657b4;
	font-weight: bold;
	font-style: italic;
 }  
.pinkestore-details-fb-despline { 
	float: left;
	width: 100%;
	margin: 50px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* prod-details-facebook-comments */
.social-buttons { 
	float: left;
	position: relative;
    bottom: -55px;
	margin-top: 30px; 
 } 
.fb-like { 
	float:left;
	display: inline-block;  
	height: 20px; 
	overflow: hidden; 
 } 
.a2a_kit { 
	float:left; 
	display: inline-block; 
	height: 20px; 
	margin-left: 10px; 
 } 
.google_plus { 
	float: left; 
	display: inline-block; 
	width: 60px; 
	height: 20px; 
	margin-left: 31px; 
 } 
.twitter_button { 
	float: left; 
	display: inline-block; 
	width: 80px; 
	height: 20px; 
	margin-left: 8px; 
 }
.fb-comments {
	float: left;
	position: relative;
	width: 100% !important; 
	bottom: -57px;
	margin: 20px 0 80px 0;
 }
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
}

/* @pinkestore-details-fit-on-mobile-1px-to-360px */
@media (min-width: 1px) and (max-width: 360px) {
/* pinkestore-details-fit-on-mobile */
.pinkestore-details-fit-on-mobile {
	width: 100%;
 } 
/* pinkestore-details-menu-container */ 
.pinkestore-details-menu-container { 
	display: none;
	float: left; 
	width: 271px; 
	margin: 5px 0 0 0; 
 }
.menu-pinkestore-related-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.menu-pinkestore-related-btn-md {
	padding: 5px 7px 5px 7px; 
 }
.menu-pinkestore-related-btn-back-store {
	color: #333333;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
 }
.menu-pinkestore-related-btn-back-store:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }  
/* pinkestore-details-products */
.pinkestore-details-product-container { 
	width: 100%;  	
 } 
/* pinkestore-products-title */
.pinkestore-details-product-title {
	font-family: "Open Sans";
	font-size: 14px;
	color: #f657b4;
 }
.pinkestore-details-product-by {
	font-family: "Open Sans";
	font-size: 12px;
	color: #333333;	
 }
.pinkestore-details-mygallery { 
	width: 100%;
 }
.pinkestore-details-mygallery-thumb { 
	width: 100%;
	background: #808080;
	border-top: 2px solid #606060;
 }
.pinkestore-details-thumb-pics {
	display: inline-block;
	margin: 6px 2px 6px 2px;
 }
 .MagicZoomImg {
	width: 48px;
	height: 48px;
 }
.pinkestore-details-mouseover {
    display: none; 
 } 
.pinkestore-details-mouseover-mobile {
	width:100%;
	margin-top: 10px;	
	font-family: "Open Sans";
	font-size: 13px;
	color: #f657b4; 
 } 
/* pinkestore-details-prod-price */
.pinkestore-details-prod-price {
	width: 100%;
	margin-top: 5px;
	display: inline-block;		
 }
.pinkestore-details-our-price {
	width: 100%;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #f270b7;	
 }
.pinkestore-details-original-price {
	width: 100%;
	margin-top: 20px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
 }
.pinkestore-details-our-discount {
	width: 100%;
	margin-top: 20px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;		
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
 }
.pinkestore-details-big-text {
	font-size: 16px;	
	font-weight: bold;
 }
.pinkestore-details-price-desp {
	display: none;
 }
.pinkestore-details-description {
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 40px;			
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	text-align: left;
 } 
.pinkestore-details-right-side {
	display: none;
	width: 100%;
 }  

.pinkestore-details-right-side-mobile {
	display: yes;	
 }
.pinkestore-details-timeleft-mobile {
	width: 100%;
	margin-top: 20px;
	padding: 5px 25px 5px 25px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
 }
.pinkestore-details-timeleft-order-mobile {
	margin-top: 20px;
	display: inline-block;
 }
.pinkestore-details-timeleft-back-store-mobile {
	margin-top: 20px;
	display: inline-block;
 }
.pinkestore-details-timeleft-save-mobile {
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
 }
.pinkestore-details-timeleft-save-pinke-mobile {
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #f657b4;
	font-weight: bold;
	font-style: italic;
 }  
.pinkestore-details-fb-despline { 
	float: left;
	width: 100%;
	margin: 50px 5px 0 5px;
	border-bottom: 1px solid #808080;
 }
/* prod-details-facebook-comments */
.social-buttons { 
	float: left;
	position: relative;
    bottom: -55px;
	margin-top: 30px; 
 } 
.fb-like { 
	float:left;
	display: inline-block;  
	height: 20px; 
	overflow: hidden; 
 } 
.a2a_kit { 
	float:left; 
	display: inline-block; 
	height: 20px; 
	margin-left: 10px; 
 } 
.google_plus { 
	float: left; 
	display: inline-block; 
	width: 60px; 
	height: 20px; 
	margin-left: 31px; 
 } 
.twitter_button { 
	float: left; 
	display: inline-block; 
	width: 80px; 
	height: 20px; 
	margin-left: 8px; 
 }
.fb-comments {
	float: left;
	position: relative;
	width: 100% !important; 
	bottom: -57px;
	margin: 20px 0 80px 0;
 }
  
.pinkestore-product-alert {  
	margin: 0 0 0 20px;
 }
}
/* Main: END $pinkestore-css */