﻿/* Main: $top-header-css

   Main: $large-nav-bar
         @large-nav-bar-fit-on-pc-1199px
         @large-nav-bar-fit-on-tablet-993px-to-1198px
         @large-nav-bar-fit-on-tablet-768px-to-992px
		 
   Main: $second-large-nav-bar
         @second-large-nav-bar-fit-on-pc-1199px
         @second-large-nav-bar-fit-on-tablet-993px-to-1198px
         @second-large-nav-bar-fit-on-tablet-768px-to-992px
		 
   Main: $mobile-nav-bar
         @mobile-nav-bar-fit-on-mobile-1px-to-767px		 		 	 

   Main: $modal-login
         @modal-login-fit-on-all-1px-to-*
		 
   Main: $modal-create-acc
         @modal-create-ac-fit-on-pc-tablet-min-768px	
		 @modal-create-ac-fit-on-mobile-max-767px
		 
   Main: $banner-css
         @banner-css-fin-on-pc-1199px	
		 @banner-css-fin-on-pc-993px-to-1198px	 	 		 		
*/


/* Main: $large-nav-bar */
/* @large-nav-bar-fit-on-pc-1199px */
@media (min-width: 1199px) {
.navbar-default {
	margin: 0 0 6px 0 !important;
 }
.nav-bar-left-container {
	margin: 24px 0 0 0;
 }
.nav-bar-sizer {
	width: 1px;
	height: 22px;
	margin-top: 15px;
	background-color: #ccc;
 }
/* left-nav-bar */
.nav-bar-left-social {
	float: right;
	margin: 11px 0 0 10px;
 }
a.nav-bar-pink:link,
a.nav-bar-pink:active,
a.nav-bar-pink:visited { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold; 
 }
a.nav-bar-pink:hover { 
	color: #333333 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans" , sans-serif; 
	font-size: 14px;
	font-weight: bold; 
 }
.social-facebook {
	background-image: url('../../images/icons/social_facebook.png');
	background-repeat: no-repeat;
 }
.social-facebook:hover {
	background-image: url('../../images/icons/social_facebook_o.png');
	background-repeat: no-repeat;
 }
.social-twitter {
	background-image: url('../../images/icons/social_twitter.png');
	background-repeat: no-repeat;
 }
.social-twitter:hover {
	background-image: url('../../images/icons/social_twitter_o.png');
	background-repeat: no-repeat;
 }
.social-p {
	background-image: url('../../images/icons/social_p.png');
	background-repeat: no-repeat;
 }
.social-p:hover {
	width: 29px;
	height: 28px;
	background-image: url('../../images/icons/social_p_o.png');
	background-repeat: no-repeat;
 }
.social-gram {
	background-image: url('../../images/icons/social_gram.png');
	background-repeat: no-repeat;
 }
.social-gram:hover {
	background-image: url('../../images/icons/social_gram_o.png');
	background-repeat: no-repeat;
 } 
/* logo */
.nav-bar-logo {
	width: 350px;
	margin: 8px 0 0 15%;
 } 
/* right-nav-bar */
.nav-bar-right-container {
	margin: 24px 13px 0 0;
 }
.nav-bar-btn-create {
	margin: 11px 0 0 15px;
	width: 150px;
	background-image: url('../../images/buttons/create_acc.png');
	background-repeat: no-repeat;
 }
.nav-bar-btn-create:hover {
	margin: 11px 0 0 15px;
	width: 150px;
	background-image: url('../../images/buttons/create_acc_o.png');
	background-repeat: no-repeat;
 }
.nav-bar-left-container {
	margin: 24px 0 0 0;
 }
.nav-bar-user-btn {
	margin: 11px 15px 0 0;
	padding: 5px;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.nav-bar-user-btn:hover {
	margin: 11px 15px 0 0;
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
a.nav-bar-dark:link, 
a.nav-bar-dark:active, 
a.nav-bar-dark:visited { 
	color: #333333 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.nav-bar-dark:hover { 
	color: #f270b7 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }  


.nav-bar-shop-icon {
	margin: 14px -13px 0 10px;
 }
}

/* @large-nav-bar-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) { 
.nav-bar-left-container {
	margin: 0 0 0 0;
 }
.nav-bar-sizer {
	width: 1px;
	height: 22px;
	margin-top: 15px;
	background-color: #ccc;
 }
/* left-nav-bar */
.nav-bar-left-social {
	float: right;
	margin: 11px 0 0 10px;
 }
a.nav-bar-pink:link,
a.nav-bar-pink:active,
a.nav-bar-pink:visited { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold; 
 }
a.nav-bar-pink:hover { 
	color: #333333 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans" , sans-serif; 
	font-size: 14px;
	font-weight: bold; 
 }
.social-facebook {
	background-image: url('../../images/icons/social_facebook.png');
	background-repeat: no-repeat;
 }
.social-facebook:hover {
	background-image: url('../../images/icons/social_facebook_o.png');
	background-repeat: no-repeat;
 }
.social-twitter {
	background-image: url('../../images/icons/social_twitter.png');
	background-repeat: no-repeat;
 }
.social-twitter:hover {
	width: 29px;
	height: 28px;
	background-image: url('../../images/icons/social_twitter_o.png');
	background-repeat: no-repeat;
 }
.social-p {
	background-image: url('../../images/icons/social_p.png');
	background-repeat: no-repeat;
 }
.social-p:hover {
	background-image: url('../../images/icons/social_p_o.png');
	background-repeat: no-repeat;
 }
.social-gram {
	width: 29px;
	height: 28px;
	background-image: url('../../images/icons/social_gram.png');
	background-repeat: no-repeat;
 }
.social-gram:hover {
	background-image: url('../../images/icons/social_gram_o.png');
	background-repeat: no-repeat;
 } 
/* logo */
.nav-bar-logo {
	display: none;
 } 
/* right-nav-bar */
.nav-bar-right-container {
	margin: 0 13px 0 0;
 }
.nav-bar-btn-create {
	margin: 11px 0 0 15px;
	width: 150px;
	background-image: url('../../images/buttons/create_acc.png');
	background-repeat: no-repeat;
 }
.nav-bar-btn-create:hover {
	margin: 11px 0 0 15px;
	width: 150px;
	background-image: url('../../images/buttons/create_acc_o.png');
	background-repeat: no-repeat;
 }
.nav-bar-left-container {
	margin: 0 -1px 0 0 !important ;
	 }
.nav-bar-user-btn {
	margin: 10px 15px 0 0;
	padding: 5px;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.nav-bar-user-btn:hover {
	margin: 10px 15px 0 0;
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
a.nav-bar-dark:link, 
a.nav-bar-dark:active, 
a.nav-bar-dark:visited { 
	color: #333333 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.nav-bar-dark:hover { 
	color: #f270b7 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }  
.nav-bar-shop-icon {
	margin: 14px -13px 0 10px;
 } 
}

/* @large-nav-bar-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) { 
.nav-bar-left-container {
	margin: 0 0 0 0;
 }
.nav-bar-sizer {
	width: 1px;
	height: 22px;
	margin-top: 15px;
	background-color: #ccc;
 }
/* left-nav-bar */
.nav-bar-left-social {
	float: right;
	margin: 11px 0 0 10px;
 }
a.nav-bar-pink:link,
a.nav-bar-pink:active,
a.nav-bar-pink:visited { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: bold; 
 }
a.nav-bar-pink:hover { 
	color: #333333 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans" , sans-serif; 
	font-size: 13px;
	font-weight: bold; 
 }
.social-facebook {
	background-image: url('../../images/icons/social_facebook.png');
	background-repeat: no-repeat;
 }
.social-facebook:hover {
	background-image: url('../../images/icons/social_facebook_o.png');
	background-repeat: no-repeat;
 }
.social-twitter {
	background-image: url('../../images/icons/social_twitter.png');
	background-repeat: no-repeat;
 }
.social-twitter:hover {
	background-image: url('../../images/icons/social_twitter_o.png');
	background-repeat: no-repeat;
 }
.social-p {
	background-image: url('../../images/icons/social_p.png');
	background-repeat: no-repeat;
 }
.social-p:hover {
	background-image: url('../../images/icons/social_p_o.png');
	background-repeat: no-repeat;
 }
.social-gram {
	background-image: url('../../images/icons/social_gram.png');
	background-repeat: no-repeat;
 }
.social-gram:hover {
	background-image: url('../../images/icons/social_gram_o.png');
	background-repeat: no-repeat;
 } 
/* logo */
.nav-bar-logo {
	display: none;
 } 
/* right-nav-bar */
.nav-bar-right-container {
	margin: 0 13px 0 0;
 }
.nav-bar-btn-create {
	margin: 11px 0 0 15px;
	width: 150px;
	background-image: url('../../images/buttons/create_acc.png');
	background-repeat: no-repeat;
 }
.nav-bar-btn-create:hover {
	margin: 11px 0 0 15px;
	width: 150px;
	background-image: url('../../images/buttons/create_acc_o.png');
	background-repeat: no-repeat;
 }
.nav-bar-login-container {
	margin: 0 -2px 0 0 !important ;
	 }
.nar-bar-login-button {
	margin: 10px 15px 0 0;
 }
.nav-bar-left-container {
	margin: 0 -1px 0 0 !important ;
	 }
.nav-bar-user-btn {
	margin: 10px 15px 0 0;
	padding: 5px;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.nav-bar-user-btn:hover {
	margin: 10px 15px 0 0;
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
a.nav-bar-dark:link, 
a.nav-bar-dark:active, 
a.nav-bar-dark:visited { 
	color: #333333 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.nav-bar-dark:hover { 
	color: #f270b7 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }   
.nav-bar-shop-icon {
	margin: 14px -13px 0 10px;
 }
}

/* Main: $second-large-nav-bar */
/* @second-large-nav-bar-fit-on-pc-1199px */
@media (min-width: 1199px) {
.second-large-nav-bar-container {
	background-color: #6f6f6f;
 }
.second-large-nav-bar-search-container {
	margin: 5px 0 0 16px;
 }
.second-large-nav-bar-input {
	width: 230px;
	height: 25px;
 }
.second-large-nav-bar-search-btn-container {
	margin: -5px 0 0 3px;
 }
.second-large-nav-bar-search-btn {
	padding: 3px 8px 3px 8px;
	color: #333;
	background-color: #ffffff;
	display: inline-block;
	margin: 5px 0 0 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 2px;
	user-select: none;
 }
.second-large-nav-bar-search-btn:hover {
	color: #ffffff;
	background-color: #fb88c7;
	border-color: #fb88c7;
 } 
.second-nav-bar-sizer {
	width: 1px;
	height: 22px;
	margin-top: 6px;
	background-color: #ccc;
 }
a.second-nav-bar-whitepink:link, 
a.second-nav-bar-whitepink:active, 
a.second-nav-bar-whitepink:visited { 
	color: #ffffff !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.second-nav-bar-whitepink:hover { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }  
}

/* @second-large-nav-bar-fit-on-tablet-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
.second-large-nav-bar-container {
	background-color: #6f6f6f;
 }
.second-large-nav-bar-search-container {
	margin: 5px 0 0 16px;
 }
.second-large-nav-bar-input {
	width: 230px;
	height: 25px;
 } 
.second-large-nav-bar-search-btn-container {
	margin: -5px 0 0 3px;
 }
.second-large-nav-bar-search-btn {
	padding: 3px 8px 3px 8px;
	color: #333;
	background-color: #ffffff;
	display: inline-block;
	margin: 5px 0 0 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 2px;
	user-select: none;
 }
.second-large-nav-bar-search-btn:hover {
	color: #ffffff;
	background-color: #fb88c7;
	border-color: #fb88c7;
 }
.second-large-nav-bar-right-container {
	margin: 0 15px 0 0;
 }  
.second-nav-bar-sizer {
	width: 1px;
	height: 22px;
	margin-top: 6px;
	background-color: #ccc;
 }
a.second-nav-bar-whitepink:link, 
a.second-nav-bar-whitepink:active, 
a.second-nav-bar-whitepink:visited { 
	color: #ffffff !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.second-nav-bar-whitepink:hover { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }  
}

/* @second-large-nav-bar-fit-on-tablet-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) { 
.second-large-nav-bar-container {
	background-color: #6f6f6f;
 }
.second-large-nav-bar-search-container {
	margin: 5px 0 0 16px;
 }
.second-large-nav-bar-input {
	width: 150px;
	height: 25px;
 }  
.second-large-nav-bar-search-btn-container {
	margin: -5px 0 0 3px;
 }
.second-large-nav-bar-search-btn {
	padding: 3px 8px 3px 8px;
	color: #333;
	background-color: #ffffff;
	display: inline-block;
	margin: 5px 0 0 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 2px;
	user-select: none;
 }
.second-large-nav-bar-search-btn:hover {
	color: #ffffff;
	background-color: #fb88c7;
	border-color: #fb88c7;
 }
.second-large-nav-bar-right-container {
	margin: 0 15px 0 0;
 }  
.second-nav-bar-sizer {
	width: 1px;
	height: 22px;
	margin-top: 6px;
	background-color: #ccc;
 }
a.second-nav-bar-whitepink:link, 
a.second-nav-bar-whitepink:active, 
a.second-nav-bar-whitepink:visited { 
	color: #ffffff !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.second-nav-bar-whitepink:hover { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }
}

/* Main: $mobile-nav-bar */
/* @mobile-nav-bar-fit-on-mobile-1px-to-767px */
@media (min-width: 1px) and (max-width: 767px) {
.mobile-nav-bar-mbtn-left {
	margin-left: 13px;
 }
.mobile-nav-bar-logo {
	margin: 8px 3% 0 0; 
	width: 110px !important; 
 }
a.mobile-nav-bar-pink:link, 
a.mobile-nav-bar-pink:active, 
a.mobile-nav-bar-pink:visited { 
	color: #f270b7 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
 }
a.mobile-nav-bar-pink:hover { 
	color: #333333 !important; 
	text-decoration: none; 
	background-color: #f270b7 !important;;
	font-family: "Open Sans", sans-serif;
	font-size: 13px; 
 }
.mobile-nav-bar-border {
	border: 1px solid #e7e7e7;
 }
.social-facebook {
	margin: 8px 5px 8px 12px;
	height: 27px;
	background-image: url('../../images/icons/social_facebook.png');
	background-repeat: no-repeat;
 }
.social-facebook:hover {
	margin: 8px 5px 8px 12px;
	height: 27px;
	background-image: url('../../images/icons/social_facebook_o.png');
	background-repeat: no-repeat;
 }
.social-twitter {
	margin: 8px 5px 8px 5px;
	height: 27px;
	background-image: url('../../images/icons/social_twitter.png');
	background-repeat: no-repeat;
 }
.social-twitter:hover {
	margin: 8px 5px 8px 5px;
	height: 27px;
	background-image: url('../../images/icons/social_twitter_o.png');
	background-repeat: no-repeat;
 }
.social-p {
	margin: 8px 5px 8px 5px;
	height: 27px;	
	background-image: url('../../images/icons/social_p.png');
	background-repeat: no-repeat;
 }
.social-p:hover {
	margin: 8px 5px 8px 5px;
	height: 27px;	
	background-image: url('../../images/icons/social_p_o.png');
	background-repeat: no-repeat;
 }
.social-gram {
	margin: 8px 5px 8px 5px;
	height: 27px;
	background-image: url('../../images/icons/social_gram.png');
	background-repeat: no-repeat;
 }
.social-gram:hover {
	margin: 8px 5px 8px 5px;
	height: 27px;
	background-image: url('../../images/icons/social_gram_o.png');
	background-repeat: no-repeat;
 }
.mobile-nav-bar-user-btn {
	margin: 9px 0 9px 13px;
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 1.42857143;
	
 }
.mobile-nav-bar-user-btn:hover {
	margin: 9px 0 9px 13px;
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
a.mobile-nav-bar-pink-user:link, 
a.mobile-nav-bar-pink-user:active, 
a.mobile-nav-bar-pink-user:visited { 
	color: #333333 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
 }
a.mobile-nav-bar-pink-user:hover { 
	color: #f270b7 !important; 
	text-decoration: underline !important;
	font-family: "Open Sans", sans-serif;
	font-size: 12px; 
 }    
.dropdown-menu {
 	margin: -10px 0 0 0 !important;   
 }
.navbar-nav {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.mobile-search-container {
	padding: 10px 0 10px 0;
	text-align: center;
 }
.mobile-search-input {
	width: 50%;
	height: 27px;
	display: inline-block;
 }
.mobile-search-btn {
	width: 30px;
	height: 27px;
	padding-left: 8px;
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	text-align: center;
 }
.mobile-search-btn:hover {
	color: #ffffff;
	background-color: #333;
	border-color: #333;
 }
}
/* End Main: $mobile-nav-bar */

/* Main: $modal-login */
/* @modal-login-fit-on-all-1px-to-* */
@media (min-width: 1px) {
.modal-login-body {
	height: 110px;
	width: 250px;
	margin: 0 auto !important;
	padding: 10px;
	border: 1px solid #dedede;
	background-color: #fcdef0;
	border-radius: 4px;
 }
.modal-login-input {
	height: 30px;
	width: 100%;
	margin: 0 0 5px 0;
	font-size: 14px;
 }
.modal-login-pass {
	display: inline-block;
 }
a.modal-login-dark:link,
a.modal-login-dark:active,
a.modal-login-dark:visited { 
	color: #333333 !important; 
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
 }
a.modal-login-dark:hover {
	color: #f270b7 !important; 
	text-decoration: underline !important; 
	font-family: "Open Sans", sans-serif;
	font-size: 12px; 
 }
.modal-login-login {
	float: right;
	display: inline-block;
	padding: 0 2px 0 0;
 } 
.modal-login-btn {
	color: #ffffff;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	text-align: center;
 }
.modal-login-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.modal-close-login-btn {
	float: right;
	display: inline-block;
	padding: 0 5px 0 0;
 }  
.modal-close-btn {
	color: #ffffff;
	background-color: #555555;
	cursor: pointer;
	border: 1px solid #555555;
	border-radius: 4px;
	text-align: center;
 }
.modal-close-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
}
/* End Main: $modal-login */

/* Main: $modal-create-acc */
/* @modal-create-ac-fit-on-pc-tablet-min-768px */
@media (min-width: 768px) {
.modal-create-ac-fit-on-all	{
	overflow: hidden !important; 
	width: 500px; 
	margin: 4% auto; 
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 	
 }
.modal-create-ac-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5;  
 }
.modal-create-ac-title {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
 }
.modal-create-ac-close-btn {
	float: right;
	color: #ffffff;
	background-color: #555555;
	cursor: pointer;
	border: 1px solid #555555;
	border-radius: 4px;
	text-align: center;
 }
.modal-create-ac-close-btn:hover {
	float: right;
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.modal-create-ac-body { 
	margin: 15px;
 } 
.modal-create-ac-input {
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
 } 
.modal-create-ac-checkbox {
	width: 85%;
	margin: 0 auto;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #777777;
 } 
.modal-create-ac-btn-container {
	width: 100%;
	text-align:center;
 }
 
.modal-create-ac-btn {
	padding: 5px;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.modal-create-ac-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.modal-create-ac-btn-clear {
	padding: 5px;
	background-color: #555555;
	cursor: pointer;
	border: 1px solid #555555;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.modal-create-ac-btn-clear:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
}

/* @modal-create-ac-fit-on-mobile-max-767px */
@media (max-width: 767px) {
.modal-create-ac-fit-on-all	{
	overflow: hidden !important; 
	width: 90%; 
	margin: 4% auto; 
	background-color:#fff; 
	border-radius: 4px; 
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 	
 }
.modal-create-ac-header { 
	padding: 15px; 
	border-bottom: 1px solid #e5e5e5;  
 }
.modal-create-ac-title {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
 }
.modal-create-ac-close-btn {
	float: right;
	color: #ffffff;
	background-color: #555555;
	cursor: pointer;
	border: 1px solid #555555;
	border-radius: 4px;
	text-align: center;
 }
.modal-create-ac-close-btn:hover {
	float: right;
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
.modal-create-ac-body { 
	margin: 15px;
 } 
.modal-create-ac-input {
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
 } 
.modal-create-ac-checkbox {
	width: 90%;
	margin: 0 auto;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #777777;
 } 
.modal-create-ac-btn-container {
	width: 100%;
	text-align:center;
 }
 
.modal-create-ac-btn {
	padding: 5px;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.modal-create-ac-btn:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.modal-create-ac-btn-clear {
	padding: 5px;
	background-color: #555555;
	cursor: pointer;
	border: 1px solid #555555;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	
 }
.modal-create-ac-btn-clear:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 } 
}
/* End Main: $modal-create-acc */

/* Main: $banner-css */
/* @banner-css-fin-on-pc-1199px */
@media (min-width: 1199px) { 
.banner-css-container { 
	background-color: #999999; 
 }
.btn-banner { 
	width: 1140px; 
	text-align: center; 
	position: absolute; 
	bottom: -19%;
    z-index: 15; 
 } 
.banner-1 { 
	padding-right: 20px;
	display: inline-block; 
 } 
.banner-2 { 
	padding-right: 20px; 
	display: inline-block; 
 } 
.banner-3 { 
	padding-right: 20px; 
	display: inline-block; 
 } 
.banner-4 { 
	display: inline-block; } 
}

/* @banner-css-fin-on-pc-993px-to-1198px */
@media (min-width: 993px) and (max-width: 1198px) {
.banner-css-container { 
	background-color: #999999; 
 }
.btn-banner { 
	width: 940px; 
	text-align:center; 
	position: absolute; 
	bottom: -19%; z-index: 15; 
 } 
.btn-banner img { 
	width: 124px; 
 } 
.banner-1 { 
	padding-right: 20px; 
	display: inline-block; 
 } 
.banner-2 { 
	padding-right: 20px; 
	display: inline-block;
 } 
.banner-3 { 
	padding-right: 20px; 
	display: inline-block;
 } 
.banner-4 { 
	display: inline-block; 
 }
}

/* @banner-css-fin-on-pc-768px-to-992px */
@media (min-width: 768px) and (max-width: 992px) { 
.banner-css-container { 
	background-color: #999999; 
 }
.btn-banner { 
	width: 720px; 
	text-align:center; 
	position: absolute; 
	bottom: -19%; 
	z-index: 15; 
 } 
.btn-banner img { 
	width: 108px; 
 } 
.banner-1 { 
	padding-right: 20px; 
	display: inline-block; 
 } 
.banner-2 { 
	padding-right: 20px; 
	display: inline-block; 
 } 
.banner-3 { 
	padding-right: 20px; 
	display: inline-block; 
 } 
.banner-4 { 
	display: inline-block; }
 }
/* @banner-css-fin-on-mobile-1px-to-767px */
@media (min-width: 1px) and (max-width: 767px) { 
.banner-css-container { 
	background-color: #999999; 
 }
}
/* End Main: $banner-css */

