vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Apr 2014 12:02:46 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|paul-PC\\paul
vti_modifiedby:SR|paul-PC\\paul
vti_timecreated:TR|14 Apr 2014 18:13:36 -0000
vti_cacheddtm:TX|16 Apr 2014 12:02:46 -0000
vti_filesize:IR|341436
vti_cachedlinkinfo:VX|S|../fonts/font-awesome/fontawesome-webfont.eot S|../fonts/font-awesome/fontawesome-webfont.eot S|../fonts/font-awesome/fontawesome-webfont.woff S|../fonts/font-awesome/fontawesome-webfont.ttf S|../fonts/font-awesome/fontawesome-webfont.svg S|../images/pixel-admin/blank.png S|../images/pixel-admin/blank.png S|../images/pixel-admin/blank.png S|../images/pixel-admin/blank.png S|data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 S|../images/plugins/jquery.minicolors.png S|../images/plugins/jquery.minicolors.png S|../images/plugins/jquery.minicolors.png S|../images/plugins/jquery.minicolors.png S|../images/plugins/bootstrap-editable/loading.gif S|data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC S|data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC
vti_cachedsvcrellinks:VX|FSUS|dashboard/assets/fonts/font-awesome/fontawesome-webfont.eot FSUS|dashboard/assets/fonts/font-awesome/fontawesome-webfont.eot FSUS|dashboard/assets/fonts/font-awesome/fontawesome-webfont.woff FSUS|dashboard/assets/fonts/font-awesome/fontawesome-webfont.ttf FSUS|dashboard/assets/fonts/font-awesome/fontawesome-webfont.svg FSUS|dashboard/assets/images/pixel-admin/blank.png FSUS|dashboard/assets/images/pixel-admin/blank.png FSUS|dashboard/assets/images/pixel-admin/blank.png FSUS|dashboard/assets/images/pixel-admin/blank.png NSUS|data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 FSUS|dashboard/assets/images/plugins/jquery.minicolors.png FSUS|dashboard/assets/images/plugins/jquery.minicolors.png FSUS|dashboard/assets/images/plugins/jquery.minicolors.png FSUS|dashboard/assets/images/plugins/jquery.minicolors.png FSUS|dashboard/assets/images/plugins/bootstrap-editable/loading.gif NSUS|data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC NSUS|data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC
vti_nexttolasttimemodified:TR|14 Apr 2014 18:13:36 -0000
vti_backlinkinfo:VX|dashboard/admin/promotions.html
vti_syncwith_codelab.ro\:21/%2fpublic_html/pinkepromise:TX|16 Apr 2014 12:02:46 -0000
vti_syncofs_codelab.ro\:21/%2fpublic_html/pinkepromise:TW|27 Apr 2014 05:40:33 -0000
