   @if (!$orderlist)
   <div class='alert alert-warning'>You have no order placed at this moment.</div>



   @else


   
   <div>
														<div class="CSSTableGenerator">
															<!-- Table code-->
															<table >
    <tr >
        <td>
            Order ID
        </td>
        <td>
            Amount
        </td>
        <td>
            Items
        </td>
        <td>
            Payment Status
        </td>
        <td>
            Shipping
        </td>
        <td>
            Actions
        </td>

    </tr>
    @foreach ($orderlist as $order)
    <tr>
        <td>
           #{{ $order->id }}
        </td>
      
        <td >
            ${{ $order->totalCost() }}
        </td>
        <td >
            {{ $order->products()->count() }}
        </td>
        <td >
            {{ strtoupper($order->status) }}
        </td>
        <td >
            {{ strtoupper($order->shipping_status) }}
        </td>
        <td >
            <a href='#'>View</a>
        </td>
       	

    </tr>
 @endforeach

</table>															<!-- End Table code-->
								
</div></div>
@endif