/*
 * Media CSS for PC, Tablet and Mobile
 * Write by Bartos Victor Claudiu
 * Email: claudiu@ipv.ro
 * v1.1
 * Release Data: 2014/05/26 
 */  

/* CSS Content 
 * 1.$CSS-@import
 *
 * 2.$Preload-IMG
 *
 * 3.$Bootstrap-css
 *
 * 4.$Scrollup-css
 *
 * 5.$Generals-btn

/* $CSS-@import */
@import url(style/top.css);
@import url(style/about_page.css);
@import url(style/footer.css);
@import url(style/affiliate.css);
@import url(style/faq_tou_prv.css);
@import url(style/contat_us.css);
@import url(style/how_it_works.css);
@import url(style/store.css);
@import url(style/store_details.css);
@import url(style/norableu.css);
@import url(style/norableu_thumbs.css);
@import url(style/norableu_details.css);
@import url(style/blankyou.css);
@import url(style/blankyou_thumbs.css);
@import url(style/blankyou_details.css);
@import url(style/index.css);
@import url(style/client_profile.css);
@import url(style/client_orders.css);
/* End $CSS-@import */

/* $Preload-IMG */
body:after { 
	display: none; 
	content: url('../images/buttons/blank_btn_o.png')
			 url('../images/buttons/bleu_btn_o.png')
			 url('../images/buttons/pinke_btn_o.png')
			 url('../images/buttons/blog_btn_o.png')
		 	 url('../images/icons/social_facebook_o.png')
	         url('../images/icons/social_twitter_o.png')
	         url('../images/icons/social_p_o.png')
	         url('../images/icons/social_gram_o.png')
	         url('../images/icons/footer_facebook_o.png')
	         url('../images/icons/footer_twitter_o.png') 
	         url('../images/icons/footer_p_o.png')
	         url('../images/icons/footer_x_o.png')
			 url('../images/buttons/create_acc_o.png');
 }
/* End $Preload-IMG */


/* $Bootstrap-css */
@media only screen and (max-width: 765px) {
.navbar-default { 
	background-color: #f8f8f8;
	border-color: #e7e7e7; 
 } 
}
@media only screen and (min-width: 766px) and (max-width: 1199px) { 
.navbar-default { 
	background-color: #f8f8f8; 
	border-color: #e7e7e7; 
 } 
}
@media (min-width: 1200px) { 
.navbar-default { 
	background-color: none; 
	border-color: none;
 } 
}
.dropdown-icon { 
	display: inline-block; 
	font-size: 14px; 
 }
.form-control:focus { 
	border-color: #f270b7; 
	outline: 0; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242,112,183,1); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242,112,183,1); 
 }
/* End $Bootstrap-css */


/* $Scrollup-css */
.scrollup_left { 
	position: fixed; 
	display: none; 
	width: 72px; 
	height: 78px;
	opacity: 0.7; 
	bottom: 50px; 
	z-index: 101; 
	left: 0; 
	background: url('../images/icons/go_top_left.png') no-repeat; 
 } 
.scrollup_right { 
	position: fixed; 
	display: none; 
	width: 72px; 
	height: 78px; 
	opacity: 0.7; 
	bottom: 50px; 
	right: 0; 
	z-index: 101; 
	background: url('../images/icons/go_top_right.png') 
	no-repeat; }
/* End $scrollup-css */

/* $Generals-btn */
.btn-pEp {
	padding: 5px;
	background-color: #f270b7;
	cursor: pointer;
	border: 1px solid #d862a3;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
 }
.btn-pEp:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
.btn-pEp-default {
	padding: 5px;
	background-color: #555555;
	cursor: pointer;
	border: 1px solid #555555;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Droid Sans' , sans-serif !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
 }
.btn-pEp-default:hover {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
	text-decoration: none !important;
 }
/* End $Generals-btn */


/* Main: $cart-css */
/* @cart-fit-on-pc */
@media (min-width: 1199px) {
.cart-fit-on-pc { width: 1015px; }
/* cart-title */
.cart-title { text-align: left; margin: 25px 0 35px 0; font-size: 24px; font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* cart-top */
.cart-top { text-align: left; padding: 5px 0 5px 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-top-product { width: 54px; display: inline-block; margin-left: 40px; } .cart-top-quantity { width: 60px; display: inline-block; margin-left: 400px; } .cart-top-price { width: 67px; display: inline-block; margin-left: 73px; } .cart-top-item { width: 69px; display : inline-block; margin-left: 73px; } .cart-top-options { width: 53px; display: inline-block; margin-left: 73px; }
/* cart-mid */
.cart-mid { text-align: left; padding: 5px 0 25px 0; } .cart-mid-icon { width:25px; display: inline-block; margin: 0 7px 0 7px; } .cart-mid-product { width: 123px; display: inline-block; margin: 0 5px 0 0; } .cart-mid-product-desc { width: 284px; display: inline-block; position: relative; top: 25px; } .cart-mid-product-gift { margin-top: 10px; font-size: 14px; color: #999999; } .cart-mid-product-quantity { width: 46px; position: relative; left: 45px; display:inline-block; } .cart-mid-quantity-select { width: 42px; } .cart-mid-unit-price { width: 52px; position: relative; left: 132px; display:inline-block; } .cart-mid-item-total { width: 52px; position: relative; left: 220px; display:inline-block; } .cart-mid-item-delete { width: 20px; position: relative; left: 320px; display:inline-block; }
/* cart-bottom */
.cart-bot { text-align: left; padding: 20px 0 0 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-bot-promo { display: inline-block; margin-left: 44px; } .cart-bot-input-promo { height: 25px; width: 197px; margin-bottom: 5px; margin-top:5px; padding: 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; } .cart-bot-promo-button { width: 56px; position:relative; top: -30px; left: 245px; } .cart-bot-item-total { width: 130px; position:relative; top: -89px; right: 35px; }
/* cart-finish */
.cart-finish { position: relative; float: right; top: -50px; text-align: right; width: 100%; height:231px; } .cart-text { padding-bottom: 20px; } 
}
/* @cart-fit-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) {
.cart-fit-on-tablet { width: 908px; }
/* cart-title */
.cart-title { text-align: left; margin: 30px 0 20px 0; font-size: 22px; font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* cart-top */
.cart-top { text-align: left; padding: 5px 0 5px 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-top-product { width: 54px; display: inline-block; margin-left: 40px; } .cart-top-quantity { width: 60px; display: inline-block; margin-left: 390px; } .cart-top-price { width: 67px; display: inline-block; margin-left: 46px; } .cart-top-item { width: 69px; display : inline-block; margin-left: 46px; } .cart-top-options { width: 53px; display: inline-block; margin-left: 46px; }
/* cart-mid */
.cart-mid { text-align: left; padding: 5px 0 25px 0; } .cart-mid-icon { width:25px;  display: inline-block; margin: 0 7px 0 7px; } .cart-mid-product { width: 123px; display: inline-block; margin: 0 5px 0 0; } .cart-mid-product-desc { width: 284px; display: inline-block; position: relative; top: 25px; } .cart-mid-product-gift { margin-top: 10px; font-size: 14px; color: #999999; } .cart-mid-product-quantity { width: 46px; position: relative; left: 35px; display:inline-block; } .cart-mid-quantity-select { width: 42px; } .cart-mid-unit-price { width: 52px; position: relative; left: 93px; display:inline-block; } .cart-mid-item-total { width: 52px; position: relative; left: 157px; display:inline-block; } .cart-mid-item-delete { width: 20px; position: relative; left: 229px; display:inline-block; }
/* cart-bottom */
.cart-bot { text-align: left; padding: 20px 0 0 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-bot-promo { display:inline-block; margin-left: 44px; } .cart-bot-input-promo { height: 25px; width: 197px; margin-bottom: 5px; margin-top:5px; padding: 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; } .cart-bot-promo-button { width: 56px; position:relative; top: -30px; left: 245px; } .cart-bot-item-total { width: 120px; position:relative; top: -89px; right: 30px; }
/* cart-finish */
.cart-finish { position: relative; float: right; top: -50px; text-align: right; width: 100%; height: 130px; } .cart-text { padding-bottom: 20px; } 
}
@media (min-width: 768px) and (max-width: 992px) {
.cart-fit-on-tablet { width: 690px; }
/* cart-title */
.cart-title { text-align: left; margin: 30px 0 20px 0; font-size: 22px; font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* cart-top */
.cart-top { text-align: left; padding: 5px 0 5px 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-top-product { width: 47px; display:inline-block; margin-left: 27px; } .cart-top-quantity { width: 50px; display:inline-block; margin-left: 323px; } .cart-top-price { width: 58px; display:inline-block; margin-left: 14px; } .cart-top-item { width: 58px; display:inline-block; margin-left: 14px; } .cart-top-options { width: 45px; display:inline-block; margin-left: 14px; }
/* cart-mid */
.cart-mid { text-align: left; padding: 5px 0 25px 0; } .cart-mid-icon { width: 25px; display: inline-block; } .cart-mid-product { width: 80px; display: inline-block; margin: 0 5px 0 0; } .cart-mid-product-image { width: 84px; height: 64px; } .cart-mid-product-desc { position: relative; top: 18px; width: 260px; display: inline-block; } .cart-mid-product-gift { margin-top: 4px; font-size: 14px; color: #999999; } .cart-mid-product-gift-image { width: 26px; height: 26px; } .cart-mid-product-quantity { width: 38px; position: relative; left: 26px; display:inline-block; } .cart-mid-unit-price { width: 43px; position:relative; overflow:visible; left: 51px; display:inline-block; } .cart-mid-item-total { width: 43px; position:relative; overflow:visible; left: 83px; display:inline-block; } .cart-mid-item-delete { width: 35px; position:relative; overflow:visible; left: 118px; display:inline-block; }
/* cart-bottom */
.cart-bot { text-align: left; padding: 20px 0 0 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-bot-promo { display:inline-block; padding-left: 30px; } .cart-bot-input-promo { height: 25px; width: 197px; margin-bottom: 5px; margin-top:5px; padding: 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; } .cart-bot-promo-button { width: 56px; position:relative; top: -30px; left: 230px; } .cart-bot-item-total { width: 106px; position:relative; top: -84px; right: 20px; }
/* cart-finish */
.cart-finish { position: relative; float: right; top: -50px; text-align: right; width: 100%; height: 325px; } .cart-text { padding-bottom: 20px; } 
}
/* @cart-fit-on-mobile */
@media (min-width: 1px) and (max-width: 767px) {
.cart-fit-on-mobile { width: 97%; margin-left: 5px; margin-right: 5px; }
/* cart-title */
.cart-title { margin: 0 0 20px 0; font-size: 18px; font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* cart-top */
.cart-top { padding: 5px 0 5px 0; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; } .cart-top-product { width: 47px; } .cart-top-item { width: 58px; } .cart-top-options { width: 45px; }
/* cart-mid */
.cart-mid {border-bottom: 1px solid #333; padding: 5px 0 0 0; } .cart-mid-icon { width: 25px; margin: 5px 0 5px 0; } .cart-mid-product { width: 80px; margin: 5px 0 5px 0; } .cart-mid-product-image { width: 84px; height: 64px; } .cart-mid-product-gift { margin-top: 4px; margin-bottom: 4px; font-size: 14px; color: #999999; } .cart-mid-product-gift-image { width: 26px; height: 26px; } .cart-mid-spacer { border-top:1px solid #333; width:210px; }
/* cart-mid-quantity */
.cart-mid-quantity { position: relative; top: 5px; right: 33px; width: 50px; } .cart-mid-product-quantity { position: relative; top: -13px; left: 43px; width: 38px; }
/* cart-mid-unit-price */
.cart-mid-price { position: relative;  right: 28px; width: 70px; } .cart-mid-unit-price { position: relative; top: -17px; left: 40px; width: 43px; }
/* cart-mid-item-total */
.cart-mid-item { position: relative; right: 28px; width: 58px; } .cart-mid-item-total { position: relative; top: -17px; left: 40px; width: 43px; }
/* cart-mid-item-delete */
.cart-mid-delete { position: relative; right: 34px; width: 58px; } .cart-mid-item-delete { position: relative; top: -19px; left: 42px; width: 43px; }
/* cart-bottom */
.cart-bot { padding: 5px 0 5px 0; background-color: #e5e5e5; border-bottom: 1px solid #333; } .cart-bot-input-promo { height: 25px; width: 50%; margin-bottom: 5px; margin-top:5px; padding: 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
/* cart-mobile */
.cart-mobile {margin-top: 7px; background-color: #fef7f9; } .cart-mobile-align { text-align:left; width: 290px; } .cart-mobile-fild { padding: 2px 80px 2px 88px; color: #333 !important; }
/* cart-finish */
.cart-finish { height: 230px; padding: 10px 0 20px 0; } .cart-text { margin: 5px 0 20px 0; } }
/* cart-modal-fin-on-pc */
@media (min-width: 1199px) { .cart-modal-img { width: 35%; height: 35%; } }
/* cart-modal-fin-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) { .cart-modal-img { width: 35%; height: 35%; } }
/* cart-modal-fin-on-tablet */
@media (min-width: 768px) and (max-width: 992px) { .cart-modal-img { width: 35%; height: 35%; } }
/* cart-modal-fin-on-mobile */
@media (min-width: 361px) and (max-width: 767px) { .cart-modal-img { width: 190px; height: 50px; } }
/* cart-modal-fin-on-mobile */
@media (min-width: 321px) and (max-width: 360px) { .cart-modal-img { width: 50%; height: 50%; } }
/* cart-modal-fin-on-mobile */
@media (min-width: 241px) and (max-width: 320px) { .cart-modal-img { width: 50%; height: 50%; } }
/* cart-modal-fin-on-mobile */
@media (min-width: 1px) and (max-width: 240px) { .cart-modal-img { width: 67%; height: 67%; } }
/* End Main: $cart-css */

/* Main: $order-step1-css */
/* @order-step1-fit-on-pc */
@media (min-width: 1199px) {
.order-step1-fit-on-pc { width: 1045px ; margin-top: 25px; margin-bottom: 25px; }
/* order-step1-title */
.order-step1-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step1-container */
.order-step1-container { padding: 0 0 5px 0;}
/* order-step1-top */
.order-step1-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-top-goback */
.order-step1-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step1-exist */
.order-step1-exist { width: 370px; margin: 63px 0 50px 40px; } .order-step1-exist-input { position:relative; top: 1px; display: inline-block; } .order-step1-exist-new { display: inline-block; } .order-step1-exist-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-register */
.order-step1-register { width: 350px; margin: 50px 0 62px 40px; } .order-step1-register-input { position:relative; top: 1px; display: inline-block; } .order-step1-register-new { display: inline-block; } .order-step1-register-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-bot-container */
.order-step1-bot-container { height: 80px; margin-bottom: 180px; padding: 20px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-login */
.order-step1-login { padding: 26px 0 25px 0; }
/* order-step1-login-container */
.order-step1-login-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step1-login-title */
.order-step1-login-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-login-border-left { width: 100px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step1-login-border-right { width: 100px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* order-step1-login-from */
.order-step1-login-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step1-login-reset { margin-top: 5px; }
/* order-step1-register-container */
.order-step1-register-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step1-register-title */
.order-step1-register-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-register-border-left { width: 110px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step1-register-border-right { width: 110px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* register-from */
.order-step1-register-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step1-register-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @login-register-fit-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) {
.order-step1-fit-on-tablet { width: 940px; margin-top: 25px; margin-bottom: 25px;}
/* order-step1-title */
.order-step1-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step1-container */
.order-step1-container { padding: 0 0 5px 0;}
/* order-step1-top */
.order-step1-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-top-goback */
.order-step1-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step1-exist */
.order-step1-exist { width: 370px; margin: 45px 0 40px 40px; } .order-step1-exist-input { position:relative; top: 1px; display: inline-block; } .order-step1-exist-new { display: inline-block; } .order-step1-exist-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-register */
.order-step1-register { width: 350px; margin: 30px 0 50px 40px; } .order-step1-register-input { position:relative; top: 1px; display: inline-block; } .order-step1-register-new { display: inline-block; } .order-step1-register-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-bot-container */
.order-step1-bot-container { height: 80px; margin-bottom: 180px; padding: 20px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-login */
.order-step1-login { padding: 26px 0 25px 0; }
/* order-step1-login-container */
.order-step1-login-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step1-login-title */
.order-step1-login-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-login-border-left { width: 100px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step1-login-border-right { width: 100px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* order-step1-login-from */
.order-step1-login-standard-input { width: 300px; margin: 10px 0 10px 0; }
.order-step1-login-reset { margin-top: 5px; }
/* order-step1-register-container */
.order-step1-register-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step1-register-title */
.order-step1-register-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-register-border-left { width: 110px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step1-register-border-right { width: 110px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* register-from */
.order-step1-register-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step1-register-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @login-register-fit-on-tablet */
@media (min-width: 768px) and (max-width: 992px)  {
.order-step1-fit-on-tablet { width: 720px; margin-top: 30px; margin-bottom: 25px; }
/* order-step1-title */
.order-step1-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step1-container */
.order-step1-container { padding: 0 0 5px 0;}
/* order-step1-top */
.order-step1-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-top-goback */
.order-step1-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step1-exist */
.order-step1-exist { width: 370px; margin: 45px 0 40px 40px; } .order-step1-exist-input { position:relative; top: 1px; display: inline-block; } .order-step1-exist-new { display: inline-block; } .order-step1-exist-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-register */
.order-step1-register { width: 350px; margin: 30px 0 50px 40px; } .order-step1-register-input { position:relative; top: 1px; display: inline-block; } .order-step1-register-new { display: inline-block; } .order-step1-register-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-bot-container */
.order-step1-bot-container { height: 80px; margin-bottom: 235px; padding: 20px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-login */
.order-step1-login { padding: 26px 0 25px 0; }
/* order-step1-login-container */
.order-step1-login-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step1-login-title */
.order-step1-login-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-login-border-left { width: 100px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step1-login-border-right { width: 100px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* order-step1-login-from */
.order-step1-login-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step1-login-reset { margin-top: 5px; }
/* order-step1-register-container */
.order-step1-register-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step1-register-title */
.order-step1-register-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-register-border-left { width: 110px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step1-register-border-right { width: 110px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* register-from */
.order-step1-register-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step1-register-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @login-register-fit-on-mobile */
@media (min-width: 1px) and (max-width: 767px) {
.order-step1-fit-on-mobile { width: 100%; margin-bottom: 25px; }
/* order-step1-title */
.order-step1-title { margin: 0 0 35px 0; font-size: 18px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step1-container */
.order-step1-container { padding: 0 0 5px 0;}
/* order-step1-top */
.order-step1-top { text-align: left; padding: 5px 0 5px 10px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-top-goback */
.order-step1-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 10px; }
/* order-step1-exist */
.order-step1-exist { width: 100%; margin: 45px 0 40px 10px; } .order-step1-exist-input { position:relative; top: 2px; display: inline-block; } .order-step1-exist-new { font-size: 12px; display: inline-block; } .order-step1-exist-new-sub { width: 96%; padding-left: 17px; font-size: 12px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-register */
.order-step1-register { width: 100%; margin: 30px 0 50px 10px; } .order-step1-register-input { position:relative; top: 2px; display: inline-block; } .order-step1-register-new { font-size: 12px; display: inline-block; } .order-step1-register-new-sub { width: 96%; padding-left: 17px; font-size: 12px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step1-bot-container */
.order-step1-bot-container { height: 80px; margin-bottom: 60px; padding: 20px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step1-login */
.order-step1-login { padding: 26px 0 25px 0; }
/* order-step1-login-container */
.order-step1-login-container { width: 100%; padding: 20px 0 20px 0; }
/* order-step1-login-title */
.order-step1-login-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-login-border-left { width: 30%; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display: none; } .order-step1-login-border-right { width: 30%; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display: none; }
/* order-step1-login-from */
.order-step1-login-standard-input { width: 70%; margin: 10px 0 10px 0; } .order-step1-login-reset { margin-top: 5px; }
/* order-step1-register-container */
.order-step1-register-container { width: 100%; padding: 20px 0 20px 0; }
/* order-step1-register-title */
.order-step1-register-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step1-register-border-left { width: 30%; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display: none; } .order-step1-register-border-right { width: 30%; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display: none; }
/* register-from */
.order-step1-register-standard-input  { width: 70%; margin: 10px 0 10px 0; } .order-step1-register-checkbox { text-align: left; width: 70%; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* End Main: $order-step1-css */

/* Main: $order-step2-css */
/* @order-step2-fit-on-pc */
@media (min-width: 1199px) {
.order-step2-fit-on-pc { width: 1045px ; margin-top: 25px; margin-bottom: 25px; }
/* order-step2-title */
.order-step2-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step2-container */
.order-step2-container { padding: 0 0 5px 0;}
/* order-step2-top */
.order-step2-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-top-goback */
.order-step2-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step2-exist */
.order-step2-exist-shipping { width: 370px; margin: 63px 0 50px 40px; } .order-step2-exist-shipping-input { position:relative; top: 1px; display: inline-block; } .order-step2-exist-shipping-new { display: inline-block; } .order-step2-exist-shipping-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-register */
.order-step2-shipping{ width: 350px; margin: 50px 0 62px 40px; } .order-step2-shipping-input { position:relative; top: 1px; display: inline-block; } .order-step2-shipping-new { display: inline-block; } .order-step2-shipping-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-bot-container */
.order-step2-bot-container { height: 80px; margin-bottom: 180px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-shipping-container */
.order-step2-shipping-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step2-register-title */
.order-step2-shipping-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step2-shipping-border-left { width: 80px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step2-shipping-border-right { width: 80px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* register-from */
.order-step2-shipping-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step2-shipping-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @order-step2-fit-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) {
.order-step2-fit-on-tablet { width: 940px; margin-top: 25px; margin-bottom: 25px; }
/* order-step2-title */
.order-step2-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step2-container */
.order-step2-container { padding: 0 0 5px 0;}
/* order-step2-top */
.order-step2-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-top-goback */
.order-step2-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step2-exist-shipping */
.order-step2-exist-shipping { width: 370px; margin: 63px 0 50px 40px; } .order-step2-exist-shipping-input { position:relative; top: 1px; display: inline-block; } .order-step2-exist-shipping-new { display: inline-block; } .order-step2-exist-shipping-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-shipping*/
.order-step2-shipping{ width: 350px; margin: 50px 0 62px 40px; } .order-step2-shipping-input { position:relative; top: 1px; display: inline-block; } .order-step2-shipping-new { display: inline-block; } .order-step2-shipping-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-bot-container */
.order-step2-bot-container { height: 80px; margin-bottom: 180px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-shipping-container */
.order-step2-shipping-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step2-shipping-title */
.order-step2-shipping-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step2-shipping-border-left { width: 80px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step2-shipping-border-right { width: 80px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* shipping-from */
.order-step2-shipping-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step2-shipping-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @order-step2-fit-on-tablet */
@media (min-width: 768px) and (max-width: 992px)  {
.order-step2-fit-on-tablet { width: 720px; margin-top: 30px; margin-bottom: 25px; }
/* order-step2-title */
.order-step2-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step2-container */
.order-step2-container { padding: 0 0 5px 0;}
/* order-step2-top */
.order-step2-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-top-goback */
.order-step2-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step2-exist-shipping */
.order-step2-exist-shipping { width: 370px; margin: 63px 0 50px 40px; } .order-step2-exist-shipping-input { position:relative; top: 1px; display: inline-block; } .order-step2-exist-shipping-new { display: inline-block; } .order-step2-exist-shipping-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-shipping*/
.order-step2-shipping { width: 350px; margin: 50px 0 62px 40px; } .order-step2-shipping-input { position:relative; top: 1px; display: inline-block; } .order-step2-shipping-new { display: inline-block; } .order-step2-shipping-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-bot-container */
.order-step2-bot-container { height: 80px; margin-bottom: 180px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-shipping-container */
.order-step2-shipping-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step2-shipping-title */
.order-step2-shipping-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step2-shipping-border-left { width: 80px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step2-shipping-border-right { width: 80px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* shipping-from */
.order-step2-shipping-standard-input { width: 300px; margin: 10px 0 10px 0; } .order-step2-shipping-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @order-step2-fit-on-mobile */
@media (min-width: 1px) and (max-width: 767px) {
.order-step2-fit-on-mobile { width: 100%; margin-bottom: 25px; }
/* order-step2-title */
.order-step2-title { margin: 0 0 35px 0; font-size: 18px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step2-container */
.order-step2-container { padding: 0 0 5px 0;}
/* order-step2-top */
.order-step2-top { text-align: left; padding: 5px 0 5px 10px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-top-goback */
.order-step2-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 10px; }
/* order-step2-shipping-exist */
.order-step2-exist-shipping { width: 100%; margin: 45px 0 40px 10px; } .order-step2-exist-shipping-input { position:relative; top: 2px; display: inline-block; } .order-step2-exist-shipping-new { font-size:12px;  display: inline-block; } .order-step2-exist-shipping-new-sub { width: 96%; padding-left: 17px; font-size: 12px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-shipping */
.order-step2-shipping { width: 100%; margin: 30px 0 50px 10px; } .order-step2-shipping-input { position:relative; top: 2px; display: inline-block; } .order-step2-shipping-new { font-size:12px; display: inline-block; } .order-step2-shipping-new-sub { width: 96%; padding-left: 17px; font-size: 12px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step2-bot-container */
.order-step2-bot-container { height: 80px; margin-bottom: 60px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step2-shipping-container */
.order-step2-shipping-container { width: 100%; padding: 20px 0 20px 0; }
/* order-step2-shipping-title */
.order-step2-shipping-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step2-shipping-border-left { width: 30%; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display: none; } .order-step2-shipping-border-right { width: 30%; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display: none; }
/* shipping-from */
.order-step2-shipping-standard-input  { width: 70%; margin: 10px 0 10px 0; } .order-step2-shipping-checkbox { text-align: left; width: 70%; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* End Main: $order-step2-css */

/* Main: $order-step3-css */
/* @order-step3-fit-on-pc */
@media (min-width: 1199px) {
.order-step3-fit-on-pc { width: 1045px ; margin-top: 25px; margin-bottom: 25px; }
/* order-step3-title */
.order-step3-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step3-container */
.order-step3-container { padding: 0 0 5px 0;}
/* order-step3-top */
.order-step3-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-top-goback */
.order-step3-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step2-exist */
.order-step3-paypal { width: 370px; margin: 63px 0 50px 40px; } .order-step3-paypal-input { position:relative; top: 1px; display: inline-block; } .order-step3-paypal-new { display: inline-block; } .order-step3-paypal-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-register */
.order-step3-card { width: 350px; margin: 50px 0 62px 40px; } .order-step3-card-input { position:relative; top: 1px; display: inline-block; } .order-step3-card-new { display: inline-block; } .order-step3-card-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-bot-container */
.order-step3-bot-container{ height: 80px; margin-bottom: 180px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-card-container */
.order-step3-card-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step3-register-title */
.order-step3-card-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step3-card-border-left { width: 80px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step3-card-border-right { width: 80px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* register-from */
.order-step3-card-general-input { width: 300px; margin: 10px 0 10px 0; } .order-step3-card-cvv-input { width: 148px; position:relative; right: 75px; margin: 10px 0 10px 0;} .order-step3-card-month-input { width: 148px; position:relative; right: 0; display: inline-block; margin: 0 0 10px 0; } .order-step3-card-year-input { width: 148px; position:relative; right: 0; display: inline-block; margin: 0 0 10px 0; } .order-step3-card-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @order-step3-fit-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) {
.order-step3-fit-on-tablet { width: 940px; margin-top: 25px; margin-bottom: 25px; }
/* order-step3-title */
.order-step3-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step3-container */
.order-step3-container { padding: 0 0 5px 0;}
/* order-step3-top */
.order-step3-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-top-goback */
.order-step3-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step2-exist */
.order-step3-paypal { width: 370px; margin: 63px 0 50px 40px; } .order-step3-paypal-input { position:relative; top: 1px; display: inline-block; } .order-step3-paypal-new { display: inline-block; } .order-step3-paypal-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-register */
.order-step3-card { width: 350px; margin: 50px 0 62px 40px; } .order-step3-card-input { position:relative; top: 1px; display: inline-block; } .order-step3-card-new { display: inline-block; } .order-step3-card-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-bot-container */
.order-step3-bot-container{ height: 80px; margin-bottom: 180px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-card-container */
.order-step3-card-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step3-register-title */
.order-step3-card-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step3-card-border-left { width: 80px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step3-card-border-right { width: 80px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* register-from */
.order-step3-card-general-input { width: 300px; margin: 10px 0 10px 0; } .order-step3-card-cvv-input { width: 148px; position:relative; right: 75px; margin: 10px 0 10px 0; } .order-step3-card-month-input { width: 148px; position:relative; right: 0; display: inline-block; margin: 0 0 10px 0; } .order-step3-card-year-input { width: 148px; position:relative; right: 0; display: inline-block; margin: 0 0 10px 0; } .order-step3-card-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @order-step3-fit-on-tablet */
@media (min-width: 768px) and (max-width: 992px)  {
.order-step3-fit-on-tablet { width: 720px; margin-top: 30px; margin-bottom: 25px; }
/* order-step3-title */
.order-step3-title { margin: 0 0 35px 0; font-size: 24px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step3-container */
.order-step3-container { padding: 0 0 5px 0;}
/* order-step3-top */
.order-step3-top { text-align: left; padding: 5px 0 5px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-top-goback */
.order-step3-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 40px; }
/* order-step2-exist */
.order-step3-paypal { width: 370px; margin: 63px 0 50px 40px; } .order-step3-paypal-input { position:relative; top: 1px; display: inline-block; } .order-step3-paypal-new { display: inline-block; } .order-step3-paypal-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-register */
.order-step3-card { width: 350px; margin: 50px 0 62px 40px;  } .order-step3-card-input { position:relative; top: 1px; display: inline-block;  } .order-step3-card-new { display: inline-block; } .order-step3-card-new-sub { padding-left: 17px; font-size: 13px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-bot-container */
.order-step3-bot-container{ height: 80px; margin-bottom: 180px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-card-container */
.order-step3-card-container { width: 400px; padding: 20px 0 20px 0; }
/* order-step3-card-title */
.order-step3-card-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step3-card-border-left { width: 80px; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display:inline-block; } .order-step3-card-border-right { width: 80px; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display:inline-block; }
/* card-from */
.order-step3-card-general-input { width: 300px; margin: 10px 0 10px 0; } .order-step3-card-cvv-input { width: 148px; position:relative; right: 75px; margin: 10px 0 10px 0;} .order-step3-card-month-input { width: 148px; position:relative; right: 0; display: inline-block; margin: 0 0 10px 0; } .order-step3-card-year-input { width: 148px; position:relative; right: 0; display: inline-block; margin: 0 0 10px 0; } .order-step3-card-checkbox { text-align: left; width: 300px; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* @order-step3-fit-on-mobile */
@media (min-width: 1px) and (max-width: 767px) {
.order-step3-fit-on-mobile { width: 100%; margin-bottom: 25px; }
/* order-step3-title */
.order-step3-title { margin: 0 0 35px 0; font-size: 18px;  font-family: "Dancing Script", "Times New Roman", Times, serif; }
/* order-step3-container */
.order-step3-container { padding: 0 0 5px 0;}
/* order-step3-top */
.order-step3-top { text-align: left; padding: 5px 0 5px 10px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-top-goback */
.order-step3-top-goback { display:inline-block; float: right; position:relative; top: -1px; padding-right: 10px; }
/* order-step3-shipping-exist */
.order-step3-paypal  { width: 100%; margin: 45px 0 40px 10px;  } .order-step3-paypal-input { position:relative; top: 2px; display: inline-block;  } .order-step3-paypal-new { font-size:12px; display: inline-block; } .order-step3-paypal-new-sub { padding-left: 17px; font-size: 12px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-shipping */
.order-step3-card { width: 100%; margin: 30px 0 50px 10px; } .order-step3-card-input { position:relative; top: 2px; display: inline-block;  } .order-step3-card-new { font-size:12px; display: inline-block; } .order-step3-card-new-sub { padding-left: 17px; font-size: 12px; color:#999999; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
/* order-step3-bot-container */
.order-step3-bot-container { height: 80px; margin-bottom: 60px; padding: 23px 0 20px 40px; background-color: #e5e5e5; border-top: 1px solid #333; border-bottom: 1px solid #333; }
/* order-step3-card-container */
.order-step3-card-container { width: 100%; padding: 20px 0 20px 0; }
/* order-step3-card-title */
.order-step3-card-title { font-style:italic; color:#ccc; font-family:"Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; display:inline-block; } .order-step3-card-border-left { width: 30%; margin: 0 5px 5px 0; border-bottom: 1px solid #ccc; display: none; } .order-step3-card-border-right { width: 30%; margin: 0 0 5px 5px; border-bottom: 1px solid #ccc; display: none; }
/* card-from */
.order-step3-card-general-input  { width: 70%; margin: 10px 0 10px 0; } .order-step3-card-cvv-input { width: 70%; margin: 10px 0 10px 0; } .order-step3-card-month-input { width: 70%; margin: 10px 0 10px 0; } .order-step3-card-year-input { width: 70%; margin: 10px 0 10px 0; } .order-step3-card-checkbox { text-align: left; width: 70%; margin: 10px 0 10px 2px; font-size: 12px; } 
}
/* End Main: $order-step3-css */






/* Main: $error-page-css */
/* @error-page-fit-on-pc */
@media (min-width: 1199px) {
/* error-page-container */
.error-page-fit-on-pc { width: 1024px; }
/* Copy & Contact */
.error-page-copy { float: left; width: 200px; margin-top:20px; } .error-page-contact {  text-align:right; float: right; width: 200px; margin:20px 10px 0 0; } }
/* @error-page-fit-on-tablet */
@media (min-width: 993px) and (max-width: 1198px) {
/* error-page-container */
.error-page-fit-on-tablet { width: 994px; }
/* Copy & Contact */
.error-page-copy { float: left; width: 200px; margin-top:20px; } .error-page-contact {  text-align:right; float: right; width: 200px; margin:20px 10px 0 0; } }
/* @error-page-fit-on-tablet */
@media (min-width: 768px) and (max-width: 992px)  {
/* error-page-container */
.error-page-fit-on-tablet { width: 768px; }
/* Copy & Contact */
.error-page-copy { float: left; width: 200px; margin-top:20px; } .error-page-contact {  text-align:right; float: right; width: 200px; margin:20px 0 0 0; } }
/* @error-page-fit-on-mobile */
@media (min-width: 1px) and (max-width: 767px) {
/* error-page-container */
.error-page-fit-on-mobile { width: 100%; }
/* Copy & Contact */
.error-page-copy { float: left; width: 140px; margin-top: 20px; } .error-page-contact {  text-align:right; float: right; width: 100px; margin:20px 0 0 0; } }
/* End Main: $error-page-css */

/* Main: $commun.css */
/* @btn-media-mobile */
@media (min-width: 1px) and (max-width: 767px) { .btn-xs-mobile { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; } }
/* @commun-txt-color */ 
.txt-pink { color: #f270b7; } .txt-dark { color: #333333; } .txt-white { color: #ffffff; } .txt-gray { color: #999999; }
/* @commun-txt-size */
.txt-12px { font-size: 12px; } .txt-13px { font-size: 13px; } .txt-14px { font-size: 14px; }
/* @commun-txt-align */
.txt-left { text-align: left !important; }
/* @commun-txt-media-size */
/* media-pc */
@media (min-width: 1199px) { .txt-12px-pc { font-size: 12px; } .txt-13px-pc { font-size: 13px; } .txt-14px-pc { font-size: 14px; } .txt-15px-pc { font-size: 15px; } .txt-16px-pc { font-size: 16px; } .txt-18px-pc { font-size: 18px; } }
/* media-tablet */
@media (min-width: 768px)  and (max-width: 1198px) { .txt-12px-tablet { font-size: 12px; } .txt-13px-tablet { font-size: 13px; } .txt-14px-tablet { font-size: 14px; } .txt-16px-tablet { font-size: 16px; } .txt-18px-tablet { font-size: 18px; } }
/* media-tablet-s */
@media (min-width: 768px) and (max-width: 992px) { .txt-12px-sm { font-size: 12px; } .txt-13px-sm { font-size: 13px; } .txt-14px-sm { font-size: 14px; } .txt-16px-sm { font-size: 16px; } .txt-18px-sm { font-size: 18px; } }
/* media-mobile */
@media (min-width: 1px) and (max-width: 767px) { .txt-12px-mobile { font-size: 12px; } .txt-13px-mobile { font-size: 13px; } .txt-14px-mobile { font-size: 14px; } }
/* @font-face */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); }
@font-face { font-family: 'Dancing Script'; font-style: normal; font-weight: 400; src: local('Dancing Script'), local('DancingScript'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff'); }
/* @commun-bg-css */
.bg-pink { background-color: #f270b7; } .bg-dark { background-color: #333333; } .bg-gray { background-color: #999999; } .bg-dark-gray {background-color:#6f6f6f; } .bg-white-gray { background-color:#f1f1f1; } .bg-white-pink { background-color:#fef7f9; }
/* @commun-border-size */
/* border-1px */
.border-1px { border: 1px solid; } .border-1px-b { border-bottom: 1px solid; }
/* @commun-border-color */
.border-grey { border-color: #e7e7e7 !important;}
/* @commun-width-prt */
.width-50prt { width: 50%; } .width-80prt { width: 80%; }
/* @commun-div-no-flow */
.div-no-flow { overflow: hidden !important;  overflow-y: hidden ! important; overflow-x: hidden !important; }
/* @commun-div-inline-block */ 
.div-inline-block { display: inline-block !important; }
/* @commun-div-media-float */
/* div-right-pc */
@media (min-width: 1199px) { .div-right-pc { float: right; } } 
/* div-right-pc */
@media (min-width: 768px) and (min-width: 1199px) {.div-right-pc-tablet { float: right; } }  
/* div-right-tablet */
@media (min-width: 993px) and (max-width: 1198px) { .div-right-tablet { float: right; } }
/* div-right-tablet */
@media (min-width: 768px) and (max-width: 992px) { .div-right-tablet { float: none !important; } }
/* @commun-div-media-hidden */ 
/* div-hidden-pc-tablet */
@media (min-width: 768px) { .div-hidden-pc-tablet { display:none !important; } }
/* @commun-icone-size */
.fa-1v5x { font-size: 15px; }
/* @commun-link */
/* pink */
a.link-pink:link { color: #f270b7 !important; text-decoration: none !important; font-family: "Open Sans", sans-serif !important; }
a.link-pink:active { color: #f270b7 !important; text-decoration: none !important; font-family: "Open Sans" , sans-serif !important; }
a.link-pink:visited { color: #f270b7 !important; text-decoration: none !important; font-family: "Open Sans" , sans-serif !important; }
a.link-pink:hover { color: #333333 !important; text-decoration: underline !important; font-family: "Open Sans" , sans-serif !important; }
/* white */
a.link-white:link { color: #ffffff !important; text-decoration: none !important; }
a.link-white:active { color: #ffffff !important; text-decoration: none !important; }
a.link-white:visited { color: #ffffff !important; text-decoration: none !important; }
a.link-white:hover { color: #ffffff !important; text-decoration: none !important; }
/* pink-bg */
a.link-pink-bg:link { color: #fff !important; background-color:#f270b7 !important; text-decoration: none !important; }
a.link-pink-bg:active { color: #333 !important; background-color:#f270b7 !important; text-decoration: none !important; }
a.link-pink-bg:visited { color: #333 !important; background-color:#f270b7 !important; text-decoration: none !important; }
a.link-pink-bg:hover { color: #fff !important; background-color:#333 !important; text-decoration: underline !important; }
/* pinkwhite */
a.link-pinkwhite:link { color: #f270b7 !important; text-decoration: none !important; }
a.link-pinkwhite:active { color: #f270b7 !important; text-decoration: none !important; }
a.link-pinkwhite:visited { color: #f270b7 !important; text-decoration: none !important; }
a.link-pinkwhite:hover { color: #ffffff !important; text-decoration: underline !important; }
/* whitepink */
a.link-whitepink:link { color: #ffffff !important; text-decoration: none !important; font-family: "Open Sans" , sans-serif !important; }
a.link-whitepink:active { color: #ffffff !important; text-decoration: none !important; font-family: "Open Sans" , sans-serif !important; }
a.link-whitepink:visited { color: #ffffff !important; text-decoration: none !important; font-family: "Open Sans" , sans-serif !important; }
a.link-whitepink:hover { color: #f270b7 !important; text-decoration: underline !important; font-family: "Open Sans" , sans-serif !important; }
/* dark */
a.link-dark:link { color: #333333 !important; text-decoration: none !important; }
a.link-dark:active { color: #333333 !important; text-decoration: none !important; }
a.link-dark:visited { color: #333333 !important; text-decoration: none !important; }
a.link-dark:hover { color: #f270b7 !important; text-decoration: underline !important; }
/* gray */
a.link-gray:link { color: #cccccc !important; text-decoration: none !important; }
a.link-gray:active { color: #cccccc !important; text-decoration: none !important; }
a.link-gray:visited { color: #cccccc !important; text-decoration: none !important; }
a.link-gray:hover { color: #ffffff !important; text-decoration: underline !important; }
/* pink-mobile */
a.link-pink-mobile:link { color: #f270b7 !important; text-decoration: none !important; }
a.link-pink-mobile:active { color: #f270b7 !important; text-decoration: none !important; }
a.link-pink-mobile:visited { color: #f270b7 !important; text-decoration: none !important; }
a.link-pink-mobile:hover { color: #333333 !important; background-color: #f270b7 !important; text-decoration: none !important; }
/* dark-mobile */
a.link-dark-mobile:link { color: #f270b7 !important; text-decoration: none !important; }
a.link-dark-mobile:active { color: #f270b7 !important; text-decoration: none !important; }
a.link-dark-mobile:visited { color: #f270b7 !important; text-decoration: none !important; }
a.link-dark-mobile:hover { color: #333333 !important; background-color: #f270b7 !important; text-decoration: none !important; }
/* @commun-margin-normal */
/* m-2px */
.m-2px { margin: 2px; } .m-2px-t { margin-top: 2px; } .m-2px-r { margin-right: 2px; } .m-2px-l { margin-left: 2px; }
/* m-3px */
.m-3px-t { margin-top: 3px; } .m-3px-l { margin-left: 3px; } .m-3px-b { margin-bottom: 3px; }
/* m-5px */
.m-5px-t { margin-top: 5px; } .m-5px-l { margin-left: 5px; } .m-5px-b { margin-bottom: 5px; }
/* m-8px */
.m-8px-t { margin-top: 8px; } .m-8px-b { margin-bottom: 8px; }
/* m-10px */
.m-10px-t { margin-top: 10px; } .m-10px-r { padding-right: 10px; } .m-10px-l { margin-left: 10px; }
/* m-12px */
.m-12px-t { margin-top: 12px; }
/* m-13px */
.m-13px-t { margin-top: 13px; } .m-13px-l { margin-left: 13px; }
/* m-15px */
.m-15px-t { margin-top: 15px; } .m-15px-r { margin-right: 15px; } .m-15px-b { margin-bottom: 15px; } .m-15px-l { margin-left: 15px; }
/* m-20px */
.m-20px-r { margin-right: 20px; }
/* m-30px */
.m-30px-t { margin-top: 30px; }
/* @commun-margin-media */
/* margin-media-pc */
@media (min-width: 1199px) { 
/* no-margin-pc */
.no-m-pc { margin: 0 !important; }
/* margin5px-pc */
.m-8px-pc-l { margin-left: 8px; }
/* margin10px-pc */
.m-10px-pc-l { margin-left: 10px; } .m-10px-pc-b { margin-bottom: 10px; }
/* margin25px-pc */
.m-25px-pc-t { margin-top: 25px; } .m-25px-pc-b { margin-bottom: 25px; }
/* margin30px-pc */
.m-30px-pc-t { margin-top: 30px; }
/* margin35px-pc */
.m-35px-pc-t { margin-top: 35px; } .m-35px-pc-b { margin-bottom: 35px; }
/* margin40px-pc */
.m-40px-pc-t { margin-top: 40px; } .m-40px-pc-b { margin-bottom: 40px; }
}
/* margin-media-tablet */
@media (min-width: 768px) and (max-width: 1198px) {
/* margin30px-tablet */
.m-30px-tablet-t { margin-top: 30px; }
/* margin40px-tablet */
.m-40px-tablet-b { margin-bottom: 40px; }
}
/* margin-media-mobile */
@media (min-width: 1px) and (max-width: 767px) {
/* no-margin-mobile */
.no-m-mobile { margin: 0 !important; } 
/* margin5px-mobile */
.m-5px-mobile { margin: 5px; }
/* margin8px-mobile */
.m-8px-mobile-t { margin-top: 8px; }
/* margin20px-mobile */
.m-20px-mobile-b { margin-bottom: 20px; }
/* margin10ptr-mobile */
.m-10ptr-mobile-l { margin-left: 10%; }
}
/* @commun-padding-normal */
/* no-p */
.no-p { padding: 0 !important; }  .no-p-l { padding-left: 0 !important; } .no-p-r { padding-right: 0 !important; } .no-p-b { padding-bottom: 0 !important; }
/* m-5px */
.p-5px { padding: 5px; } .p-5px-b { padding-bottom: 5px; }
/* m-10px */
.p-10px { padding: 10px; } .p-10px-t { padding-top: 10px; } .p-10px-b { padding-bottom: 10px; }
/* @commun-float-mobile */
/* media-mobile */
@media (min-width: 1px) and (max-width: 767px) { .no-pull-mobile { float: none !important;} }