vti_encoding:SR|utf8-nl
vti_author:SR|paul-PC\\paul
vti_modifiedby:SR|paul-PC\\paul
vti_timelastmodified:TR|18 Nov 2013 09:14:35 -0000
vti_timecreated:TR|18 Nov 2013 09:14:35 -0000
vti_cacheddtm:TX|18 Nov 2013 09:14:35 -0000
vti_filesize:IR|4149
vti_cachedtitle:SR|ENTER Key Configuration — CKEditor Sample
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|S|../../../ckeditor.js Q|../../../samples/sample.css H|../../../samples/index.html K|http://docs.ckeditor.com/ K|http://docs.ckeditor.com/ A|../../../samples/sample_posteddata.php H|http://ckeditor.com/ H|http://cksource.com/
vti_cachedsvcrellinks:VX|FSUS|public/themes/admin/default/assets/js/ckeditor/ckeditor.js FQUS|public/themes/admin/default/assets/js/ckeditor/samples/sample.css FHUS|public/themes/admin/default/assets/js/ckeditor/samples/index.html NHHS|http://docs.ckeditor.com/ NHHS|http://docs.ckeditor.com/ FAUS|public/themes/admin/default/assets/js/ckeditor/samples/sample_posteddata.php NHHS|http://ckeditor.com/ NHHS|http://cksource.com/
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|ckeditor-sample-name Using\\ the\\ "Enter"\\ key\\ in\\ CKEditor ckeditor-sample-group Advanced\\ Samples ckeditor-sample-description Configuring\\ the\\ behavior\\ of\\ <em>Enter</em>\\ and\\ <em>Shift+Enter</em>\\ keys.
vti_charset:SR|utf-8
vti_title:SR|ENTER Key Configuration — CKEditor Sample
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|public/themes/admin/default/assets/js/ckeditor/samples/index.html
vti_syncwith_codelab.ro\:22/public_html/infopages:TX|18 Nov 2013 09:14:35 -0000
vti_syncofs_codelab.ro\:22/public_html/infopages:TW|18 Nov 2013 09:15:35 -0000
