<div id='homer' style="background:url('homer.jpg') right center no-repeat #ececec; height:135px; width:280px; padding:30px 10px;">
    <strong>Homer</strong><br/>
    <em>\noun\</em><br/>
    <strong>1.</strong> American bonehead<br/>
    <strong>2. Pull a Homer-</strong><br/>
    to succeed despite<br/>
    idiocy
</div>
<script>
    $('#homer strong').css({color:'red'});
</script>